{% block field_help %}
    {% if help|default %}
        <span class="question-help">{{ help }}</span>
    {% endif %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div>
            {{ form_label(form, label|default(null), {'label_attr': {'class': valid ? 'question-label': 'question-label error'}}) }}
            {{ block('field_help') }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block choice_widget_expanded -%}
    <ul {{ block('widget_container_attributes') }} class="no-bullet alternatives{% if not valid %} error{% endif %}">
        {%- for child in form %}
            <li>
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </li>
        {% endfor -%}
    </ul>
{%- endblock choice_widget_expanded -%}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<small class="error">{% else %}<div data-alert class="alert-box alert">{% endif %}
        {%- for error in errors -%}
            {{ error.message }}
            {% if not loop.last %}, {% endif %}
        {%- endfor -%}
        {% if form.parent %}</small>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}
