{% extends 'base.html.twig' %}

{% block customScripts %}
	
	{# Easy routing with FOSJsRouting bundle #}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{# deleteableforum js file #}
	<script src="{{ asset('bundles/app/js/deleteableforum.js') }}"></script>
	
	<script>
	
	$(document).ready(function() {
            $('.delete').deleteableforum('forum_delete_thread_by_id', {
                confirmation: {
                    modal: $('#confirmModal'),
                    acceptButton: $('#modalAccept'),
                    cancelButton: $('#modalCancel')
                }
            });
        });

	</script>
	
{% endblock %}

{% block title %}
	{{ subforum }}
{% endblock %}

{% block body %}
    <p></p>
	
	<div class="row">
        <div class="small-12 medium-12 large-12 columns">

					<h1> {{ subforum }} </h1>
					
					<hr>
					
					<ul class="breadcrumbs">
						<li><a href=" {{ path('forum_show') }}">Forum</a></li>
						<li><a href=" {{ path('forum_show_specific_by_id', { id: forum.id } ) }}"> {{forum}} </a></li>
						<li class="current"><a href="#"> {{ subforum }} </a></li>
					</ul>
					
					
					
					<ul class="inline-list">
					
						<li> <a href=" {{ path('forum_create_thread', { 'id': subforum.id, 'forumId': forum.id }) }} " class="button tiny">Opprett tråd</a> </li>
						
						{% if is_granted('ROLE_SUPER_ADMIN') %}
						
							<li> <a href=" {{ path('forum_edit_subforum_by_id', { 'id': subforum.id }) }} " class="button tiny">Rediger </a> </li>
							
						{% endif %}
						
					</ul>
					
					<hr>
					
					{% if subforum.schoolDocument is not empty %}
					
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">

									<h3> Skoledokument </h3>
									
									{{ subforum.schoolDocument|raw }}
									
							</div>
						</div>
					
					{% endif %}
					
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
														
								{% for t in threads %}	
									
									<forum>
									
										<div class="panel callout radius">
											<div class="row">
											
												{% if ( is_granted('ROLE_SUPER_ADMIN') or ( t.user == app.user)) %}
													<div class="small-12 medium-12 large-7 columns">
												{% else %}
													<div class="small-12 medium-12 large-10 columns">
												{% endif %}
													
													<h3> <a href="{{ path('forum_show_specific_thread_by_id', { 'id': t.id, 'forumId': forum.id }) }}">{{ t.subject }}</a> </h3>
													Skrevet av <a href="{{ path('specific_profile', { 'id': t.user.id }) }}">{{ t.user }}</a>
													 - 
													{{ t.dateTime|date ('d/m/y') }} Kl. {{ t.dateTime|date ('H:i') }}
													
												</div>
												
												<div class="small-12 medium-6 large-2 columns">
													
													<br>
													
													
												</div>
												
												{% if ( is_granted('ROLE_SUPER_ADMIN') or ( t.user == app.user)) %}	
												
													<div class="small-12 medium-12 large-3 columns">

														<a href=" {{ path('forum_edit_thread_by_id', { 'id': t.id,  'forumId': forum.id }) }} " class="button tiny">Rediger </a>

														<a href="#" id="{{ t.id }}" class="button tiny alert delete"><i class="fa fa-trash-o"></i> Slett</a>
													
													</div>
													
												{% endif %}
											</div>
										</div>
									
									</forum>
							
								{% endfor %}
					
						</div>
					</div>

		</div>
	</div>
	
	<div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete" aria-hidden="true" role="dialog">
		<h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
		<ul class="inline-list">
			<a id="modalAccept" href="#" class="button tiny">Slett</a>
			<a id="modalCancel" href="#" class="button tiny">Avbryt</a>
		</ul>
	</div>
	
{% endblock %}