<table class="table">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Resource</th>
        <th>Roles</th>
        <th>Teams</th>
        <th>Users</th>
    </tr>
    {% for rule in rules %}
        <tr>
            <td class="table-menu">
                <div class="dropdown">
                    <div class="clickable px-2" id="options-{{ loop.index }}" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-secondary"></i>
                    </div>
                    <div class="dropdown-menu pt-0" aria-labelledby="options-{{ loop.index }}">
                        <div class="dropdown-header mb-2"><strong>{{ rule.name }}</strong></div>
                        {% set editPath = rule.isRoutingRule ? 'access_rules_edit_routing' : 'access_rules_edit' %}
                        <a href="{{ path(editPath, { 'id': rule.id }) }}"
                           class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Edit
                        </a>
                        <a href="{{ path('access_rules_copy', { 'id': rule.id }) }}"
                           class="dropdown-item"><i class="fa fa-copy text-primary"></i> Copy
                        </a>
                        <form method="POST"
                              onsubmit="return confirm('Deleting {{ rule.name }}. Are you sure?')"
                              action="{{ path('access_rules_delete', { id: rule.id }) }}">
                            <button type="submit"
                                    class="dropdown-item">
                                <i class="fa fa-trash text-danger"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>
            <td>{{ rule.name }}</td>
            <td>{% if rule.isRoutingRule %}
                    {{ rule.method }} {{ get_path(rule.resource) }}
                {% else %}
                    {{ rule.resource }}
                {% endif %}</td>
            <td>{{ rule.roles|join(", ") }}</td>
            <td>{{ rule.teams|join(", ") }}{{ rule.forExecutiveBoard ? (rule.teams|length > 0 ? ', ' : '') ~ 'Hovedstyret' }}</td>
            <td class="text-nowrap">
                {% if rule.users|length %}
                    <span class="clickable text-primary" data-toggle="modal" data-target="#rule-{{ rule.id }}">
                                    Show users ({{ rule.users|length }})
                                </span>
                {% else %}
                    &lt;No users&gt;
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% for rule in rules %}
    <div class="modal fade" id="rule-{{ rule.id }}" tabindex="-1" role="dialog" aria-labelledby="rule-{{ rule.id }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rule-{{ rule.id }}Label">Users in rule {{ rule.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body table-responsive">
                    <table class="table table-bordered">
                        <tr><th>Name</th></tr>
                        {% for user in rule.users %}
                            <tr><td>{{ user }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
