<div class="row">
    {% if is_granted('ROLE_HIGHEST_ADMIN') %}
        <div class="small-6 medium-5 large-3 columns">
            <div class="row collapse">
                <div class="small-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppehandling</option>
                        <option value="deleteApplication">Slett søknad</option>
                        <option value="deleteInterview">Slett intervju</option>
                    </select>
                </div>
                <div class="small-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="small-3 columns"style="padding-left: 15px">
                        <a class="button tiny" href="{{ path('admissionadmin_team_interest' , { 'semester': semester.id })}}">Team-interesse</a>
                    </div>
                {% endif %}
            </div>
        </div>
    <div class="small-12 {{ is_granted('ROLE_HIGHEST_ADMIN') ? 'medium-7 large-9' }} columns">
            <span class="float-right">Ja: {{ yes }} / Kanskje: {{ maybe }} / Nei: {{ no }} /
                Totalt: {{ applications | length }}</span>
    </div>
</div>
