{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett todo-element
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('todo_list') }}">Sjekkliste</a>
    </li>
    <li class="breadcrumb-item active">Opprett</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><i class="fa fa-clipboard-list"></i> {{ create_or_update_title }}</div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">

                <div class="col-12 col-md-12 col-lg-6">

                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.priority) }}


                </div>

                <div class="col-12 col-md-12 col-lg-6">

                    {% if has_access_to('all_departments') %}
                        {{ form_row(form.department) }}
                    {% else %}
                        {% do form.department.setRendered() %}
                    {% endif %}
                    {{ form_row(form.semester) }}
                    {{ form_row(form.deadlineDate) }}


                </div>

            </div>

            <div class="row">

                <div class="col-12 col-md-12 col-lg-6">
                    {{ form_row(form.isMandatory) }}
                    <button type="submit" class="btn btn-success cta-link">{{ create_or_update_action }}</button>
                    <a href="{{ path('todo_list', {'department': department.id, 'semester': semester.id}) }}">
                        <button type="button" class=" btn btn-primary">Avbryt</button>
                    </a>
                </div>


            </div>

            {{ form_end(form) }}

            <br>
            {% if not is_granted_team_leader() %}
                <p><span class="text-alert">Obs!</span> Du kan kun opprette gjøremål for din egen avdeling.</p>
            {% endif %}

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {% include 'common/datetime_picker.html.twig' with {
        inputIds: [form.deadlineDate.vars.id]
    }%}
{% endblock %}
