{% extends 'adminBase.html.twig' %}
{% block title %}
    Gi oss feedback!
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}
{% block breadcrumb_menu %}
    <div class="btn-group">
        <a class="btn text-primary btn-sm" href="{{ path('feedback_admin_list') }}">
            <i class="fa fa-list"></i> Tilbakemeldinger
            </a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Send en melding til IT-teamet!
                </div>
                <div class="card-body">
                    <ul>
                        <li>Har du et spørsmål til IT-teamet?</li>
                        <li>Får du opp en feilmelding når du prøver å gjøre noe?</li>
                        <li>Har du en god ide til en ny funksjonalitet?</li>
                    </ul>
                    <strong>IT-teamet vil gjerne høre fra deg.</strong>
                    <br><br>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}