<link rel="stylesheet type=" text/css" href="{{ asset(css/app.css) }}">

{% block body %}

    <pdf>

        <dynamic-page>

            <div class="small-2">
                {{ today|date ('d/m/y') }} - Kl. {{ today|date ('H:i:s') }}


                <div class="address">

                    <p>

                        Vektorprogrammet <br/>
                        NT-fakultetet, NTNU <br/>
                        Høgskoleringen 5 <br/>
                        7491 Trondheim <br/>
                        Organisasjonsnummer: 998 744 814 <br/>

                        {{ today|date ('d/m/y') }}, Trondheim <br/>

                    </p>

                </div>
            </div>
            <h1> Attest </h1>

            <strong>{{ user }} har vært deltagende i Vektorprogrammet. </strong>

            <p>

                I sitt arbeid for det frivillighetsbaserte Vektorprogrammet har {{ user }} deltatt som assistent i
                undervisningen ved en ungdomsskole i Trondheim.
                Dette innebærer skoledager der man støtter læreren i matematikkundervisningen.
                Arbeidsoppgavene varierer fra undervisning i mindre grupper til oppgaveløsning med elevene.

            </p>

            <p>

                {% if assistantHistory is not empty %}
                    <strong>{{ user }} har jobbet som assistent for vektorprogrammet i følgende tidsperioder: </strong>
                    <br/>
                {% endif %}

                {% for ah in assistantHistory %}

                    Semesteret "{{ ah.semester.name }}", fra {{ ah.semester.semesterStartDate|date ('d/m/y') }} til {{ ah.semester.semesterEndDate|date ('d/m/y') }}, på skolen

                    {% if ah.school is not null %}
                        {{ ah.school.name }},
                    {% else %}
                        <strong>Skolen er slettet</strong>,
                    {% endif %}

                    {{ ah.workdays }}

                    {% if ah.workdays == 1 %}
                        dag
                    {% else %}
                        dager
                    {% endif %}

                    i uken.

                    <br/>

                {% endfor %}

            </p>

            <p>

                {% if workHistory is not empty %}
                    <strong>{{ user }} har jobbet som team medlem for vektorprogrammet i følgende
                        tidsperioder: </strong> <br/>
                {% endif %}

            <h3>Team historie</h3>
            <table style="width:100%; table-layout: fixed;">
                <tr>
                    <th>Team</th>
                    <th>Stilling</th>
                    <th>Start</th>
                    <th>Slutt</th>
                </tr>
                {% for wh in workHistory %}
                    <tr>
                        <td>
                            {% if wh.team is not null %}
                                {{ wh.team.name }}
                            {% else %}
                                Teamet er slettet
                            {% endif %}
                        </td>

                        <td>
                            {% if wh.position is not null %}
                                {{ wh.position.name }}
                            {% else %}
                                Stillingen er fjernet
                            {% endif %}
                        </td>

                        <td>
                            {% if wh.startSemester is null %}
                                Ingen startsemester valgt
                            {% else %}
                                {{ wh.startSemester.name }}
                            {% endif %}
                        </td>

                        <td>
                            {% if wh.endSemester is not null %}
                                {{ wh.endSemester.name }}
                            {% else %}
                                Fortsatt aktiv
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>


            </p>

            <p>

                <strong>På vegne av Vektorprogrammet </strong>

            </p>

            <p>
                ___________________________________________________<br/>

                {{ app.user }} <br/>
                Rekrutteringsansvarlig, Vektorprogrammet <br/>

            </p>

        </dynamic-page>

    </pdf>

{% endblock %}
