{% extends 'base.html.twig' %}

{% block title %}
    Velg profilbilde | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scripts/dropzone.js') }}"></script>
    <script type="text/javascript" src="http://feather.aviary.com/imaging/v2/editor.js"></script>

    <script>


        var featherEditor = new Aviary.Feather({
            apiKey: '4a1caf097b3d48e9b917e9f1bc430ad3',
            fileFormat: 'jpg',
            cropPresetsStrict: true,
            onSave: function(imageID, newURL) {
                saveImgToFile(imageID,newURL);

            }
        });

        function launchEditor(event) {
            event.preventDefault();
            if($("#profileImgHidden").attr('src') !== ''){
                featherEditor.launch({
                    forceCropPreset: ['Profile Preset','400x400'],
                    image: 'profileImgHidden'
                });
            }
            else{
                alert('Last opp et bilde!');
            }
            return true;
        }

        function onReady(){



            // Bind editBtn to editor
            $('#editImageBtn').on('click',launchEditor);


        }

        function saveImgToFile(imageID, newURL) {
            featherEditor.showWaitIndicator();
            $.ajax({
                type: "POST",
                url: "{{ path('profile_save_response_from_editor') }}",
                data: JSON.stringify({
                    aviaryURL: newURL,
                }),
                success: function(response) {
                    if(response.success) {
                        $("#profileImg").attr('src',response.localURL);
                        $("#profileImgHidden").attr('src',response.localURL);
                        featherEditor.close();
                    } else {
                        alert(response.cause);
                        featherEditor.hideWaitIndicator();
                    }
                }
            });
        }

        function editBtnClick(event){
            event.preventDefault();
            var elem = $(this).attr('id').substr(7);
            if($('#article_image' + elem).val() !== ''){

                //alert(elem);
                Article.launchEditor(elem);
            }
            else{
                alert('Du må velge et bilde!')
            }
        }

        Dropzone.options.dropzone = {
            paramName: "img", // The name that will be used to transfer the file
            dictDefaultMessage: "Slipp bildet her<br>(eller trykk for &aring velge)",
            createImageThumbnails: false,
            acceptedFiles: ".jpg,.jpeg",
            complete: function(file) {
                    this.removeFile(file);
                },
            init: function() {
                this.on("success", function(file,response) {
                    $("#profileImg").attr('src',response.url + '?' + new Date().getTime());
                    $("#profileImgHidden").attr('src',response.url + '?' + new Date().getTime());
                });
            }
        };

        $( document ).ready(function() {
            onReady();
        });
        </script>

    <style>

        #dropzone {
            position: relative;
            border-radius: 5px;
            color: #686868;
            font-size:24px;
            font-weight: bold;
            text-align: center;
            width: 300px;
            cursor: pointer;
            margin: 0px auto;
            margin-top: 20px;
            height: 300px;
            background-color: #E5F2FA;
            border:4px dashed #6fceee;
        }

        #dropzone div {
            position: absolute;
            top: 40%;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #dropzone img {
            border-radius: 10px;
            vertical-align: middle;
            max-width: 95%;
            max-height: 95%;
        }

        #dropzone [type="file"] {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #dropzone:hover {
            border: 4px dashed #66abcc;
            color: #323232;
        }

        #dropzone.dropped {
            background: #222;
            border: 10px solid #444;
        }

        .dz-file-preview{
            display: none;
        }

        .bordered{
            border-left:1px solid #aaaaaa;
        }

        #profileImg{
            width: 300px;
            height: 300px;
            margin: 0px auto;
        }

        #profileImg{
            width: 300px;
            height: 300px;
            margin: 0px auto;
        }

        #profileImgHidden{
            display: none;
            float: left;
        }


    </style>

{% endblock %}

{% block body %}
    <img id="profileImgHidden" src="{{ path }}" />
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">

                    <h1> Profilbilde </h1>

                    <p>
                        Velg profilbilde for {{ user.firstName }} {{ user.lastName }}
                    </p>

                    {% for flashMessage in app.session.flashbag.get('profile-notice') %}
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                <div data-alert class="alert-box info radius">
                                    {{ flashMessage }}
                                    <a href="#" class="close">&times;</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <hr>

                    <div class="row">
                        <div class="medium-6 columns text-center">
                            <form action="{{ path('profile_upload_photo') }}" class="dropzone" id="dropzone"></form>
                        </div>
                        <div class="medium-6 columns text-center bordered">

                            <img id="profileImg" src="{{ path }}" />
                            <div class="row">
                                <br>
                                <a href="#" class="button small" id="editImageBtn">Rediger bilde</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns text-center">
                                <br>
                                <a href="{{ path('profile_save_photo') }}" class="button medium" id="editImageBtn">Lagre</a>
                            </div>
                        </div>

                    </div>
                    <br>

                    <hr>

                </div>
            </div>


        </div>
    </div>

{% endblock %}