{% extends 'adminBase.html.twig' %}

{% block title %}
    Rediger Vektorepost | {{ user }}
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">

                    <h1> Redigerer Vektorepost | {{ user }} </h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="button">Lagre</button>
                    {{ form_end(form) }}

                </div>
            </div>


        </div>
    </div>

{% endblock %}
