{% extends 'base.html.twig' %}

{% block title %}
    Rediger Passord | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
			
				<div class="row">
					<div class="small-12 medium-12 large-12 columns">
								
						<h1> Redigerer passord </h1>
						
						<p>
							Redigerer passord for {{ user.firstName }} {{ user.lastName }} 
						</p>
						
						<hr>
								
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}

					
					</div>
				</div>
				
			
		</div>
    </div>
	
{% endblock %}
