{% extends 'base.html.twig' %}

{% block title %}
    Velg profilbilde | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scripts/dropzone.js') }}"></script>

{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">

                    <h1> Profilbilde </h1>

                    <p>
                        Velg profilbilde for {{ user.firstName }} {{ user.lastName }}
                    </p>

                    <hr>

                    <div class="row">
                        <div class="medium-6 columns text-center" style="border-right:1px solid #aaaaaa;">
                            <div class="row">
                                <div class="columns medium-offset-2 medium-8">
                                    <form style="width: 100%;height: 200px;background-color: #DDDDDD;border:4px dashed #008CBA;" action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
                                </div>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <img src="" style="width: 300px; height: 300px;"
                        </div>
                    </div>
                    <br><br><br>

                    <hr>

                    <!--
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    -->

                </div>
            </div>


        </div>
    </div>

{% endblock %}