{% extends 'base_new.html.twig' %}

{% block title %}
    Velg profilbilde | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('vendor/cropperjs/cropper.min.css') }}">
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/profile_photo.css') }}">
{% endblock %}

{% block body %}
    <div class="container edit-profile-photo">
        <h1>Last opp profilbilde{% if user != app.user %} for {{ user }}{% endif %}</h1>
        <div id="app" style="display:none">
            <div v-if="!photoLoaded">
                <form action="{{ path('profile_upload_photo', {'id': user.getId()}) }}" class="dropzone"
                      id="dropzone" method="POST">
                </form>
            </div>
            <div v-if="photoLoaded && !croppedImg" class="crop-area">
                <img id="filecrop">
                <button @click="cropImage()" class="btn btn-primary mt-5">Neste</button>
            </div>
            <div v-if="photoLoaded && croppedImg">
                <div class="preview">
                    <img :src="previewImgUrl">
                    <button @click="upload()" class="btn btn-primary mt-5" :disabled="uploading">Last opp</button>
                </div>
            </div>
            <p v-if="uploadError" class="text-center mt-5">
                <span class="upload-error"><i class="fa fa-warning text-warning"></i> ${uploadError}</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="{{ asset_with_version('vendor/dropzone/dist/min/dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset_with_version('vendor/cropperjs/cropper.min.js') }}"></script>

    <script>
      new Vue({
        el: '#app',
        data: {
          uploading: false,
          photoLoaded: false,
          showPreview: false,
          cropper: null,
          croppedImg: null,
          uploadError: '',
        },
        delimiters: ['${', '}'],
        mounted() {
          Dropzone.options.dropzone = {
            maxFilesize: 5,
            autoProcessQueue: false,
            paramName: 'img', // The name that will be used to transfer the file
            dictDefaultMessage: 'Slipp bildet her<br>(eller trykk for &aring velge)',
            createImageThumbnails: false,
            acceptedFiles: 'image/*',
            accept: function (file, done) {
              this.photoLoaded = true;
              this.showCrop(file);
              done();
            }.bind(this),
          };

          $('#app').show();
        },
        computed: {
          previewImgUrl() {
            if (!this.croppedImg) {
              return '';
            }

            var urlCreator = window.URL || window.webkitURL;
            return urlCreator.createObjectURL(this.croppedImg);
          },
        },
        methods: {
          showCrop(file) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#filecrop').attr('src', e.target.result);
              this.cropper = new Cropper(document.querySelector('#filecrop'), {
                aspectRatio: 1,
                viewMode: 1,
              });
            }.bind(this);

            reader.readAsDataURL(file);
          },
          cropImage() {
            this.cropper.getCroppedCanvas().toBlob(function (blob) {
              this.croppedImg = blob;
            }.bind(this));
          },
          upload() {
            this.cropper.getCroppedCanvas().toBlob(function (blob) {
              var formData = new FormData();

              formData.append('img', blob);

            this.uploading = true;

              $.ajax('{{ path('profile_upload_photo', {'id': user.getId()}) }}', {
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                  window.location = '{{ path('specific_profile', {'id': user.id}) }}';
                },
                error: function () {
                  this.uploadError = 'Noe gikk galt under opplasting av bildet. Vennligst prøv igjen';
                }.bind(this),
              });
            }.bind(this));
          },
        },
      });
    </script>
{% endblock %}

