{% extends 'base_new.html.twig' %}

{% block title %}
    Rediger Passord | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="card-title">
                            <h1 class="text-dark-blue mb-3"> Redigerer passord </h1>
                            {{ form_start(form) }}
                            {{ form_rest(form) }}
                            <button class="btn btn-primary">Lagre</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
