{% extends 'base.html.twig' %}

{% block title %}
    Velg profilbilde | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scripts/dropzone.js') }}"></script>
    <script type="text/javascript" src="http://feather.aviary.com/imaging/v2/editor.js"></script>

    <script>


        var featherEditor = new Aviary.Feather({
            apiKey: '4a1caf097b3d48e9b917e9f1bc430ad3',
            fileFormat: 'jpg',
            cropPresetsStrict: true,
            onSave: function(imageID, newURL) {
                $("#profileImg").attr('src',newURL);
                $("#profileImgHidden").attr('src',newURL);

            }
        });

        function launchEditor(event) {
            event.preventDefault();
            featherEditor.launch({
                tools: 'enhance',
                forceCropPreset: ['Profile Preset','400x400'],
                image: 'profileImgHidden'
            });
            return true;
        }

        function onReady(){
            //var inputs = $("input[id^='article_image']");

            // Load the toggle box used to group functionality (bilder/publisering etc)
            //$(".option-box").optionbox();

            // Bind elfinder to each of the image url text inputs
            //inputs.on("click", Article.openElfinder);

            // Bind onchange when the user select one photo to be shown everywhere
            //$("#article_imageAll").change(Article.selectAllChange);

            //Bind changes in input fields to img tag and make sure they are the correct value after startup
            //inputs.on("change", Article.imgLocationChange);
            /*inputs.each(function(){
                if($(this).attr('id') !== 'article_imageAll'){
                    $(this).trigger('change');
                }
            });*/
            // Bind editBtn to editor
            $('#editImageBtn').on('click',launchEditor);

            // Bind elfinder to the crop image url text input
            //$("#crop_image").on("click", Article.openElfinder);

            // Bind the button for loading the image in the crop url into img tags
            //$("#loadImage").on("click", Article.loadImages);

            // Bind the open crop modal button
            //$("#openCropModal").on("click", Article.openCropModal);

            // Bind the crop form submit button
            //$("form[name='crop']").submit(Article.onCropFormSubmit);
        }


        /*imgLocationChange: function(event){
            event.preventDefault();
            var elem = $(this).attr('id').substr(13);
            //alert(elem);
            var new_src = $(this).val();
            if(new_src !== ""){
                new_src += '?' + new Date().getTime();
            }
            $('#img'+elem).removeAttr("src").attr('src',new_src);
            if(elem !== 'All'){
                $('#imgPreview'+elem).removeAttr("src").attr('src',new_src);
            }
        },*/

        function editBtnClick(event){
            event.preventDefault();
            var elem = $(this).attr('id').substr(7);
            if($('#article_image' + elem).val() !== ''){

                //alert(elem);
                Article.launchEditor(elem);
            }
            else{
                alert('Du må velge et bilde!')
            }
        }

        Dropzone.options.dropzone = {
            paramName: "img", // The name that will be used to transfer the file
            dictDefaultMessage: "Slipp bildet her<br>(eller trykk for &aring velge)",
            maxFiles: 1,
            createImageThumbnails: false,
            init: function() {
                this.on("success", function(file,response) {
                    console.log(response);
                    $("#profileImg").attr('src',response.url);
                    $("#profileImgHidden").attr('src',response.url);
                });
            }
        };

        $( document ).ready(function() {
            onReady();
        });
        </script>

    <style>

        #dropzone {
            position: relative;
            border-radius: 5px;
            color: #686868;
            font-size:24px;
            font-weight: bold;
            text-align: center;
            width: 300px;
            cursor: pointer;
            margin: 0px auto;
            margin-top: 20px;
            height: 300px;
            background-color: #E5F2FA;
            border:4px dashed #6fceee;
        }

        #dropzone div {
            position: absolute;
            top: 40%;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #dropzone img {
            border-radius: 10px;
            vertical-align: middle;
            max-width: 95%;
            max-height: 95%;
        }

        #dropzone [type="file"] {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #dropzone:hover {
            border: 4px dashed #66abcc;
            color: #323232;
        }

        #dropzone.dropped {
            background: #222;
            border: 10px solid #444;
        }

        .bordered{
            border-left:1px solid #aaaaaa;
        }

        #profileImg{
            width: 300px;
            height: 300px;
            margin: 0px auto;
        }

        #profileImg{
            width: 300px;
            height: 300px;
            margin: 0px auto;
        }

        #profileImgHidden{
            display: none;
            float: left;
        }


    </style>

{% endblock %}

{% block body %}
    <img id="profileImgHidden" src="" />
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">

                    <h1> Profilbilde </h1>

                    <p>
                        Velg profilbilde for {{ user.firstName }} {{ user.lastName }}
                    </p>

                    <hr>

                    <div class="row">
                        <div class="medium-6 columns text-center">
                            <form action="{{ path('profile_upload_photo') }}" class="dropzone" id="dropzone"></form>
                        </div>
                        <div class="medium-6 columns text-center bordered">

                            <img id="profileImg" src="" />
                            <div class="row">
                                <br>
                                <a href="#" class="button small" id="editImageBtn">Rediger bilde</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns text-center">
                                <br>
                                <a href="#" class="button medium" id="editImageBtn">Lagre</a>
                            </div>
                        </div>

                    </div>
                    <br>

                    <hr>

                    <!--
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    -->

                </div>
            </div>


        </div>
    </div>

{% endblock %}