<div class="card">
    <div class="card-body">
        <h1 class="text-dark-blue card-title"> {{ user.firstName }} {{ user.lastName }} </h1>
        <h6>
            {% for r in user.roles %}
                {{ r.name | replace({'Bruker': user.isActiveAssistant ? 'Assistent': 'Bruker'}) }}
            {% endfor %}
            <br>
            {% if user.address %}
            {{ user.address.address }}, {{ user.address.city }}
            {%  endif %}
        </h6>
    </div>
</div>
