<div class="row">
    <div class="small-12 medium-12 large-12 columns">

        <h2> {{ user.firstName }} {{ user.lastName }} </h2>
        <h6 class="subheader">

            {{ user.fieldOfStudy.department }} - {{ user.fieldOfStudy }}

            {% for r in user.roles %}
                - {{ r.name }}
            {% endfor %}

        </h6>

        <hr>

    </div>
</div>
