{% extends 'base_new.html.twig' %}

{% block javascripts %}

    {# Need these to expose the routes to our JS code #}
    <script src="{{ asset_with_version('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {# import the genericAjax.js file #}
    <script src="{{ asset_with_version('js/genericAjax.js') }}"></script>

    <script>

      $(document).ready(function () {

        $('.team, .assistent, .admin, .active, .deactive').genericAjax({
          confirmation: {
            modal: $('#confirmModal'),
            acceptButton: $('#modalAccept'),
            cancelButton: $('#modalCancel'),
          },
        });

      });

    </script>


{% endblock %}

{% block title %}
    Profil | {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-lg-4">

                {% include 'profile/profile_picture.html.twig' %}



                {% include 'profile/contact_info.html.twig' %}

            </div>

            <div class="large-8 columns">
                {% include 'profile/profile_header.html.twig' %}

                {% include 'profile/assistant_history.html.twig' %}

                {% include 'profile/team_history.html.twig' %}
            </div>
        </div>

        {% include 'common/confirmation_modal_generic.html.twig' %}
    </div>
{% endblock %}
