<p>Du har blitt satt opp til intervju med
    <a href="{{ path('specific_profile', {'id': interview.interviewer.id}) }}">{{ interview.interviewer }}</a>
    fra Vektorprogrammet:
</p>
<p><span class="info-border-bottom"><span
                class="text-bold">{{ interview.scheduled | date("d.m.Y") }}</span> kl. <span
                class="text-bold">{{ interview.scheduled | date("H:i") }}</span> i <span
                class="text-bold">{{ interview.room }}</span></span></p>
{% if interview.campus is defined %}
    (på campus {{ interview.campus }})
{% endif %}
