<div class="top-header" }>
    <nav class="main-navigation">
        {% include 'base/logo_link.html.twig' %}
        <div class="menu-items">
            <div class="user-item">
                {% if app.user %}
                    <div>
                        <div style="background-image: url('{{ asset_with_version(app.user.picturePath) }}')"
                             class="profile-picture"></div>
                    </div>
                    <div class="dropdown">
                        <span class="user-link dropdown-toggle" id="user-menu" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">{{ app.user }}</span>
                        <div class="dropdown-menu" aria-labelledby="user-menu">
                            {% if is_granted_team_member() %}
                                <a class="dropdown-item" href="{{ path('control_panel') }}">Kontrollpanel</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('profile') }}">Profil</a>
                            <a class="dropdown-item" href="{{ path('receipt_create') }}">Mine utlegg</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">Logg ut</a>
                        </div>
                    </div>
                {% else %}
                    <div class="dropdown">
                    <span class="user-link" id="loginForm"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logg inn
                    </span>
                        <div class="dropdown-menu login-form" aria-labelledby="loginForm">
                            <form action="{{ path('login_check') }}" method="POST" class="px-4 py-3">
                                <div class="form-group">
                                    <input class="form-control" id="username" name="_username"
                                           placeholder="Brukernavn / e-post">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="_password"
                                           placeholder="Passord">
                                </div>
                                <button type="submit" class="btn btn-primary">Logg inn</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reset_password') }}">Glemt passord?</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="menu-links">
                <a class="menu-link" href="{{ path('assistants') }}">Assistenter</a>
                <a class="menu-link" href="{{ path('team') }}">Team</a>
                <a class="menu-link" href="{{ path('about') }}">Om oss</a>
                <a class="menu-link" href="{{ path('contact') }}">Kontakt</a>
            </div>
        </div>
    </nav>
</div>
