<div class="top-header">
    <div class="container">
        <nav class="main-navigation">
            {% include 'base/logo_link.html.twig' %}
            <div class="menu-items">
                <div class="user-dropdown">
                    {% if app.user %}
                        <div>
                            <div style="background-image: url('{{ asset_with_version(app.user.picturePath) }}')"
                                 class="profile-picture"></div>
                        </div>
                        <div class="dropdown">
                            <span data-dropdown="myVektorDropdown" aria-controls="myVektorDropdown"
                               aria-expanded="false" class="user-link">{{ app.user }} <i
                                        class="fa fa-chevron-down"></i></span>
                            <ul id="myVektorDropdown" data-dropdown-content class="f-dropdown" aria-hidden="true">
                                {% if is_granted_team_member() %}
                                    <li><a href='{{ path('control_panel') }}'>Kontrollpanel</a></li>
                                {% endif %}
                                <li><a href='{{ path('profile') }}'>Profil</a></li>
                                <li><a href='{{ path('members_show') }}'>Assistenter</a></li>
                                <li><a href='{{ path('receipt_create') }}'>Mine utlegg</a></li>
                                <li><a href="{{ path('logout') }}">Logg ut</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="dropdown">
                            <span data-dropdown="loginDropdown" aria-controls="loginDropdown"
                                  aria-expanded="false" class="user-link">Logg inn</span>
                            <div id="loginDropdown" data-dropdown-content class="small f-dropdown content"
                                 aria-autoclose="false" aria-hidden="true" tabindex="-1">
                                <form action="{{ path('login_check') }}" method="post">
                                    {#<label for="username">Brukernavn:</label>#}
                                    <input type="text" id="username" name="_username" placeholder="Brukernavn"/>

                                    {#<label for="password">Passord:</label>#}
                                    <input type="password" id="password" name="_password" placeholder="Passord"/>

                                    <ul class="inline-list">
                                        <li>
                                            <button type="submit" class="tiny">Slipp meg inn!</button>
                                        </li>
                                        <li>
                                            <a href="{{ path('reset_password') }}">Glemt passord?</a>
                                        </li>
                                    </ul>

                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="menu-links">
                    {% include('base/menu_item.html.twig') with {route: 'assistants', name: 'Assistenter'} %}
                    {% include('base/menu_item.html.twig') with {route: 'team', name: 'Team'} %}
                    {% include('base/menu_item.html.twig') with {route: 'about', name: 'Om oss'} %}
                    {% include('base/menu_item.html.twig') with {route: 'contact', name: 'Kontakt'} %}
                </div>
            </div>
        </nav>
    </div>
</div>
