<div class="user-dropdown">
    {% if app.user %}
        <div>
            <div style="background-image: url('{{ asset(app.user.picturePath | imagine_filter('profile_img_tiny')) }}')"
                 class="profile-picture profile-photo"></div>
        </div>
        <div class="dropdown">
                        <span class="user-link dropdown-toggle" id="user-menu" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">{{ app.user }}</span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                {% if is_granted_team_member() %}
                    {% include 'base/dropdown_item_link.html.twig' with {route: 'control_panel', name: 'Kontrollpanel'} %}
                    {% if can_edit_page() %}
                        {% if is_edit_mode() %}
                            <form method="POST" action="{{ path('content_mode', {'mode': 'read-mode'}) }}">
                                <button class="dropdown-item btn btn-link alert-warning">Redigeringsmodus</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ path('content_mode', {'mode': 'edit-mode'}) }}">
                                <button class="dropdown-item btn btn-link alert-info">Lesemodus</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                {% endif %}
                {% include 'base/dropdown_item_link.html.twig' with {route: 'my_page', name: 'Min side'} %}
                {% include 'base/dropdown_item_link.html.twig' with {route: 'profile', name: 'Profil'} %}
                {% include 'base/dropdown_item_link.html.twig' with {route: 'receipt_create', name: 'Mine utlegg'} %}
                {% if app.user.isActiveAssistant() %}
                    <div class="dropdown-divider"></div>
                    {% include 'base/dropdown_item_link.html.twig' with {route: 'my_partners', name: 'Mine vektorpartnere'} %}
                {% endif %}
                <div class="dropdown-divider"></div>
                {% include 'base/dropdown_item_link.html.twig' with {route: 'logout', name: 'Logg ut'} %}
            </div>
        </div>
    {% else %}
        <div class="dropdown">
                    <span class="user-link" id="loginForm"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logg inn
                    </span>
            <div class="dropdown-menu dropdown-menu-right login-form" aria-labelledby="loginForm">
                <form action="{{ path('login_check') }}" method="POST" class="px-4 py-3">
                <h5 class="mb-3 text-dark-blue">Innlogging</h5>
                    <div class="form-group">
                        <input class="form-control" id="username" name="_username"
                               placeholder="Brukernavn / e-post" autocomplete="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="Passord" autocomplete="current-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Logg inn</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('reset_password') }}">Glemt passord?</a>
            </div>
        </div>
    {% endif %}
</div>
