{% extends "adminBase.html.twig" %}

{% block title %}
    Stand
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
            {% if is_granted_team_leader() %}
                {% include 'common/department_semester_dropdowns.html.twig' with {
                'path': 'stand_by_semester',
                'parameterName': 'id',
                'currentSemester': semester
                } %}
            {% endif %}
            <h1>Stand</h1>
            <p>Her vil du finne informasjon som kan være nyttig når man står på stand (mer info kommer).</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3 class="mb-0">Interesseliste</h3>
            <p class="text-faded">Antall påmeldte: {{ subscribers|length }}</p>
        </div>
        <div class="small-12 columns">
            <canvas id="admissionSubscribersChart" width="400" height="125"></canvas>
        </div>
        <div class="small-12 columns text-center">
            <h4 class="my-32px">
                <a href="{{ path('interest_list', {shortName: semester.department.shortName}) }}">
                    Påmeldingsside for {{ semester.department.city }}
                </a>
            </h4>
        </div>
        <hr>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
      var ctx = document.getElementById('admissionSubscribersChart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{% for date, subCount in subData %}'{{ date|date('d.M') }}'{% if not loop.last %}, {% endif %}{% endfor %}],
          datasets: [{
            label: 'Antall påmeldte',
            data: [{% for subCount in subData %}{{ subCount }}{% if not loop.last %}, {% endif %}{% endfor %}],
            backgroundColor: 'rgba(0, 0, 0, 0)',
            borderColor: 'rgba(0,134,179,1)',
            borderWidth: 1,
          }],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              },
            }],
          },
        },
      });
    </script>
{% endblock %}

