{% extends "adminBase.html.twig" %}

{% block title %}
    Stand
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 columns">
            {% if is_granted_team_leader() %}
                {% include 'common/department_semester_dropdowns.html.twig' with {
                'path': 'stand_by_semester',
                'parameterName': 'id',
                'currentSemester': semester
                } %}
            {% endif %}
            <h1>Stand</h1>
            <p>Her vil du finne informasjon som kan være nyttig når man står på stand (mer info kommer).</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 columns">
            <h3 class="mb-0">Søknader</h3>
            <p class="text-faded">
                Totalt antall søknader: <strong>{{ applications|length }}</strong><br>
                Antall søknader {{ semester.name }}: <strong>{{ applications_in_semester|length }}</strong><br>
                <a href="{{ path('admission_show_by_city_case_insensitive', {city: semester.department}) }}">
                    Søknadsskjema for {{ semester.department }}
                </a>
            </p>
        </div>
        <div class="col-12 columns">
            <h4 class="text-center">Søknader {{ semester.name }} - {{ semester.department }}</h4>
            <canvas id="applicationsChart" width="400" height="125"></canvas>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12 columns">
            <h3 class="mb-0">Interesseliste</h3>
            <p class="text-faded">
                Totalt antall påmeldte: <strong>{{ subscribers|length }}</strong><br>
                Antall påmeldte {{ semester.name }}: <strong>{{ subscribers_in_semester|length }}</strong><br>
                <a href="{{ path('interest_list', {shortName: semester.department.shortName}) }}">
                    Påmeldingsside for {{ semester.department }}
                </a>
            </p>
        </div>
        <div class="col-12 columns">
            <h4 class="text-center">Påmeldte {{ semester.name }} - {{ semester.department }}</h4>
            <canvas id="admissionSubscribersChart" width="400" height="125"></canvas>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12 columns">
            <h3 class="mb-0">Interesseliste for team</h3>
            <p class="text-faded">
                Her går det ann å legge inn navn og epost og huke av på de teamene man er interessert i.<br>
                <a href="{{ path('team_interest_form', {id: semester.department.id}) }}">
                    Påmeldingsside for {{ semester.department }}
                </a>
                {% if is_granted_team_leader() %}
                    <br>En oversikt over påmeldte finnes under
                    <a href="{{ path('admissionadmin_team_interest') }}">
                        Diverse <i class="fa fa-long-arrow-right"></i> Teaminteresse
                    </a>.
                {% endif %}
            </p>
        </div>
        <hr>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
      var subCtx = document.getElementById('admissionSubscribersChart').getContext('2d');
      new Chart(subCtx, {
        type: 'line',
        data: {
          labels: [{% for date, subCount in subData %}'{{ date|date('d.M') }}'{% if not loop.last %}, {% endif %}{% endfor %}],
          datasets: [{
            label: 'Antall påmeldte',
            data: [{% for subCount in subData %}{{ subCount }}{% if not loop.last %}, {% endif %}{% endfor %}],
            backgroundColor: 'rgba(0, 0, 0, 0)',
            borderColor: 'rgba(0,134,179,1)',
            borderWidth: 1,
          }],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              },
            }],
          },
        },
      });

      var appCtx = document.getElementById('applicationsChart').getContext('2d');
      new Chart(appCtx, {
          type: 'line',
          data: {
              labels: [{% for date, appCount in appData %}'{{ date|date('d.M') }}'{% if not loop.last %}, {% endif %}{% endfor %}],
              datasets: [{
                  label: 'Antall påmeldte',
                  data: [{% for appCount in appData %}{{ appCount }}{% if not loop.last %}, {% endif %}{% endfor %}],
                  backgroundColor: 'rgba(0, 0, 0, 0)',
                  borderColor: 'rgba(0,134,179,1)',
                  borderWidth: 1,
              }],
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                      },
                  }],
              },
          },
      });
    </script>
{% endblock %}
