{% extends 'adminBase.html.twig' %}

{% block title %} Rediger bilde {% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Rediger bilde</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <hr>
        </div>

        <div class="small-6 medium-6 large-6 columns">
            <img src="{{ image.path }}" alt="{{ image.description }}">
        </div>
        <div class="small-6 medium-6 large-6 columns">
            {{ form_start(form) }}
                {{ form_row(form.description) }}
                <div class="hide">
                    {{ form_row(form.uploadedFile) }}
                </div>
                <button class="button success"><i class="fa fa-pencil"></i> Endre beskrivelse</button>
            {{ form_end(form) }}
            <hr>
            <form method="POST"
                  onsubmit="return confirm('Vil du virkelig slette dette bildet?')"
                  action="{{ path('image_delete', {'id': image.id}) }}">
                    <button class="alert small"><i class="fa fa-trash"></i> Slett dette bildet</button>
            </form>
        </div>
    </div>


{% endblock %}
