{% extends 'adminBase.html.twig' %}

{% block title %} Rediger bilde {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <form method="POST"
                  onsubmit="return confirm('Vil du virkelig slette dette bildet?')"
                  action="{{ path('image_delete', {'id': image.id}) }}">
                <h1 class="inline">Rediger bilde</h1>
                <button class="alert small float-right"><i class="fa fa-trash"></i> Slett bilde</button>
            </form>
        </div>

        <div class="col-12 col-md-12 col-lg-12 columns">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <hr>
        </div>

        <div class="col-6 col-md-6 col-lg-6 columns">
            <img src="{{ image.path }}" alt="{{ image.description }}">
        </div>
        <div class="col-6 col-md-6 col-lg-6 columns">
            {{ form_start(form) }}
                {{ form_row(form.description) }}
                <button class="button success"><i class="fa fa-pencil"></i> Endre beskrivelse</button>
            {{ form_end(form) }}
            <hr>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.close').click(function () {
                $(this).closest('.success').remove();
            });
        });
    </script>
{% endblock %}
