{% extends 'adminBase.html.twig' %}

{% block title %}Bildegallerier{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Bildegallerier</h1>
            <hr>
            <p>Bildegallerier blir brukt for å samle bilder til bruk i nettsidens komponenter som f.eks bildekaruseller eller dekorative bildegrids.&nbsp
                Alle bildegallerier skal ha et referansenavn, som gjør bildene tilgjengelige på vektorprogrammet.no sitt API.&nbsp
                For eksempel vil et bildegalleri med referansenavn team kunne aksesseres på endpointet /team.
            </p>
        </div>

        <div class="small-12 medium-12 large-12 columns">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if is_granted_team_leader() %}
        <section id="create-gallery-form">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <hr>
                    <h3>Opprett et nytt bildegalleri</h3>
                </div>

                <div class="small-12 medium-12 large-12 columns">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="small-12 medium-7 large-7 columns">
                            {{ form_row(form.title) }}
                            {{ form_row(form.referenceName) }}
                            {{ form_row(form.description) }}
                        </div>

                        <div class="small-12 medium-5 large-5 columns">
                            {{ form_label(form.filters) }}
                            <ul class="clean-list">
                                {% for key,filter in filters %}
                                    <li class="unchecked_filter" data-filter="{{ key }}">
                                        {# The widget (input tag) can only be rendered once, we need to clone the rest with javascript #}
                                        {{ form_widget(form.filters.vars.prototype) }}
                                        {{ form_label(form.filters.vars.prototype) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns">
                            <button class="button success">Opprett bildegalleri</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <a class="text-success" onclick="toggleForm()" id="toggle-form-link"><i class="fa fa-plus"></i> Opprett galleri</a>
        </div>
    </div>
    {% endif %}

    {% for image_gallery in image_galleries %}
        <div class="row">

            <div class="small-12 medium-12 large-12 columns">
                <hr>
            </div>

            <div class="small-12 medium-12 large-12 columns">
                <h3><a href="{{ path('image_gallery_edit', {'id': image_gallery.id }) }}"> {{ image_gallery.title }} </a></h3>
                {% for key, image in image_gallery.images if key < 5 %}
                    <img class="gallery-preview-image" src="{{ image.path }}" alt="{{ image.description }}">
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {% if is_granted_team_leader() %}
        <script>
            var formVisible = false;
            var createGalleryForm = $('#create-gallery-form');
            var toggleFormLink = $('#toggle-form-link')[0];
            function toggleForm() {
                if(formVisible) {
                    createGalleryForm.slideUp();
                    toggleFormLink.innerHTML = '<i class="fa fa-plus"></i> Opprett galleri';
                } else {
                    createGalleryForm.slideDown();
                    toggleFormLink.innerHTML = '<i class="fa fa-minus"></i> Skjul';
                }

                formVisible = !formVisible;
            }
        </script>

        <script>
            function prettifyString(inString) {
                var outString = inString.replace(/_/g, ' ');
                return outString.charAt(0).toUpperCase() + outString.slice(1);
            }

            var uncheckedFilters = document.getElementsByClassName('unchecked_filter');
            var clonedInputTag = uncheckedFilters[0].getElementsByTagName('input')[0].cloneNode();

            for(var i = 1; i < uncheckedFilters.length; i++) {
                uncheckedFilters[i].prepend(clonedInputTag.cloneNode());
            }

            for(var i = 0; i < uncheckedFilters.length; i++) {
                var filterName = uncheckedFilters[i].dataset.filter;

                var label = uncheckedFilters[i].getElementsByTagName('label')[0];
                label.htmlFor = label.htmlFor.replace('__name__', filterName);
                label.innerHTML = prettifyString(filterName);

                var input = uncheckedFilters[i].getElementsByTagName('input')[0];
                input.id = input.id.replace('__name__', filterName);
                input.name = input.name.replace('__name__', filterName);
            }
        </script>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.close').click(function () {
                $(this).closest('.success').remove();
            });
        });
    </script>
{% endblock %}
