<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="no"> <![endif]-->
<html class="no-js" lang="no">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Vektorprogrammet{% endblock %}</title>

    <!-- Facebook meta data -->
    <meta property="og:type" content="website"/>
    {% if app.request.attributes.get('_route') is not null %}
        <meta property="og:url" content="http://vektorprogrammet.no/{{ path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}"/>
    {% endif %}
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:image"
          content="http://vektorprogrammet.no{% block facebookImage %}{{ asset_with_version('images/vektor_stor.png') }}{% endblock %}"/>
    <meta property="og:description"
          content="{% block facebookDescription %}Vektorprogrammet er Norges største organisasjon som jobber for å øke interessen for matematikk og realfag blant elever i grunnskolen. Vi sender realfagssterke studenter til barne- og ungdomsskoler hvor de fungerer som lærerens assistent.{% endblock %}"/>
    <meta property="og:site_name" content="Vektorprogrammet"/>

    <!-- Color for header in mobile browsers -->
    <meta name="theme-color" content="#6FCEEE"><!-- Chrome, Firefox OS and Opera -->
    <meta name="msapplication-navbutton-color" content="#6FCEEE"><!-- Windows Phone -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#6FCEEE"><!-- iOS Safari -->

    <link rel="icon" type="image/x-icon" href="{{ asset_with_version('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="{{ asset_with_version('css/control_panel.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="app sidebar-fixed aside-menu-fixed pace-done sidebar-lg-show">

<div class="app-body">
    {% include 'base/admin/main_navigation.html.twig' %}
    <main class="main">
        <ol class="breadcrumb">
            <li>
                <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto pr-4" type="button" data-toggle="sidebar-show">
                    <span class="fa fa-bars"></span>
                </button>
            </li>
            {% block default_breadcrumb %}
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Forsiden</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('control_panel') }}">Kontrollpanel</a>
                </li>
            {% endblock %}
            {% block breadcrumb %}
            {% endblock %}
            <li class="breadcrumb-menu">
                {% block breadcrumb_menu %}

                {% endblock %}
            </li>
        </ol>
        {% include 'common/flash.html.twig' %}
        <div class="container-fluid">
            {% block body %}
                <p>
                    Content
                </p>
            {% endblock %}
            {#{% include 'base/admin/footer.html.twig' %}#}
        </div>
    </main>
</div>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments);
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{ googleAnalyticsId }}', 'auto');
  ga('send', 'pageview');

</script>

<script src="{{ asset_with_version('/js/vendor.js') }}"></script>

<script src="{{ asset_with_version('/scripts/coreui.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>


