{% extends 'base.html.twig' %}
{% block customStyles %}
    <style>
        .paid{
            color:green;
        }
        .not-paid{
            color:red;
        }
    </style>
{% endblock %}
{% block topLine %}
    <div style="width:100%;height:20px;background-color: #333333; margin-bottom:20px;"></div>
{% endblock %}
{% block newHeader %}
    <header data-equalizer>
        <div class="small-12 medium-3 columns hide-for-small-only" data-equalizer-watch>
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/vektor.png') }}" alt="Vektor logo">
            </a>
        </div>
        <div class="medium-4 medium-offset-1 columns hide-for-small-only" data-equalizer-watch>
            <h1 style="margin-top:75px;text-align: center">Administrator</h1>
        </div>
        <div class="medium-2 columns hide-for-small-only">
            <a href="{{ path('home') }}">Tilbake til hovedsiden</a>
        </div>
    </header>

{% endblock %}
{% block adminpanel %}
    <style>
        .f-dropdown.mini {
            max-width: 100px;
        }

        .f-dropdown.very-small {
            max-width: 150px;
        }

        #control-menu {
            padding-top: 17px;
            padding-bottom: 1px;
            background-color: #333333;
        }

        #control-menu > ul {
            display: flex;
            flex-direction: row;
            margin-left: 0;
            list-style-type: none;
        }

        #control-menu > ul > li {
            text-align: center;
            flex-grow: 1;
            display: inline-block;
        }

        #control-menu > ul > li > ul > li {
            text-align: left;
        }

        #control-menu > ul > li > a, .arrow {
            font-weight: bold;
            color: #dfdfdf;
        }

        #control-menu > ul > li > a:hover, #control-menu > ul > li > a:hover .arrow {
            color: #ffffff;
        }
    </style>
    <br>

    {% if app.user and is_granted('ROLE_ADMIN') %}
        <div class="row">

            <div class="medium-12 columns hide-for-small-only" data-equalizer-watch>
                <nav id="control-menu">
                    <ul>
                        <li><a href="{{ path('control_panel') }}">Kontrollpanel</a></li>
                        <li>
                            <a href="#" data-dropdown="articleDropDown" data-options="is_hover:true; hover_timeout:200">Artikkel <i class="fa fa-chevron-down"></i></a>

                            <ul id="articleDropDown" class="f-dropdown mini" data-dropdown-content>
                                <li><a href="{{ path('articleadmin_show') }}">Artikler</a></li>
                                <li><a href="{{ path('articleadmin_create') }}">Ny artikkel</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-dropdown="usersDropDown" data-options="is_hover:true; hover_timeout:200">Brukere <i class="fa fa-chevron-down"></i></a>

                            <ul id="usersDropDown" class="f-dropdown very-small" data-dropdown-content>
                                <li><a href="{{ path('useradmin_show') }}">Brukere</a></li>
                                <li><a href="{{ path('participanthistory_show') }}">Deltakerhistorikk</a></li>
                                <li><a href="{{ path('substitute_show') }}">Vikarer</a></li>
                                <li><a href="{{ path('teamadmin_show') }}">Team</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-dropdown="admissionDropDown"
                               data-options="is_hover:true; hover_timeout:200">Opptak & Undersøkelse <i class="fa fa-chevron-down"></i> </a>

                            <ul id="admissionDropDown" class="f-dropdown very-small" data-dropdown-content>
                                <li><a href="{{ path('admissionadmin_show') }}">Opptak</a></li>
                                <li><a href="{{ path('interview_schema') }}">Intervjuskjema</a></li>
                                <li><a href="{{ path('surveys') }}">Undersøkelser</a></li>
                                <li><a href="{{ path('statistics_application') }}">Statistikk</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-dropdown="miscDropDown" data-options="is_hover:true; hover_timeout:200">Diverse <i class="fa fa-chevron-down"></i></a>

                            <ul id="miscDropDown" class="f-dropdown mini" data-dropdown-content>
                                <li><a href="{{ path('departmentadmin_show') }}">Avdeling</a></li>
                                <li><a href="{{ path('semesteradmin_show') }}">Semester</a></li>
                                <li><a href="{{ path('schooladmin_show') }}">Skole</a></li>
                                <li><a href="{{ path('sponsors_edit') }}">Sponsorer</a></li>
                                <li><a href="{{ path('certificate_show') }}">Attest</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

        <!--Mobile Navigation-->
        <div class="row show-for-small-only">
            <div class="small-12 columns" style="text-align: center;">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('images/vektor.png') }}" alt="Vektor logo">
                </a>
            </div>
        </div>
        <div class="row show-for-small-only">
            <div class="small-12 columns" style="text-align: center;margin-top:20px;margin-bottom:20px;">
                <a href="{{ path('home') }}">Tilbake til hovedsiden</a>
            </div>
        </div>
        <div class="row show-for-small-only">
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">Administrator</a></h1>
                    </li>

                    <li class="toggle-topbar menu-icon"><a href="#"><span>Meny</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li><a href="{{ path('control_panel') }}">Kontrollpanel</a></li>
                        <li class="has-dropdown">
                            <a href="#">Artikkel</a>
                            <ul class="dropdown">
                                <li><a href="{{ path('articleadmin_show') }}">Artikler</a></li>
                                <li><a href="{{ path('articleadmin_create') }}">Ny artikkel</a></li>
                            </ul>
                        </li>

                        <li class="has-dropdown">
                            <a href="{{ path('useradmin_show') }}">Brukere</a>
                            <ul class="dropdown">
                                <li><a href="{{ path('participanthistory_show') }}">Deltakerhistorikk</a></li>
                                <li><a href="{{ path('substitute_show') }}">Vikarer</a></li>
                                <li><a href="{{ path('teamadmin_show') }}">Team</a></li>
                            </ul>
                        </li>

                        <li class="has-dropdown">
                            <a href="#">Opptak & Undersøkelse</a>
                            <ul class="dropdown">
                                <li><a href="{{ path('admissionadmin_show') }}">Opptak</a></li>
                                <li><a href="{{ path('interview_schema') }}">Intervjuskjema</a></li>
                                <li><a href="{{ path('surveys') }}">Undersøkelser</a></li>
                                <li><a href="{{ path('statistics_application') }}">Statistikk</a></li>
                            </ul>
                        </li>

                        <li class="has-dropdown">
                            <a href="#">Diverse</a>
                            <ul class="dropdown">
                                <li><a href="{{ path('departmentadmin_show') }}">Avdeling</a></li>
                                <li><a href="{{ path('semesteradmin_show') }}">Semester</a></li>
                                <li><a href="{{ path('schooladmin_show') }}">Skole</a></li>
                                <li><a href="{{ path('sponsors_edit') }}">Sponsorer</a></li>
                                <li><a href="{{ path('certificate_show') }}">Attest</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>

        <br/>
    {% endif %}

{% endblock %}
{% block footer %}
<footer>
    <div class="row">

        <div class="small-12 medium-6 large-3 columns">

            <h6><b>Følg oss:</b></h6>
            <ul>
                <li><a href="https://twitter.com/vektorprogram" target="_blank">  Twitter </a></li>
                <li><a href="https://www.facebook.com/vektorprogrammet" target="_blank">  Facebook </a></li>
                <li><a href="https://instagram.com/vektorprogrammet/" target="_blank">  Instagram </a></li>
            </ul>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <h6><b>Kontakt:</b></h6>
            <ul>
                <li>styret@vektorprogrammet.no</li>
                <li>Høgskoleringen 5 </li>
                <li>7491 Trondheim</li>
                <li>Orgnummer: 998744814</li>
            </ul>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <h6><b>Hvor:</b></h6>
            <ul>
                {# embedded controller to render the departments  see department controller for the function getAllDepartmentsForTopbar #}
                {{ render(controller(
                'AppBundle:Department:getAllDepartmentsForTopbar'
                )) }}
            </ul>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <h6><b>Sponsorer:</b></h6>
            <ul style="display:inline-block">
                {% for sponsor in get_sponsors() %}
                    <li><a href="{{ sponsor.url }}" target="_blank"> {{ sponsor.name  }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
{% endblock %}

