<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="no"> <![endif]-->
<html class="no-js" lang="no">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Vektorprogrammet{% endblock %}</title>

    <!-- Facebook meta data -->
    <meta property="og:type" content="website"/>
    {% if app.request.attributes.get('_route') is not null %}
        <meta property="og:url" content="http://vektorprogrammet.no/{{ path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}"/>
    {% endif %}
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:image"
          content="http://vektorprogrammet.no{% block facebookImage %}{{ asset_with_version('images/vektor_stor.png') }}{% endblock %}"/>
    <meta property="og:description"
          content="{% block facebookDescription %}Vektorprogrammet er Norges største organisasjon som jobber for å øke interessen for matematikk og realfag blant elever i grunnskolen. Vi sender realfagssterke studenter til barne- og ungdomsskoler hvor de fungerer som lærerens assistent.{% endblock %}"/>
    <meta property="og:site_name" content="Vektorprogrammet"/>

    <!-- Color for header in mobile browsers -->
    <meta name="theme-color" content="#6FCEEE"><!-- Chrome, Firefox OS and Opera -->
    <meta name="msapplication-navbutton-color" content="#6FCEEE"><!-- Windows Phone -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#6FCEEE"><!-- iOS Safari -->

    <link rel="icon" type="image/x-icon" href="{{ asset_with_version('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&subset=latin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset_with_version('css/app.css') }}">


    {% block stylesheets %}{% endblock %}

</head>
<body class="body">
{% block header %}
    {% include 'base/header.html.twig' %}
{% endblock %}
{% include 'common/flash.html.twig' %}
{% block body %}
    <p>
        Content
    </p>
{% endblock %}
{% block footer %}
    {% include 'base/footer.html.twig' %}
{% endblock %}



<script src="{{ asset_with_version('js/access_control.js') }}"></script>


{% if pixelId %}
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ pixelId }}');
        fbq('track', 'PageView');

    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id={{ pixelId }}&ev=PageView
    &noscript=1"/>
    </noscript>
{% endif %}


{% if googleAnalyticsId %}
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', '{{ googleAnalyticsId }}', 'auto');
      ga('send', 'pageview');
    </script>
{% endif %}


<script src="{{ asset_with_version('/js/vendor.js') }}"></script>
<script src="{{ asset_with_version('/js/mobile_nav.js') }}"></script>
<script src="{{ asset_with_version('/js/button_deactivator.js') }}"></script>
{% if can_edit_page() and is_edit_mode() %}
    <script> var url = "{{ path('update_static_content') }}"; </script>
    <script src="{{ asset_with_version('vendor/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset_with_version('vendor/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset_with_version('js/ckeditor/createCkeditorInstances.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        createCkeditorInstances();
      });
    </script>
{% endif %}
{% block javascripts %}{% endblock %}





{{ render(controller("AppBundle:SurveyPopup:nextSurvey")) }}
</body>
</html>
