{% extends 'adminBase.html.twig' %}

{% block title %}
    Statistikk: Opptak
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    {% include 'statistics/chart_script.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Opptaksstatistikk</li>
{% endblock %}

{% block breadcrumb_menu %}
    {% include "common/department_semester_dropdowns.html.twig" with {
        'path': 'statistics_application_show',
        'departmentParameterName': 'department',
        'semesterParameterName': 'semester',
        'department': department,
        'semester': semester,
    } %}
{% endblock %}


{% block body %}
    <h2 class="text-center my-5">Opptaksstatistikk {{ department }} {{ semester.name }}</h2>
    {% if applicationData.count %}
        <header>
            <h3>Søkerstatistikk</h3>
            <h6>Antall søkere: {{ applicationData.count }}</h6>
        </header>
        <div class="row charts" id="applicationCharts">
        </div>
    {% endif %}
    {% if assistantHistoryData.count %}
        <header>
            <h3 class="mt-3">Opptaksstatistikk</h3>
            <h6>Antall assistenter: {{ assistantHistoryData.assistantHistoryCount }}</h6>
            <h6>Antall stillinger: {{ assistantHistoryData.positionsCount }}</h6>
        </header>
        <div class="row charts" id="admissionCharts">
        </div>
    {% endif %}
    {% if assistantHistoryData.count == 0 and applicationData.count == 0 %}
        <div>
            <h4>Ingen data dette semesteret</h4>
        </div>
    {% endif %}
{% endblock %}
