{% set dropdownId = dropdownId is defined ? dropdownId : 'departmentDropdown' %}
<li>
    <a class="button tiny" data-dropdown="{{ dropdownId }}" aria-controls="{{ dropdownId }}"
       aria-expanded="false"><i class="fa fa-institution"></i> {{ currentDepartment is defined ? currentDepartment : 'Avdeling' }} <i
                class="fa fa-caret-down"></i></a>
    <ul id="{{ dropdownId }}" class="f-dropdown" data-dropdown-content tabindex="-1"
        aria-hidden="true" aria-autoclose="false" tabindex="-1">

        {% for department in get_departments() %}

            <li>
                {% if linkToSemester is defined and linkToSemester == true %}
                    <a href="{{ path(pathForDepartment, { (departmentParameterName): department.currentOrLatestSemester.id }) }}">{{ department.shortName }}</a>
                {% else %}
                    <a href="{{ path(pathForDepartment, { (departmentParameterName): department.id }) }}">{{ department.shortName }}</a>
                {% endif %}
            </li>

        {% endfor %}

    </ul>
</li>
