{% extends 'base.html.twig' %}

{% block title %}
    P책melding
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="parent-assignment-page content">
            <header class="my-5 row content">
                <div class="col-md-12">
                    <h1 class="text-center header-title text-dark-blue">P책melding p책 kurs med {{ parentCourse.speaker }}</h1>
                    <p class="text-center tiny-title">{{ parentCourse.date | date('d.m.y') }} klokken {{ parentCourse.date | date('H:i') }}</p>
                </div>
            </header>
            <section class="row space">
            <br>
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header">
                    <h3>Meld deg p책!</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.navn) }}
                    {{ form_row(form.epost ) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                <div class="hide">
                    {{ form_rest(form) }}
                </div>
            </div>
            </section>
        </div>
    </div>

{%  endblock %}
