{% extends 'adminBase.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('parent_course_admin_show') }}">Alle foreldrekurs</a></li>
    <li class="breadcrumb-item active">Påmeldte foreldre hos {{ course.speaker }}</li>
{% endblock %}

{% block breadcrumb_menu %}
    <a href="{{ path('parent_assignment_admin_create', { 'id': course.id }) }}" class="btn btn-outline-success text-success">
        <i class="fa fa-plus"></i> Meld på ny forelder </a>
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-list-ul"></i>
                    <span>Påmeldte foreldre hos {{ course.speaker }} ({{ parentsAssigned|length }}) </span>
                    <span class="float-right text-muted"> Tid og sted: {{ course.date | date('d.m.y') }} klokken {{ course.date | date('H:i') }}; {{ course.place }} </span>
                </div>
                <div class="table-responsive">
                    <table class="table" id="article-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Navn</th>
                            <th>Mailadresse</th>
                        </tr>
                        </thead>
                        {% for parent in parentsAssigned %}
                            <tr id="{{ parent.id }}">
                                <td class="table-menu">
                                    <div class="dropdown">
                                        <div class="clickable px-2" id="options-{{ parent.id }}" data-toggle="dropdown"
                                             aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-secondary"></i>
                                        </div>
                                        <div class="dropdown-menu pt-0" aria-labelledby="options-{{ parent.id }}">
                                            <div class="dropdown-header mb-2"><strong>Forelder: {{ parent.name }}</strong></div>
                                            <form method="POST"
                                                  onsubmit="return confirm('Vil du virkelig melde av forselder {{ parent.name }}?')"
                                                  action="{{ path('parent_assignment_admin_delete', { id: parent.id }) }}">
                                                <button type="submit"
                                                        class="dropdown-item">
                                                    <i class="fa fa-trash text-danger"></i> Slett
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ parent.name | safe_html }}
                                </td>
                                <td>
                                    {{ parent.email | safe_html }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}