<h1>Du er nå påmeldt til foreldrekurs {{ parentCourse.date | date('d.m.y') }} klokken {{ parentCourse.date | date('H:i') }} </h1>

<br>
<p>Mer informasjon om infomøtet:
    {{ parentCourse.speaker }}
    {{ parentCourse.information }}

</p>

<small>Du mottar denne e-posten fordi du har meldt deg på et foreldrekurs via Vektorprogrammet.no. Hvis du
    ikke ønsker å motta automatiske påminnelser i fremtiden kan du melde deg av
    <a href="https://vektorprogrammet.no{{ path('parent_assignment_external_delete', {'uniqueKey': parentAssignment.uniqueKey}) }}">her</a>.</small>
