{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="about-us-page content">
            <header class="page-header row">
                <div class="col-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-header'} %}
                </div>
            </header>
            <section class="col">
                <div class="col-sm-12 text-center">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-info'} %}
                </div>
                <br>
                <div class="col-sm-12 text-center">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-more-info'} %}
                </div>
                <br>
            </section>
            <section class="row">
                <div class="col-12 text-center">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-interessert?'} %}
                </div>
            </section>
            <br>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header text-center">
                        <h3>Meld deg på!</h3>
                    </div>
                    <div>
                        {{ form_row(form.navn) }}
                        {{ form_row(form.epost ) }}
                        {{ form_row(form.tidspunkt ) }}
                    </div>

                    <div class="col-12 ">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}