{% extends 'base.html.twig' %}

{% block title %}
    Påmelding
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="parent-assignment-page content">
            <div class="page-header">
                {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-header'} %}
            </div>
            <section class="row space">
                <div class="col-sm-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-info'} %}
                </div>
            </section>
            <br>
            <section class="row space">
                <div class="col-lg-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'parent-assignment-interessert?'} %}
                </div>
            </section>
            <br>
            {{ form_start(form) }}
            <div class="card">
                    <div class="card-header">
                        <h3>Meld deg på!</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.navn) }}
                        {{ form_row(form.epost ) }}
                        {{ form_row(form.tidspunkt ) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
            </div>
        </div>
    </div>

{%  endblock %}