{% extends 'adminBase.html.twig' %}

{% block title %}
    Ny forelder
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('parent_course_admin_show') }}">Alle foreldrekurs</a></li>
    <li class="breadcrumb-item active"><a href="{{ path('parent_assignment_admin_show', { id: courseID }) }}">Påmeldte foreldre hos {{ courseSpeaker }}</a></li>
    <li class="breadcrumb-item active">Ny forelder</li>
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-xl-10 col-xxl-8 col-xxxl-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-comment-o"></i> Ny forelder </div>
                <div class="card-body">
                    {{ form_row(form.navn) }}
                    {{ form_row(form.epost) }}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            <div class="hide">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
