{% extends 'adminBase.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Påmeldte foreldre til foreldrekurs</li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-list-ul"></i> Changelog-objekter ({{ parentsAssigned|length }} </div>
                <div class="table-responsive">
                    <table class="table" id="article-table">
                        <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Mailadresse</th>
                            <th>Dato</th>
                        </tr>
                        </thead>
                        {% for parent in parentsAssigned %}
                            <tr id="{{ parent.id }}">
                                <td class="table-menu">
                                    <div class="dropdown">
                                        <div class="clickable px-2" id="options-{{ parent.id }}" data-toggle="dropdown"
                                             aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-secondary"></i>
                                        </div>
                                        <div class="dropdown-menu pt-0" aria-labelledby="options-{{ parent.id }}">
                                            <div class="dropdown-header mb-2"><strong>Forelder {{ parent.id }}</strong></div>
                                            <a href="{{ path('changelogitem_edit', { 'id': item.id }) }}"
                                               class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Rediger
                                            </a>
                                            <form method="POST"
                                                  onsubmit="return confirm('Vil du virkelig melde av forelder {{ parent.title }}?')"
                                                  <!-- action="Her skal pathen etc til sletteAction stå (hvis dette er en aktuell feature å ha med!"> -->
                                                <button type="submit"
                                                        class="dropdown-item">
                                                    <i class="fa fa-trash text-danger"></i> Slett
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ parent.name | safe_html }}
                                </td>
                                <td>
                                    {{ parent.email | safe_html }}
                                </td>
                                <td>
                                    {{ parent.time | date("d.m.y") }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}