<div class="col-12 col-md-6 col-xxxl-4 scrollable">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-list-ul"></i> Changelog
            <a href="{{ path('changelog_show_all') }}" class="float-right text-muted">Vis alle<i class="fa fa-chevron-right vertical-middle"></i></a>
        </div>

        {% for changeLogItem in changeLogItems %}
                <div id= "changelog-item-{{ changeLogItem.id }}" class="card m-2 p-3 changelog_card">
                    <div class="card-body">
                            <h5 class="d-inline-block">{{ changeLogItem.title }}</h5>
                            {% if  date(changeLogItem.date) < date("7days") %}
                                <span class="badge badge-pill badge-success d-inline-block">Ny</span>
                            {% endif %}

                            <p onmouseover="showEntireDate(this)" onmouseout="deleteEntireDate(this)" data-content="{{ changeLogItem.date | date('d.m.Y - H.i') }}" data-content2="{{ changeLogItem.date | date('d.m.Y') }}" class="dato float-right d-inline-block"> {{ changeLogItem.date | date('d.m.Y') }}
                            </p>
                        <p>
                            {{ changeLogItem.description | safe_html }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ changeLogItem.githubLink }}">
                                {{ changeLogItem.githubLink | trim('https://') | split("m")[0] }}m
                            </a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        data = document.querySelector('.dato').dataset.content;
        data2 = document.querySelector('.dato').dataset.content2;
    });
    function showEntireDate(x){
        x.innerHTML = data;
    };
    function deleteEntireDate(x){
        x.innerHTML = data2;
    };


</script>
{% endblock %}
