<div class="col-12 col-md-6 col-xxxl-4 scrollable">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-list-ul"></i> Changelog
        </div>

        {% for changeLogItem in changeLogItems %}
                <div id= "changelog-item-{{ changeLogItem.id }}" class="card m-2 p-3 {{ loop.first ? "changelog_card1" : "changelog_card2" }}">
                    <div class="card-body">
                        <h5>{{ changeLogItem.title }}</h5>
                        <p>
                            {{ changeLogItem.description | safe_html }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="dato">
                                {{ changeLogItem.date | date('d-m-Y H:i') }}
                            </p>
                            <a href="{{ changeLogItem.githubLink }}">
                                {{ changeLogItem.githubLink | trim('https://') }}
                            </a>
                        </div>
                        <a id="edit" href="{{ path('changelogitem_edit', { 'id': changeLogItem.id }) }}"><i class="fas fa-edit"></i></a>
                        <form method="POST"
                              onsubmit="return confirm('Vil du virkelig slette denne?')"
                              action="{{ path('changelogitem_delete', { 'id': changeLogItem.id }) }}">
                            <button class="button-link">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>

                    </div>
                </div>
        {% endfor %}
    </div>
</div>
