{% extends 'adminBase.html.twig' %}

{% set header = school is defined ? school.name : 'Opprett skole' %}

{% block title %}
    {{ header }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("schooladmin_show") }}">Skoler</a></li>
    <li class="breadcrumb-item active">{{ header }}</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><i class="fa fa-school"></i> {{ header }}</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
