{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1 class="text-center">Skolefordeling</h1>
    {% if semester is null %}
        <div class="row">
            <h3>Det finnes ingen aktive semestere</h3>
            <p>Gå til <a href="{{ path('semesteradmin_show') }}">semesteradmin</a> for å opprette et nytt semester</p>
        </div>
    {% else %}
        <div class="row">
            <div class="large-6 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Skole</th>
                        <th>Mandag</th>
                        <th>Tirsdag</th>
                        <th>Onsdag</th>
                        <th>Torsdag</th>
                        <th>Fredag</th>
                        <th>Endre</th>
                    </tr>
                    </thead>

                    {% set mondayCount = 0 %}
                    {% set tuesdayCount = 0 %}
                    {% set wednesdayCount = 0 %}
                    {% set thursdayCount = 0 %}
                    {% set fridayCount = 0 %}

                    <tbody>
                    {% for allocation in allocations %}
                        {% set mondayCount = mondayCount + allocation.monday %}
                        {% set tuesdayCount = tuesdayCount + allocation.tuesday %}
                        {% set wednesdayCount = wednesdayCount + allocation.wednesday %}
                        {% set thursdayCount = thursdayCount + allocation.thursday %}
                        {% set fridayCount = fridayCount + allocation.friday %}

                        <tr>
                            <td>{{ allocation.school.name }}</td>
                            <td>{{ allocation.monday }}</td>
                            <td>{{ allocation.tuesday }}</td>
                            <td>{{ allocation.wednesday }}</td>
                            <td>{{ allocation.thursday }}</td>
                            <td>{{ allocation.friday }}</td>
                            <td>
                                <a href="{{ path('allocate_edit', {'school': allocation.school.id, 'semester': allocation.semester.id}) }}"
                                   class="button tiny">
                                    <i class="fa fa-pencil-square-o"></i> Rediger</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Totalt</td>
                        <td>{{ mondayCount }}</td>
                        <td>{{ tuesdayCount }}</td>
                        <td>{{ wednesdayCount }}</td>
                        <td>{{ thursdayCount }}</td>
                        <td>{{ fridayCount }}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row" style="text-align: center">

                    <a href="{{ path('allocate_create') }}" class="button tiny">Legg til skole</a>

                </div>
            </div>
            <div class="large-6 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Assistent</th>
                        <th>Mandag</th>
                        <th>Tirsdag</th>
                        <th>Onsdag</th>
                        <th>Torsdag</th>
                        <th>Fredag</th>
                        <th>Bolk</th>
                        <th>Dobbel</th>
                    </tr>
                    </thead>
                    {% set mondayGoodCount = 0 %}
                    {% set tuesdayGoodCount = 0 %}
                    {% set wednesdayGoodCount = 0 %}
                    {% set thursdayGoodCount = 0 %}
                    {% set fridayGoodCount = 0 %}

                    {% set mondayOkCount = 0 %}
                    {% set tuesdayOkCount = 0 %}
                    {% set wednesdayOkCount = 0 %}
                    {% set thursdayOkCount = 0 %}
                    {% set fridayOkCount = 0 %}

                    {% set mondayBadCount = 0 %}
                    {% set tuesdayBadCount = 0 %}
                    {% set wednesdayBadCount = 0 %}
                    {% set thursdayBadCount = 0 %}
                    {% set fridayBadCount = 0 %}

                    {% set totalAssistants = 0 %}
                    <tbody>
                    {% for application in applications %}
                        {% set totalAssistants = totalAssistants + 1 %}

                        {% if application.monday == "Bra" %}
                            {% set mondayGoodCount = mondayGoodCount + 1 %}
                        {% elseif application.monday == "Ok" %}
                            {% set mondayOkCount = mondayOkCount + 1 %}
                        {% else %}
                            {% set mondayBadCount = mondayBadCount + 1 %}
                        {% endif %}

                        {% if application.tuesday == "Bra" %}
                            {% set tuesdayGoodCount = tuesdayGoodCount + 1 %}
                        {% elseif application.tuesday == "Ok" %}
                            {% set tuesdayOkCount = tuesdayOkCount + 1 %}
                        {% else %}
                            {% set tuesdayBadCount = tuesdayBadCount + 1 %}
                        {% endif %}

                        {% if application.wednesday == "Bra" %}
                            {% set wednesdayGoodCount = wednesdayGoodCount + 1 %}
                        {% elseif application.wednesday == "Ok" %}
                            {% set wednesdayOkCount = wednesdayOkCount + 1 %}
                        {% else %}
                            {% set wednesdayBadCount = wednesdayBadCount + 1 %}
                        {% endif %}

                        {% if application.thursday == "Bra" %}
                            {% set thursdayGoodCount = thursdayGoodCount + 1 %}
                        {% elseif application.thursday == "Ok" %}
                            {% set thursdayOkCount = thursdayOkCount + 1 %}
                        {% else %}
                            {% set thursdayBadCount = thursdayBadCount + 1 %}
                        {% endif %}

                        {% if application.friday == "Bra" %}
                            {% set fridayGoodCount = fridayGoodCount + 1 %}
                        {% elseif application.friday == "Ok" %}
                            {% set fridayOkCount = fridayOkCount + 1 %}
                        {% else %}
                            {% set fridayBadCount = fridayBadCount + 1 %}
                        {% endif %}
                        <tr>
                            <td>{{ application.user.firstName }} {{ application.user.lastName }}</td>
                            <td>{{ application.monday }}</td>
                            <td>{{ application.tuesday }}</td>
                            <td>{{ application.wednesday }}</td>
                            <td>{{ application.thursday }}</td>
                            <td>{{ application.friday }}</td>
                            {% set bolks = "Ingen" %}
                            {% if "Bolk 1" in application.preferredGroup %}
                                {% set bolks = "Bolk 1" %}
                            {% endif %}
                            {% if "Bolk 2" in application.preferredGroup %}
                                {% if "Ingen" not in bolks %}
                                    {% set bolks = bolks ~ ", " %}
                                {% else %}
                                    {% set bolks = "" %}
                                {% endif %}
                                {% set bolks = bolks ~ "Bolk 2" %}
                            {% endif %}
                            <td>{{ bolks }}</td>
                            {% if application.doublePosition %}
                                <td>Ja</td>
                            {% else %}
                                <td>Nei</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Totalt Bra</td>
                        <td>{{ mondayGoodCount }}</td>
                        <td>{{ tuesdayGoodCount }}</td>
                        <td>{{ wednesdayGoodCount }}</td>
                        <td>{{ thursdayGoodCount }}</td>
                        <td>{{ fridayGoodCount }}</td>
                    </tr>

                    <tr>
                        <td>Totalt Ok</td>
                        <td>{{ mondayOkCount }}</td>
                        <td>{{ tuesdayOkCount }}</td>
                        <td>{{ wednesdayOkCount }}</td>
                        <td>{{ thursdayOkCount }}</td>
                        <td>{{ fridayOkCount }}</td>
                    </tr>

                    <tr>
                        <td>Totalt Ikke</td>
                        <td>{{ mondayBadCount }}</td>
                        <td>{{ tuesdayBadCount }}</td>
                        <td>{{ wednesdayBadCount }}</td>
                        <td>{{ thursdayBadCount }}</td>
                        <td>{{ fridayBadCount }}</td>
                    </tr>

                    <tr>
                        <td>Totalt Ass</td>
                        <td>{{ totalAssistants }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <a href="{{ path('school_allocation_allocate') }}" class="button expand success">Neste <i
                        class="fa fa-arrow-right"></i></a>
            <br>
            <hr>
            <h4>Steg 1 av 2</h4>
        </div>
        <br>
        <hr>
    {% endif %}
    {% for application in applications %}
        {% set user = application.user %}
        {{ user.firstName }} {{ user.lastName }}, {{ application.monday }}, {{ application.tuesday }}, {{ application.wednesday }}, {{ application.thursday }}, {{ application.friday }},
        {{ application.preferredGroup ? application.preferredGroup : 'Ingen' }}, {{ application.doublePosition ? 'Ja' : 'Nei' }}
        <br>
    {% endfor %}
{% endblock %}
