{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    {# Easy routing with FOSJsRouting bundle #}
    <script src="{{ asset_with_version('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {# We need the deletetablerow.js file #}
    <script src="{{ asset_with_version('js/deleteablerow.js') }}"></script>

    <script>

        $(document).ready(function () {
            $('.delete').deleteablerow('schooladmin_remove_user_from_school_by_id', {
                confirmation: {
                    modal: $('#confirmModal'),
                    acceptButton: $('#modalAccept'),
                    cancelButton: $('#modalCancel')
                }
            });
        });

    </script>

{% endblock %}

{% block title %}
    {{ school }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <h1> {{ school }} </h1>

            <hr>

            {% if activeAssistantHistories %}
                <h3> Aktive assistenter </h3>

                {% include 'school_admin/assistant_history_table.html.twig' with {assistantHistories: activeAssistantHistories} %}

            {% else %}
                <div class="alert-box radius warning">
                    Det finnes ingen aktive assistenter på denne skolen.
                </div>
            {% endif %}

            <br>

            {% if inactiveAssistantHistories %}
                <hr>

                <h3> Tidligere assistenter </h3>

                {% include 'school_admin/assistant_history_table.html.twig' with {assistantHistories: inactiveAssistantHistories} %}

            {% endif %}

        </div>
    </div>

    <div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete"
         aria-hidden="true" role="dialog">
        <h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
        <ul class="inline-list">
            <a id="modalAccept" href="#" class="button tiny">Slett</a>
            <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
        </ul>
    </div>

{% endblock %}
