{# The table containing applications which are assiged to an interviewer but not interviewed #}
<table width="100%" class="application-table">

    <thead>
    <tr>
        {# data-sort is used to sort the tables with stupidtable.js #}
        <th data-sort="string">Fornavn</th>
        <th data-sort="string">Etternavn</th>
        <th data-sort="int">Tlf</th>
        <th data-sort="string">E-post</th>
        <th data-sort="int">Oppsatt dato</th>
        <th data-sort="string">Oppsatt rom</th>
        <th data-sort="string">Intervjues av</th>
        <th data-sort="string">Medintervjuer</th>
        <th data-sort="string">Status</th>
        {# Add header columns to match the buttons added #}
        <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    {% for a in applicants %}
        <tr>
            <td><a href="{{ path('specific_profile', {id: a.user.id}) }}">{{ a.user.firstName }}</a></td>
            <td>{{ a.user.lastName }}</td>
            <td>{{ a.user.phone }}</td>
            <td>{{ a.user.email }}</td>

            {% if a.interview.scheduled is not null %}
                <td data-sort-value="{{ a.interview.scheduled.getTimestamp }}">
                    {{ a.interview.scheduled|date("d.m.y - G:i") }}
                </td>
            {% else %}
                <td data-sort-value="0"></td>
            {% endif %}


            <td>{{ a.interview.room }}</td>
            <td>{{ a.interview.interviewer }}</td>

            <td>{{ a.interview.coInterviewer }}</td>

            <td style="color: {{ a.interview.getInterviewStatusAsColor() }}">
                {{ a.interview.getInterviewStatusAsString() }}
            </td>

            {# Add the buttons to book(send email) and conduct an interview, given the correct permissions #}
            {% if is_granted_team_leader() or a.interview.isInterviewer(app.user) %}
                <td>
                    <a href="{{ path('interview_schedule', { 'id': a.id }) }}" class="button tiny"><i
                                class="fa fa-envelope"></i> Sett opp</a>
                </td>
                <td>
                    <a href="{{ path('interview_conduct', { 'id': a.id }) }}" class="button tiny {{ a.interview.isDraft ? 'warning' }}"><i
                                class="fa fa-list-ul"></i> {{ a.interview.isDraft ? 'Kladd' : 'Intervju' }}</a>
                </td>
                <td>
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="{{ path('interview_admin_assign_co_interviewer', { 'id': a.interview.id }) }}" class="button tiny"><i
                                        class="fa fa-share-alt"></i> Legg til medintervjuer</a>
                        </div>
                    </div>
                </td>
            {% else %}
                <td>
                    {% if a.interview.getCoInterviewer() == null %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="{{ path('interview_assign_co_interviewer', { 'id': a.interview.id }) }}" class="button tiny"><i
                                        class="fa fa-share-alt"></i> Legg meg til som medintervjuer</a>
                        </div>
                    </div>
                    {% endif %}
                </td>
                <td colspan="3"></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
