{% extends 'adminBase.html.twig' %}


{% block title %}
    Registrer Søker
{% endblock %}


{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {% for flashMessage in app.session.flashbag.get('contact-notice') %}
                <div class="contact-notice">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('admission-notice') %}
                <div class="admission-notice">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
                    <div class="small-12 medium-12 large-12 columns">

                                <h1 class="text-center"> Registrer søker {{ department.shortname }} </h1>

                            <br>

                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <div class="row">
                                    <div class="small-12 medium-6 large-4 large-offset-2 columns" >


                                        <div>
                                            {{ form_label(form.firstname) }}
                                            {{ form_errors(form.firstname) }}
                                            {{ form_widget(form.firstname) }}
                                        </div>

                                        <div>
                                            {{ form_label(form.email) }}
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email) }}
                                        </div>


                                    </div>

                                    <div class="small-12 medium-6 large-4  end columns">


                                        <div>
                                            {{ form_label(form.lastname) }}
                                            {{ form_errors(form.lastname) }}
                                            {{ form_widget(form.lastname) }}
                                        </div>

                                        <div>
                                            {{ form_label(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                            {{ form_widget(form.phone) }}
                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 medium-4 large-1 columns large-offset-2">


                                        <div>
                                            {{ form_label(form.statistic.fieldOfStudy) }}
                                            {{ form_errors(form.statistic.fieldOfStudy) }}
                                            {{ form_widget(form.statistic.fieldOfStudy) }}
                                        </div>


                                    </div>

                                    <div class="small-6 medium-4 large-1  columns">


                                        <div>
                                            {{ form_label(form.statistic.yearOfStudy) }}
                                            {{ form_errors(form.statistic.yearOfStudy) }}
                                            {{ form_widget(form.statistic.yearOfStudy) }}
                                        </div>


                                    </div>

                                    <div class="small-6 medium-4 large-2  columns">


                                        <div>
                                            {{ form_label(form.statistic.gender) }}
                                            {{ form_errors(form.statistic.gender) }}
                                            {{ form_widget(form.statistic.gender) }}
                                        </div>


                                    </div>

                                    <div class="small-6 medium-4 large-2 columns">


                                        <div>
                                            {{ form_label(form.statistic.previousParticipation) }}
                                            {{ form_errors(form.statistic.previousParticipation) }}
                                            {{ form_widget(form.statistic.previousParticipation) }}
                                        </div>


                                    </div>

                                    <div class="6 medium-4 large-2 end columns">


                                        <div>
                                            {{ form_label(form.statistic.semester) }}
                                            {{ form_errors(form.statistic.semester) }}
                                            {{ form_widget(form.statistic.semester) }}
                                        </div>


                                    </div>

                                </div>

                                <div class="row">

                                    {# The form.captcha is only defined for unauthenticated users #}

                                    {% if form.captchaAdmission is defined %}

                                            <div class="small-12 medium-6 large-2 large-offset-2 columns">

                                                <div>
                                                    {{ form_label(form.captchaAdmission) }}
                                                    {{ form_errors(form.captchaAdmission) }}
                                                    {{ form_widget(form.captchaAdmission) }}
                                                </div>

                                            </div>

                                            <div class="small-12 medium-6 large-4 text-center columns">

                                                {{ form_widget(form.save, {'attr': {'class': 'vektor-button-inverted'}}) }}

                                            </div>

                                        {% else %}

                                        <div class="small-12 medium-6 large-4 text-center large-offset-4 columns">
                                            {{ form_widget(form.save, {'attr': {'class': 'vektor-button-inverted'}}) }}
                                        </div>

                                    {% endif %}

                                </div>

                                {{ form_end(form) }}



                        </div>
                    </div>

				</div>
{% endblock %}