{% extends 'admission_admin/layout.html.twig' %}

{% block customScripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js/createablerow.js') }}"></script>
    <script>
        var ExistingApplications = {

            // The html table containing the interviewed applicants
            appTable: $("#application-table"),

            onReady: function() {

                ExistingApplications.appTable.find('.make-sub')
                    .createablerow('substitute_create_from_application', {
                        confirmation: {
                            modal: $('#confirmModal'),
                            acceptButton: $('#modalAccept'),
                            cancelButton: $('#modalCancel'),
                            message: $('#modalMessage')
                        }
                    });
            }
        };

        $(document).ready(ExistingApplications.onReady);
    </script>
{% endblock %}

{% block bulkNavigation %}
    {% if is_granted('ROLE_HIGHEST_ADMIN') %}
        <div class="small-6 medium-5 large-3 columns">
            <div class="row collapse">
                <div class="small-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppehandling</option>
                        <option value="deleteApplication">Slett søknad</option>
                        <option value="deleteInterview">Slett intervju</option>
                    </select>
                </div>
                <div class="small-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="small-12 columns">
        <h6 class="float-right">Antall: {{ applicants|length }}</h6>
    </div>
{% endblock %}

{% block applications %}
    {% if applicants is defined %}

        {# The table containing interviewed applications #}
        <table width="100%" id="application-table">
            <thead>
            <tr>
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th><input type="checkbox" id="bulkAllCheck"></th>
                {% endif %}

                {# data-sort is used to sort the tables with stupidtable.js #}
                <th data-sort="string">Fornavn</th>
                <th data-sort="string">Etternavn</th>
                <th>E-post</th>
                <th>Dobbel Stilling</th>
                <th>Bolk</th>
                <th>Språk</th>

                {# Add header columns to match the buttons added #}
                <th></th>
                <th></th>
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            <form id="bulk" name="application">
                {% for a in applicants %}
                    <tr id="{{ a.id }}">
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td><input type="checkbox" class="bulkCheck" name="application[id][]" value="{{ a.id }}">
                            </td>
                        {% endif %}
                        <td>{{ a.user.firstName }}</td>
                        <td>{{ a.user.lastName }}</td>
                        <td>{{ a.user.email }}</td>
                        <td>{{ a.doublePosition ? 'Dobbel':'Enkel' }}</td>
                        <td>{{ a.preferredGroup }}</td>
                        <td>{{ a.english ? 'Engelsk':'Norsk' }}</td>
                        <td><a class="button tiny" href="{{ path('admissionadmin_show_application', {'id': a.id}) }}">
                                <i class="fa fa-list-ul"></i>
                                Les søknad
                            </a>
                        </td>

                        {# Make applicant admin #}
                        <td>
                            <a href="#" class="button tiny success make-sub" id="{{ a.id }}" name="{{ a.user.firstName }} {{ a.user.lastName }}"><i
                                        class="fa fa-user-secret"></i> Lag vikar</a>
                        </td>

                        {# Add the delete interview and application dropdown button, given the correct permissions #}
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td>
                                <a href="#" class="button tiny alert" data-dropdown="deleteDropdown{{ a.id }}"
                                   aria-controls="deleteDropdown{{ a.id }}" aria-expanded="false" id="{{ a.id }}">
                                    <i class="fa fa-trash fa-lg"></i> Slett <i class="fa fa-caret-down"></i>
                                </a>
                                <ul id="deleteDropdown{{ a.id }}" data-dropdown-content class="f-dropdown"
                                    aria-hidden="true">
                                    {% if a.interview is not null %}
                                        <li class="deleteInterview" id="{{ a.interview.id }}"><a href="#">Slett
                                                intervju</a>
                                        </li>
                                    {% endif %}
                                    <li class="deleteApplication" id="{{ a.id }}"><a href="#">Slett søknad</a></li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
    {% endif %}

    <div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete"
         aria-hidden="true" role="dialog">
        <h2 id="modalMessage">Vil du gjøre denne brukeren til vikar?</h2>
        <ul class="inline-list">
            <a id="modalAccept" href="#" class="button tiny success">Lag vikar</a>
            <a id="modalCancel" href="#" class="button tiny cancel">Avbryt</a>
        </ul>
    </div>

{% endblock %}
