{% extends 'admission_admin/layout.html.twig' %}

{% block bulkNavigation %}
    {% if is_granted('ROLE_HIGHEST_ADMIN') %}
        <div class="small-6 medium-5 large-3 columns">
            <div class="row collapse">
                <div class="small-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppe handling</option>
                        <option value="deleteApplication">Slett søknad</option>
                        <option value="deleteInterview">Slett intervju</option>
                    </select>
                </div>
                <div class="small-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block applications %}
    {% if applicants is defined %}
        <h5>Antall: {{ applicants|length }}</h5>

        {# The table containing interviewed applications #}
        <table width="100%" id="application-table">
            <thead>
            <tr>
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th><input type="checkbox" id="bulkAllCheck"></th>
                {% endif %}

                {# data-sort is used to sort the tables with stupidtable.js #}
                <th data-sort="string">Fornavn</th>
                <th data-sort="string">Etternavn</th>
                <th data-sort="string">Linje</th>
                <th data-sort="int">År</th>
                <th data-sort="string">Vikarvillig</th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip"
                                          title="Forklaringsevne">FE</span></th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip" title="Forbilde">F</span>
                </th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip" title="Engasjement">E</span>
                </th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip"
                                          title="Totalintrykk">T</span></th>
                <th data-sort="int">Sum</th>
                <th>Intervju</th>
                <th>Slett</th>

                {# Add header columns to match the buttons added #}
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            <form id="bulk" name="application">
                {% for a in applicants %}
                    <tr id="{{ a.id }}">
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td><input type="checkbox" class="bulkCheck" name="application[id][]" value="{{ a.id }}">
                            </td>
                        {% endif %}
                        <td>{{ a.user.firstName }}</td>
                        <td>{{ a.user.lastName }}</td>
                        <td>{{ a.user.fieldOfStudy }}</td>
                        <td>{{ a.yearOfStudy }}</td>

                        {% if a.substitute == 1 %}
                            <td>Ja</td>
                        {% else %}
                            <td>Nei</td>
                        {% endif %}

                        {% if a.interview.interviewScore is defined %}
                            <td>{{ a.interview.interviewScore.explanatoryPower }}</td>
                            <td>{{ a.interview.interviewScore.roleModel }}</td>
                            <td>{{ a.interview.interviewScore.drive }}</td>
                            <td>{{ a.interview.interviewScore.totalImpression }}</td>
                            <td>{{ a.interview.interviewScore.sum }}</td>
                            {% else %}
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                        {% endif %}

                        {# Add the read interview button #}
                        <td>
                            {% if a.user != user %}
                                {% if a.interview is not null %}
                                <a href="{{ path('interview_show', { 'id': a.id }) }}" class="button tiny"><i
                                            class="fa fa-list-ul"></i> Les intervju</a>
                                    {% else %}
                                    Fant ikke intervju
                                    {% endif %}
                                {% else %}
                                Intervjuet er skjult
                            {% endif %}
                        </td>

                        {# Add the delete interview and application dropdown button, given the correct permissions #}
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td>
                                <a href="#" class="button tiny alert" data-dropdown="deleteDropdown{{ a.id }}"
                                   aria-controls="deleteDropdown{{ a.id }}" aria-expanded="false" id="{{ a.id }}">
                                    <i class="fa fa-trash fa-lg"></i> Slett <i class="fa fa-caret-down"></i>
                                </a>
                                <ul id="deleteDropdown{{ a.id }}" data-dropdown-content class="f-dropdown"
                                    aria-hidden="true">
                                    {% if a.interview is not null %}
                                    <li class="deleteInterview" id="{{ a.interview.id }}"><a href="#">Slett intervju</a>
                                    </li>
                                    {% endif %}
                                    <li class="deleteApplication" id="{{ a.id }}"><a href="#">Slett søknad</a></li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
    {% endif %}

{% endblock %}