{% extends 'admission_admin/layout.html.twig' %}

{% block applications %}
    {% include 'admission_admin/existing_applications/bulk_navigation.html.twig' %}
    <table width="100%" id="application-table">
        <thead>
        <tr>
            {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                <th><input type="checkbox" id="bulkAllCheck"></th>
            {% endif %}

            {# data-sort is used to sort the tables with stupidtable.js #}
            <th data-sort="string">Fornavn</th>
            <th data-sort="string">Etternavn</th>
            <th>E-post</th>
            <th>Dobbel Stilling</th>
            <th>Bolk</th>
            <th>Språk</th>
            <th colspan="2"></th>
            {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
            {% for a in applications %}
                <tr id="{{ a.id }}">
                    {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                        <td><input type="checkbox" class="bulkCheck" name="application[id][]" value="{{ a.id }}">
                        </td>
                    {% endif %}
                    <td><a href="{{ path('specific_profile', {id: a.user.id}) }}">{{ a.user.firstName }}</a></td>
                    <td>{{ a.user.lastName }}</td>
                    <td>{{ a.user.email }}</td>
                    <td>{{ a.doublePosition ? 'Dobbel':'Enkel' }}</td>
                    <td>{{ a.preferredGroup }}</td>
                    <td>{{ a.english ? 'Engelsk':'Norsk' }}</td>
                    <td><a class="button tiny" href="{{ path('admissionadmin_show_application', {'id': a.id}) }}">
                            <i class="fa fa-list-ul"></i>
                            Les søknad
                        </a>
                    </td>

                    {% include 'admission_admin/create_substitute_button.html.twig' %}
                    {% include 'admission_admin/existing_applications/delete_column.html.twig' %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
