{% extends 'admission_admin/layout.html.twig' %}
{% set yes=0 %}
{% set maybe=0 %}
{% set no=0 %}
{% for applicant in applicants %}
    {% if applicant.interview.interviewScore.suitableAssistant == "Ja" %}
        {% set yes = yes +1 %}
    {% elseif applicant.interview.interviewScore.suitableAssistant == "Kanskje" %}
        {% set maybe = maybe +1 %}
    {% elseif applicant.interview.interviewScore.suitableAssistant == "Nei" %}
        {% set no = no +1 %}
    {% endif %}
{% endfor %}
{% block bulkNavigation %}
    {% if is_granted('ROLE_HIGHEST_ADMIN') %}
        <div class="small-6 medium-5 large-3 columns">
            <div class="row collapse">
                <div class="small-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppe handling</option>
                        <option value="deleteApplication">Slett søknad</option>
                        <option value="deleteInterview">Slett intervju</option>
                    </select>
                </div>
                <div class="small-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="small-6 columns"></div>
    {% endif %}
    <div class="small-6 columns">
        <h5 class="float-right">Ja: {{ yes }} / Kanskje: {{ maybe }} / Nei: {{ no }} / Totalt: {{ applicants | length }}</h5>
    </div>
{% endblock %}

{% block applications %}
    {% if applicants is defined %}

        {# The table containing interviewed applications #}
        <form id="bulk" name="application">
        <table width="100%" id="application-table">
            <thead>
            <tr>
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th><input type="checkbox" id="bulkAllCheck"></th>
                {% endif %}

                {# data-sort is used to sort the tables with stupidtable.js #}
                <th data-sort="string">Fornavn</th>
                <th data-sort="string">Etternavn</th>
                <th data-sort="string">Dobbel Stilling</th>
                <th data-sort="string">Ønsket Bolk</th>
                <th data-sort="string">E-post</th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip" title="Forklaringsevne">FE</span></th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip" title="Forbilde">F</span></th>
                <th data-sort="int"><span data-tooltip aria-haspopup="true" class="has-tip" title="Egnethet">E</span></th>
                <th data-sort="int">Sum</th>
                <th data-sort="string">Passende</th>
                <th></th>
                <th></th>

                {# Add header columns to match the buttons added #}
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>

                {% for a in applicants %}
                    <tr id="{{ a.id }}">
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td><input type="checkbox" class="bulkCheck" name="application[id][]" value="{{ a.id }}"></td>
                        {% endif %}
                        <td>{{ a.firstName }}</td>
                        <td>{{ a.lastName }}</td>

                        <td>{{ a.interview.interviewPractical.doublePosition ? 'Ja':'Nei' }}</td>
                        <td>{{ a.interview.interviewPractical.preferredGroup ? a.interview.interviewPractical.preferredGroup:'Ingen' }}</td>
                        <td>{{ a.email }}</td>

                        <td>{{ a.interview.interviewScore.explanatoryPower }}</td>
                        <td>{{ a.interview.interviewScore.roleModel }}</td>
                        <td>{{ a.interview.interviewScore.suitability }}</td>
                        <td>{{ a.interview.interviewScore.sum }}</td>

                        <td>{{ a.interview.interviewScore.suitableAssistant }}</td>

                        {# Add the create user and substitue dropdown button if a user is not already created #}
                        {% if a.userCreated == 0 %}
                            <td>
                                <a class="button tiny{{ (a.substituteCreated == 0) ? '' : ' secondary' }}" data-dropdown="createButton{{ a.id }}" aria-controls="createButton{{ a.id }}" aria-expanded="false"><i class="fa fa-user-plus"></i> Opprett <i class="fa fa-caret-down"></i></a>
                                <ul id="createButton{{ a.id }}" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false">
                                    <li class="createUser"><a href="#">Opprett bruker</a></li>

                                    {# Add the create substitue option only if no substitute exists already #}
                                    {% if a.substituteCreated == 0 %}
                                        <li class="createSubstitute"><a href="#">Opprett vikar</a></li>
                                    {% endif %}
                                </ul>
                            </td>
                        {% else %}
                            <td >Bruker opprettet</td>
                        {% endif %}

                        {# Add the read interview button #}
                        <td>
                            <a href="{{ path('interview_show', { 'id': a.interview.id }) }}" class="button tiny"><i class="fa fa-list-ul"></i> Les intervju</a>
                        </td>

                        {# Add the delete interview and application dropdown button, given the correct permissions #}
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td>
                                <a href="#" class="button tiny alert" data-dropdown="deleteDropdown{{ a.id }}" aria-controls="deleteDropdown{{ a.id }}" aria-expanded="false" id="{{ a.id }}">
                                    <i class="fa fa-trash fa-lg"></i> Slett <i class="fa fa-caret-down"></i>
                                </a>
                                <ul id="deleteDropdown{{ a.id }}" data-dropdown-content class="f-dropdown" aria-hidden="true">
                                    <li class="deleteInterview" id="{{ a.interview.id }}"><a href="#">Slett intervju</a></li>
                                    <li class="deleteApplication" id="{{ a.id }}"><a href="#">Slett søknad</a></li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        </form>
    {% endif %}

{% endblock %}