{% extends 'admission_admin/layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Intervju
    </li>
    <li class="breadcrumb-item active">
        Intervjuer
    </li>
{% endblock %}


{% block applications %}
    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i> Intervjuer ({{ applications|length }})</div>
        <div class="card-body table-responsive">
            <table width="100%" class="application-table table table-striped">
                <thead>
                <tr>
                    {% if is_granted_team_leader() %}
                        <th></th>
                    {% endif %}
                    {# data-sort is used to sort the tables with stupidtable.js #}
                    <th data-sort="string">Navn</th>
                    <th data-sort="string">E-post</th>
                    <th data-sort="string">Mobil</th>
                    <th data-sort="string">Dobbel Stilling</th>
                    <th data-sort="string">Ønsket Bolk</th>
                    <th data-sort="string">Språk</th>
                    <th data-sort="int">Poeng</th>
                    <th data-sort="string">Passende</th>
                    <th data-sort="string">Spesielle behov</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                {% for a in applications %}
                    <tr>
                        {% if is_granted_team_leader() %}
                            <td>
                                <div class="dropdown">
                                    <div class="clickable px-2" id="options-{{ a.id }}" data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary"></i>
                                    </div>
                                    <div class="dropdown-menu pt-0" aria-labelledby="options-{{ a.id }}">
                                        <div class="dropdown-header mb-2"><strong>{{ a.user }}</strong></div>
                                        <form method="POST"
                                              onsubmit="return confirm('Lag vikar av {{ a.user.firstName }} {{ a.user.lastName }}?')"
                                              action="{{ path('substitute_create_from_application', { id: a.id }) }}">
                                            <button type="submit"
                                                    {% if a.substitute %} disabled {% endif %}
                                                    class="dropdown-item text-{{ a.substitute ? 'secondary' : 'primary' }}">
                                                <i class="fa fa-user-secret text-{{ a.substitute ? 'secondary' : 'primary' }}"></i>
                                                {{ a.substitute ? 'Vikar allerede opprettet':'Lag vikar' }}
                                            </button>
                                        </form>
                                        {% if is_granted_admin() %}
                                            <form method="POST"
                                                  onsubmit="return confirm('Er du sikker på at du vil slette intervjuet til {{ a.user }}?')"
                                                  action="{{ path('interview_delete', { id: a.interview.id }) }}">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="submit"
                                                                class="dropdown-item text-danger">
                                                            <i class="fa fa-trash text-danger"></i>
                                                            Slett intervju
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                        <td><a href="{{ path('specific_profile', {id: a.user.id}) }}">{{ a.user }}</a></td>
                        <td>{{ a.user.email }}</td>
                        <td>{{ a.user.phone }}</td>
                        <td>{{ a.doublePosition ? 'Ja':'Nei' }}</td>
                        <td>{{ a.preferredGroup ? a.preferredGroup:'Ingen' }}</td>
                        <td>{{ a.language }}</td>


                        {# Add the read interview button #}
                        {% if a.user != app.user and ( is_granted_team_leader() or a.interview.interviewer == app.user or a.interview.coInterviewer == app.user ) %}
                            <td>{{ a.interview.interviewScore.sum }}</td>
                            <td>{{ a.interview.interviewScore.suitableAssistant }}</td>
                            <td>{% if a.specialNeeds %}
                                    <a href="{{ path('interview_show', { 'id': a.id }) }}#special">
                                        <i class="fs-20 fa fa-exclamation-triangle text-warning" data-toggle="tooltip" data-placement="bottom" title="{{ a.specialNeeds }}"></i>
                                    </a>
                                {% endif %}</td>
                            <td>
                                <a href="{{ path('interview_show', { 'id': a.id }) }}" class="button tiny"><i
                                            class="fa fa-list-ul"></i> Les intervju</a>
                            </td>
                        {% else %}
                            <td colspan="4">
                                <span class="text-alert">Intervjuet er skjult</span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
