{% extends 'admission_admin/layout.html.twig' %}

{% block bulkNavigation %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="small-3 columns">
            <div class="row collapse">
                <div class="small-9 columns">
                    <select id="bulkSelect">
                        <option value="title">Gruppe handling</option>
                        <option value="assign">Fordel intervju</option>
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <option value="deleteApplication">Slett søknad</option>
                        {% endif %}
                    </select>
                </div>
                <div class="small-3 columns">
                    <a href="#" id="bulkAction" class="button postfix">Utfør</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block applications %}
    {% if applicants is defined %}

        <h3 style="text-align: center">Alle søkere | Antall: {{ applicants|length }}</h3>
        {# The table containing new applications #}
        <table width="100%" id="application-table">
            <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th><input type="checkbox" id="bulkAllCheck"></th>
                {% endif %}
                {# data-sort is used to sort the tables with stupidtable.js #}
                <th data-sort="string">Fornavn</th>
                <th data-sort="string">Etternavn</th>
                <th data-sort="int">Tlf</th>
                <th data-sort="string">E-post</th>
                <th data-sort="string">Linje</th>
                <th data-sort="int">År</th>
                <th data-sort="string">Tidligere deltagelse</th>
                <th></th>

                {# Add header columns to match the buttons added #}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th></th>
                {% endif %}
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            <form id="bulk" name="application">
                {% for a in applicants %}
                    <tr id="{{ a.id }}">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><input type="checkbox" class="bulkCheck" name="application[id][]" value="{{ a.id }}">
                            </td>
                        {% endif %}
                        <td>{{ a.user.firstName }}</td>
                        <td>{{ a.user.lastName }}</td>
                        <td>{{ a.user.phone }}</td>
                        <td>{{ a.user.email }}</td>
                        <td>{{ a.user.fieldOfStudy }}</td>
                        <td>{{ a.yearOfStudy }}</td>

                        {% if a.user.assistantHistories|length %}
                            <td>Ja</td>
                            <td></td>
                        {% else %}
                            <td>Nei</td>
                            {# Add the assign interview button, given the correct permissions #}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td>
                                    <a href="#"
                                       class="assign button tiny{{ (a.user.interview is null) ? '' : ' success' }}">
                                        <i class="fa fa-share-alt"></i> Fordel
                                    </a>
                                </td>
                            {% endif %}
                        {% endif %}


                        {# Add the delete application button, given the correct permissions #}
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td>
                                <a href="#" class="button tiny alert deleteApplication" id="{{ a.id }}">
                                    <i class="fa fa-trash"></i> Slett
                                </a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>

    {% endif %}
{% endblock %}