{% extends 'adminBase.html.twig' %}

{% block title %}
    Teaminteresse
{% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 columns">
        <h1>Teaminteresse {{ semester.department.shortname }} {{ semester.semestertime }} {{ semester.year }}</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {% if is_granted_admin() %}
            {% include "common/department_semester_dropdowns.html.twig" with {'path': 'admissionadmin_team_interest', 'parameterName': 'semester', 'currentSemester': semester} %}
        {% else %}
            <ul class="inline-list">
                {# Semester dropdown #}
                {% include "common/semester_dropdown.html.twig" with {
                'pathForSemester': 'admissionadmin_team_interest',
                'semesterParameterName': 'semester',
                'currentSemester': semester} %}
            </ul>
        {% endif %}
        <hr>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <a class="button tiny" href="#" data-reveal-id="myModal">Få liste med e-postadresser</a>

        <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <p>{% for application in teamInterest %} {{ application.user.email }}; {% endfor %}</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </div>
</div>

<div class="row team-interest-table">
    <div class="small-12 columns">
    <table width="100%" class="application-table">
        <thead>
        <tr>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>E-post</th>
            <th>Mobil</th>
            <th>Teaminteresse</th>
        </tr>
        </thead>
        <tbody>

        {% for application in teamInterest %}
        <tr>
            <td><a href='{{ path('specific_profile', { 'id': application.user.id }) }}'>{{ application.user.firstName }}</td>
            <td>{{ application.user.lastName }}</td>
            <td>{{ application.user.email }}</td>
            <td>{{ application.user.phone }}</td>
            <td>
                <button class="button tiny" id="button1" onclick="showTeams()" style="width: 100px"> Vis team</button>
                {% for interested in application.heardAboutFrom %}
                    <div style="display:none" id="teams">{{ interested }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        const teamsRow = $('#teams');
        function showTeams() {
            let x = document.getElementById("teams");
            if (x.style.display === "none") {
                teamsRow.slideDown();
                document.getElementById("button1").innerText="Skjult team";
            } else {
                teamsRow.slideUp();
                document.getElementById("button1").innerText="Vis team";
            }
        }
    </script>

{% endblock %}
