{{ form_start(form) }}
    <div class="row mb-5">
        <div class="col-12 col-sm-6">
            {{ form_row(form.description) }}
            {{ form_row(form.sum) }}
            {{ form_row(form.receiptDate) }}

            {% include 'receipt/account_number.html.twig' %}

            <br>
            {{ form_row(form.picturePath) }}

            <button class="btn btn-success deactivate-on-submit">Be om refusjon</button>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column">
            <div class="flex-grow"></div>
            <div class="{{ receipt.picturePath is not null ? '' : 'd-none' }}">
                <img class="img-fluid" src="{{ asset(receipt.picturePath) }}" id="receipt_picture">
            </div>
            <div class="flex-grow"></div>
        </div>
    </div>
{{ form_end(form) }}
