{% extends 'base.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Opprett utlegg</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="row">
                <div class="small-8 columns">
                    {{ form_row(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    {{ form_row(form.sum) }}
                </div>
            </div>

            <div class="row">
                <div class="small-2 columns">
                    <div class="hide">
                        {{ form_row(form.picturePath) }}
                    </div>
                    <button type="button" class="button tiny" id="choose_picture">
                        Velg bilde
                    </button>
                </div>
                <div class="small-4 columns">
                    <div class="{{ receipt.picturePath is not null ? '' : 'hide' }}">
                        <img src="{{ asset(receipt.picturePath) }}" height="60px" id="receipt_picture">
                    </div>
                </div>
            </div>
            <br>
            <button class="button tiny success">Lagre</button>
            {{ form_end(form) }}

        </div>
    </div>


    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            <hr>
        </div>

        <div class="small-12 medium-12 large-8 columns">

            <h3> Aktive utlegg </h3>

        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <hr>

            {% include 'receipt/receipts_table.html.twig' with {'receipts': 'active_receipts'} %}

        </div>
    </div>

    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            <hr>
        </div>

        <div class="small-12 medium-12 large-8 columns">

            <h3> Eldre utlegg</h3>

        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <hr>

            {% include 'receipt/receipts_table.html.twig' with {'receipts': 'inactive_receipts'} %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        var uploadButton = $('#choose_picture');
        uploadButton.click(function () {
            var realUploadButton = $('#receipt_picturePath');
            realUploadButton.click();
        })
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#receipt_picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#receipt_picturePath").change(function () {
            $('#receipt_picture').parent().removeClass('hide');
            readURL(this);
        });


    </script>

    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>

{% endblock %}

