{{ form_start(form) }}
    <div class="row">
        <div class="small-12 medium-8 columns">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="small-8 medium-3 columns">
            {{ form_row(form.sum) }}
        </div>
    </div>

    <div class="row">
        <div class="small-8 medium-12 columns">
            {{ form_row(form.receiptDate) }}
        </div>
    </div>

    <div class="row">
        <div class="small-8 medium-3 columns">
            {{ form_row(form.user) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div>
                {{ form_row(form.picturePath) }}
            </div>
        </div>
        <div class="small-4 columns">
            <div class="{{ receipt.picturePath is not null ? '' : 'hide' }}">
                <img src="{{ asset(receipt.picturePath) }}" height="60px" id="receipt_picture">
            </div>
        </div>
    </div>
    <br>
    <button class="button success">Be om refusjon</button>
{{ form_end(form) }}
