{{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(form.description) }}
            {{ form_row(form.sum) }}
            {{ form_row(form.receiptDate) }}

            {% if app.user.accountNumber %}
            <div id="accountNumberInfo">
                Ditt kontonummer er <span class="text-bold">{{ app.user.accountNumber }}</span> <span id="changeAccountNumber" class="btn btn-text btn-text-link text-primary">Endre</span>
            </div>
            <div class="row" id="accountNumberForm">
                <div class="col-12">
                    {{ form_row(form.user) }}
                </div>
            </div>
            {% else %}
            {{ form_row(form.user) }}
            {% endif %}

            <br>
            {{ form_row(form.picturePath) }}

            <button class="btn btn-success">Be om refusjon</button>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column">
            <div class="flex-grow"></div>
            <div class="{{ receipt.picturePath is not null ? '' : 'd-none' }}">
                <img class="img-fluid" src="{{ asset(receipt.picturePath) }}" id="receipt_picture">
            </div>
            <div class="flex-grow"></div>
        </div>
    </div>
{{ form_end(form) }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#changeAccountNumber').click(function() {
          $('#accountNumberForm').show();
          $('#accountNumberInfo').hide();
        });
    });
</script>
