{{ form_start(form) }}
    <div class="row mb-5">
        <div class="col-12 col-sm-6">
            {{ form_row(form.description) }}
            {{ form_row(form.sum) }}
            <p class="mt-0 mb-3">
                <span class="font-weight-bold">Merk:</span>
                Summen må stemme nøyaktig med den på kvitteringen hvis hele beløpet skal dekkes. Hvis ikke, skriv beløpet som skal dekkes.
            </p>
            {{ form_row(form.receiptDate) }}
            {% include 'receipt/account_number.html.twig' %}
            <br>
            {{ form_row(form.picturePath) }}
            <p class="mt-0 mb-3">
                <span class="font-weight-bold">Merk:</span>
                Det skal opprettes unikt utlegg for hver kvittering.
            </p>
            <br>
            <button class="btn btn-success">Be om refusjon</button>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-column">
            <div class="{{ receipt.picturePath is not null ? '' : 'd-none' }}">
				<img class="img-fluid d-none" src="{{ asset(receipt.picturePath) }}" id="receipt_picture">
				<object id="receipt_pdf" data="{{asset(receipt.picturePath)}}" class="d-none" style="max-width: 100%; max-height:70%;" type="application/pdf" width="400" height="600">
					<embed src="{{asset(receipt.picturePath)}}" type="application/pdf">
						<p>This browser does not support PDFs. Please download the PDF to view it: <a href="{{asset(receipt.picturePath)}}">Download PDF</a>.</p>
					</embed>
				</object>
            </div>
        </div>
    </div>
{{ form_end(form) }}
