{% extends 'base.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <div class="page-header page-header-thin">
                <h1>Rediger utlegg</h1>
            </div>
        </section>

        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.sum) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.receiptDate) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.user) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div>
                            {{ form_row(form.picturePath) }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img src="{{ asset(receipt.picturePath) }}" class="img-fluid" id="receipt_picture">
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary">Lagre</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#receipt_picture').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#receipt_picturePath").change(function () {
            if(this.value === ''){
                $('#receipt_picture').attr('src', '{{ asset(receipt.picturePath) }}');
            } else {
                $('#receipt_picture').parent().removeClass('hide');
                readURL(this);
            }
        });


    </script>

    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>

    <script src="{{ asset_with_version('js/bankAccountNumberValidation.js') }}"></script>

{% endblock %}
