{% extends parent_template %}

{% block title %}Utlegg{% endblock %}

{% if parent_template == 'adminBase.html.twig' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{{ path('receipts_show') }}">Utlegg</a></li>
        <li class="breadcrumb-item"><a href="{{ path('receipts_show_individual', {'user': receipt.user.id}) }}">{{ receipt.user }}</a></li>
        <li class="breadcrumb-item active">{{ receipt.visualId }}</li>
    {% endblock %}
{% endif %}


{% block body %}
    <div class="container">
        <section>
            <div class="page-header page-header-thin">
                <h1>Rediger utlegg</h1>
            </div>
        </section>

        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.sum) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.receiptDate) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.user) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div>
                            {{ form_row(form.picturePath) }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            {% if (receipt.picturePath matches '/\.pdf$/') %}
                                <div id="receipt_pdf">
                                    <object data="{{asset(receipt.picturePath)}}" style="max-width: 100%; max-height:70%;" type="application/pdf" width="400" height="600">
                                        <embed src="{{asset(receipt.picturePath)}}" type="application/pdf">
                                            <p>Nettleseren din støtter ikke PDFer. Last ned PDF for å vise den: <a href="{{asset(receipt.picturePath)}}">Last ned PDF</a>.</p>
                                        </embed>
                                    </object>
                                    <br>
                                    <a href="{{asset(receipt.picturePath)}}" target="_blank" rel="noopener">Åpne PDF i ny fane</a>
                                </div>
                                <img class="img-fluid d-none" src="{{ asset_with_version(receipt.picturePath) }}" id="receipt_picture">
                            {% else %}
                                <div id="receipt_pdf" class="d-none">
                                    <object data="{{asset(receipt.picturePath)}}" style="max-width: 100%; max-height:70%;" type="application/pdf" width="400" height="600">
                                        <embed src="{{asset(receipt.picturePath)}}" type="application/pdf">
                                            <p>Nettleseren din støtter ikke PDFer. Last ned PDF for å vise den: <a href="{{asset(receipt.picturePath)}}">Last ned PDF</a>.</p>
                                        </embed>
                                    </object>
                                    <br>
                                    <a href="{{asset(receipt.picturePath)}}" target="_blank" rel="noopener">Åpne PDF i ny fane</a>
                                </div>
                                <img class="img-fluid" src="{{ asset_with_version(receipt.picturePath) }}" id="receipt_picture">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary">Lagre</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  if (e.target.result.startsWith("data:application/pdf")){
                      $('#receipt_pdf').removeClass('d-none');
                      $('#receipt_pdf').find('object').attr('data', e.target.result);
                      $('#receipt_pdf').find('embed').attr('src', e.target.result);
                      $('#receipt_pdf').find('a').attr('href', e.target.result);

                      $('#receipt_picture').addClass('d-none');

                  } else {
                    $('#receipt_pdf').addClass('d-none');

                    $('#receipt_picture').removeClass('d-none');
                    $('#receipt_picture').attr('src', e.target.result);
                  }
                };

                reader.readAsDataURL(input.files[0]);

            }
        }

        $("#receipt_picturePath").change(function () {
            if(this.value === ''){
                $('#receipt_picture').attr('src', '{{ asset(receipt.picturePath) }}');
            } else {
                $('#receipt_picture').parent().removeClass('hide');
                readURL(this);
            }
        });


    </script>

    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>

    <script src="{{ asset_with_version('js/bankAccountNumberValidation.js') }}"></script>

{% endblock %}
