<table width="100%" id="activeReceiptsTable">
    <thead>

    <tr>
        <th> Beskrivelse</th>
        <th> Sum</th>
        <th> Dato</th>
        <th> Kvittering</th>
        <th colspan="3"></th>
    </tr>

    </thead>

    <tbody>
    {% for receipt in receipts %}
        <tr>
            <td> {{ receipt.description }} </td>
            <td> {{ receipt.sum|number_format(2, ',', '.') }},- </td>
            <td> {{ receipt.submitDate|date('Y-m-d') }}</td>
            <td>
                <a href="#" data-reveal-id="receipt-{{ receipt.id }}">Vis kvittering</a>

                <div id="receipt-{{ receipt.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <h2 id="modalTitle">Kvittering</h2>
                    <img src="{{ receipt.picturePath }}">
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </td>
            {% if receipt.active and is_granted_team_leader() %}
            <td><a href="{{ path('receipts_finish', {'receipt': receipt.id}) }}"
                   onclick="return confirm('Marker utlegget som refundert og send en bekreftelsesmail?')"
                   class="button tiny">Refunder</a></td>
            {% else %}
            <td></td>
            {% endif %}

            {% if receipt.active or is_granted_team_leader() %}
                <td><a href="{{ path('receipt_edit', { 'receipt': receipt.id }) }}" class="button tiny">Rediger</a></td>
                <td>{% include 'receipt/delete_receipt_button.html.twig' %}</td>
            {% else %}
                <td colspan="2"></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>
