{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett semester
{% endblock %}

{% form_theme form 'form/foundation_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.min.css">
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">

            <h1> Opprett semester {{ department }}</h1>

            <hr>


            <div class="row">

                <div class="small-12 medium-12 large-6 columns">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.full.min.js"></script>
    <script>
        const options = {
            format: 'd.m.Y H:i',
            lang: 'no',
            step: 1,
        };

        jQuery('#{{ form.admissionStartDate.vars.id }}').datetimepicker(options);
        jQuery('#{{ form.admissionEndDate.vars.id }}').datetimepicker(options);
    </script>
{% endblock %}
