{% extends 'adminBase.html.twig' %}


{% block title %}
    Opprett semester
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.min.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">

            <h1> Endre opptaksperiode {{ semesterName }} – {{ department }}</h1>

            <hr>


            {{ form_start(form) }}
            <div class="row">

                <div class="col-12 col-md-12 col-lg-6">

                    <h3>Opptak start / slutt</h3>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.admissionStartDate) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.admissionEndDate) }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-6">

                    <h3>Infomøte (valgfri)</h3>
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.showOnPage) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.date) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.room) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.link) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.full.min.js"></script>
    <script>
      const options = {
        format: 'd.m.Y H:i',
        lang: 'no',
        step: 1,
      };

      jQuery('#{{ form.admissionStartDate.vars.id }}').datetimepicker(options);
      jQuery('#{{ form.admissionEndDate.vars.id }}').datetimepicker(options);
      jQuery('#{{ form.infoMeeting.date.vars.id }}').datetimepicker(Object.assign(options, {step: 15}));
    </script>
{% endblock %}
