{% extends 'adminBase.html.twig' %}

{% block title %}
    Sponsorer
{% endblock %}

{% block body %}
    {#
     <table> {# Was unable to force preview of logo to be placed right of form with row class=columns...why?
    {% for form in forms %}
        <tr border="1">
            <td>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
            <td>
                Nåværende logo:<br>
                <img src="{{ asset_with_version(logos[loop.index0] ) }}" height="60px">
            </td>
        </tr>
    {% endfor %}
    </table>

    {# Place a button for adding a new sponsor
    <hr>
    <form action="{{ path('sponsors_add') }}">
        <input type="submit" value="Legg til sponsor">
    </form> #}
    {% for form in forms %}
        <div class="row">
            {{ form_start(form) }}

            {# Name and url labels and fields#}
            <div class="col-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-4">
                        {{ form_label(form.name) }}
                    </div>
                    <div class="col-8 col-md-8 col-lg-8">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-4">
                        {{ form_label(form.url) }}
                    </div>
                    <div class="col-8 col-md-8 col-lg-8">
                        {{ form_widget(form.url) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-4">
                        {{ form_label(form.size) }}
                    </div>
                    <div class="col-8 col-md-8 col-lg-8">
                        {{ form_widget(form.size) }}
                    </div>
                </div>
            </div>

            {# Logo #}
            <div class="col-3 col-md-3 col-lg-3">
                <div class="row">
                    Nåværende logo
                </div>
                <div class="row">
                    <img src="{{ asset_with_version(logos[loop.index0] ) }}" height="60px">
                </div>
                <div class="row">
                    {{ form_widget(form.logoImagePath, {'attr': {'value': 'Last opp ny logo'}}) }}
                </div>
            </div>

            {# Save and delete buttons #}
            <div class="col-3 col-md-3 col-lg-3 text-center">
                <ul class="stack button-group">
                    <li>{{ form_widget(form.save, {'attr': {'class': 'small'}}) }}</li>
                    <li>{{ form_widget(form.delete, {'attr': {'class': 'small alert'}}) }}</li>

                </ul>
            </div>

            {{ form_end(form) }}
        </div>
        <br><br>
    {% endfor %}
    {# Place a button for adding a new sponsor #}
    <div class="row">
        <form action="{{ path('sponsors_add') }}">
            <input type="submit" value="Legg til sponsor" class="button small">
        </form>
    </div>
{% endblock %}
