<div class="row">
    <div class="row text-center"">
        <h2>Våre sponsorer og partnere</h2>
        {% for sponsor in get_sponsors_by_size('large') %}
            <div class="small-6 medium-6 large-6 sponsor-column {{ loop.last? 'end':'' }} {% if (((get_sponsors_by_size('large')|length) % 2) == 1) and loop.last %}large-offset-3{% endif %} columns">
                <a href="{{ sponsor.url }}">
                    <span class="vertical-align-image-helper"></span><img class="sponsor-img-large"
                                                                          src="{{ asset(sponsor.logoImagePath) }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row text-center">
        {% for sponsor in get_sponsors_by_size('medium') %}
            <div class="small-6 medium-4 large-4 sponsor-column {{ loop.last? 'end':'' }} columns">
                <a href="{{ sponsor.url }}">
                    <span class="vertical-align-image-helper"></span><img class="sponsor-img-{{ sponsor.size }}"
                                                                          src="{{ asset(sponsor.logoImagePath) }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row text-center">
        {% for sponsor in get_sponsors_by_size('small') %}
            <div class="small-6 medium-3 large-3 sponsor-column {{ loop.last? 'end':'' }} columns">
                <a href="{{ sponsor.url }}">
                    <span class="vertical-align-image-helper"></span><img class="sponsor-img-{{ sponsor.size }}"
                                                                          src="{{ asset(sponsor.logoImagePath) }}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
