<div class="row text-center">
    <h2>Våre sponsorer og partnere</h2>
    {% set index = 0 %}
    {% for sponsor in get_sponsors() %}
        {# If there will be a single logo on one line it will be placed on top in the middle #}
        {% if loop.index0 == 0 and get_sponsors()|length%3 == 1 %}
            <div class="row">
                <div class="small-4 medium-4 large-4 small-offset-4 medium-offset-4 large-offset-4 sponsor-column columns">
                    <a href="{{ sponsor.url }}">
                        <span class="vertical-align-image-helper"></span><img class="sponsor-img" src="{{ asset(sponsor.logoImagePath) }}">
                    </a>
                </div>
            </div>
        {% else %}
            {% if  index%3 == 0 %} <div class="row"> {% endif %}
                <div class="small-4 medium-4 large-4 sponsor-column {{ get_sponsors()|length %3 == 2 ? 'end':'' }} columns">
                    <a href="{{ sponsor.url }}">
                        <span class="vertical-align-image-helper"></span><img class="sponsor-img" src="{{ asset(sponsor.logoImagePath) }}">
                    </a>
                </div>
            {% set index = index+1 %}
            {% if index%3 == 0 %}</div>{% endif %}
        {% endif %}
    {% endfor %}
    {% if not get_sponsors()|length %3 == 0 %}</div>{% endif %}
</div>