{% extends 'adminBase.html.twig' %}

{% block title %}
	Opprett team
{% endblock %}

{% form_theme form 'form/foundation_layout.html.twig' %}

{% block body %}
    <p></p>
	
	<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				{% if isUpdate is not defined %}
					{% set isUpdate = false %}
				{% endif %}
					<h1> {{ isUpdate ? 'Oppdater' : 'Opprett' }} team </h1>
					
					<p> {{ isUpdate ? 'Oppdaterer' : 'Oppretter' }} team for avdeling {{ department.shortname }} </p>
					
					<hr>
					
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
									
								{{ form_start(form) }}
								{{ form_widget(form) }}
								<br>
								<button class="button large">Lagre</button>
								{{ form_end(form) }}
									
							</div>
						</div>
						
						
						
												
			</div>
		</div>
	
{% endblock %}

{% block javascripts %}

{% endblock %}
