{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    {# Easy routing with FOSJsRouting bundle #}
    <script src="{{ asset_with_version('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {# We need the deletetablerow.js file #}
    <script src="{{ asset_with_version('js/deleteablerow.js') }}"></script>

    <script>

        $(document).ready(function () {
            $('.delete').deleteablerow('teamadmin_delete_team_by_id', {
                confirmation: {
                    modal: $('#confirmModal'),
                    acceptButton: $('#modalAccept'),
                    cancelButton: $('#modalCancel')
                }
            });
        });

    </script>


{% endblock %}

{% block title %}
    Team
{% endblock %}
	
{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Team {{ department }}</h1>

            <hr>

            {% if is_granted_team_leader() %}
                <div class="row">
                    <div class="small-12 medium-12 large-6 columns">
                        <ul class="inline-list">

                            {% include "common/department_dropdown.html.twig" with {'pathForDepartment': 'teamadmin_filter_teams_by_department', 'departmentParameterName': 'id', 'currentDepartment': department} %}

                            <li>
                                <a class="button tiny" data-dropdown="team" aria-controls="team" aria-expanded="false">Opprett
                                    team &raquo;</a>
                                <ul id="team" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true"
                                    aria-autoclose="false" tabindex="-1">

                                    {% for d in get_departments() %}

                                        <li>
                                            <a href="{{ path('teamadmin_create_team_for_department', { 'id': d.id }) }}">{{ d.shortName }}</a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </li>

                            <li>
                                <a href="{{ path('teamadmin_show_position') }}" class="button tiny">Stillinger</a>
                            </li>

                        </ul>
                    </div>
                </div>
            {% endif %}

            <h5>Aktive team</h5>
            <table width="100%" id="table">

                <thead>
                <tr>
                    <th>Navn</th>
                    <th>E-post</th>
                    <th colspan="3">Opptak</th>
                </tr>
                </thead>

                <tbody>
                {% for t in teams %}
                    {% if t.isActive %}
                        <tr>
                            <td><a
                                        href="{{ path('teamadmin_show_specific_team', { 'id': t.id }) }}"> {{ t.name }} </a>
                            </td>
                            <td>
                                {{ t.email }}
                            </td>
                            {% if t.acceptApplication %}
                                <td><span class="text-success">Åpent</span></td>
                            {% else %}
                                <td><span class="text-alert">Stengt</span></td>
                            {% endif %}
                            {% if is_granted_admin() %}
                                <td class="float-right"><a href="#" id="{{ t.id }}" class="button tiny alert delete"><i
                                                class="fa fa-trash-o"></i> Slett</a></td>
                            {% endif %}
                            {% if is_granted_team_leader() %}
                                <td class="float-right"><a href="{{ path('teamadmin_update', { 'id': t.id }) }}"
                                       class="button tiny float-right">Rediger</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <!-- Henter ut team som ikke er aktive -->
            {% for t in teams if not t.isActive %}
                <!-- Printer ut tablehead kun hvis iterasjonen går gjennom en gang, altså hvis det
                 finnes minst ett inaktivt team-->
                {% if loop.first %}
                    <h5>Inaktive team</h5>
                    <table width="100%" id="table">
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>E-post</th>
                                <th colspan="3">Opptak</th>
                            </tr>
                        </thead>
                {% endif %}
                        <tbody>
                            <tr>
                                <td><a
                                            href="{{ path('teamadmin_show_specific_team', { 'id': t.id }) }}"> {{ t.name }} </a>
                                </td>
                                <td>
                                    {{ t.email }}
                                </td>
                                {% if t.acceptApplication %}
                                    <td><span class="text-success">Åpent</span></td>
                                {% else %}
                                    <td><span class="text-alert">Stengt</span></td>
                                {% endif %}
                                {% if is_granted_admin() %}
                                    <td class="float-right"><a href="#" id="{{ t.id }}" class="button tiny alert delete"><i
                                                    class="fa fa-trash-o"></i> Slett</a></td>
                                {% endif %}
                                {% if is_granted_team_leader() %}
                                    <td class="float-right"><a href="{{ path('teamadmin_update', { 'id': t.id }) }}"
                                                               class="button tiny float-right">Rediger</a>
                                    </td>
                                {% endif %}
                            </tr>
            {% endfor %}
                        </tbody>
                    </table>
        </div>
    </div>

    <div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete"
         aria-hidden="true" role="dialog">
        <h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
        <ul class="inline-list">
            <a id="modalAccept" href="#" class="button tiny">Slett</a>
            <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
        </ul>
    </div>

{% endblock %}
