<div class="department-box card py-2 py-sm-4">
    <!-- Tabs (visible on large screens) -->
    <div class="card-block pt-4 pb-1 pb-sm-4 d-none d-sm-inline-flex">
        <ul id="department-box-tabs" class="nav nav-tabs justify-content-center w-100">
            {% for department in departments %}
                <li role="presentation" class="nav-item"><a class="nav-link" href="#{{ department }}" data-toggle="tab" aria-controls="{{ department.id }}">{{ department.city }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Dropdown (visible on mobile) -->
    <div class="card-block px-3 px-sm-0 my-2 my-sm-0">
        <select class="form-control d-block d-sm-none" id="department-box-selector">
            {% for department in departments %}
                <option value="{{ department.id }}">{{ department.city }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Panes -->
    <div class="card-block tab-content px-3 px-sm-4 py-2 py-sm-4 mx-sm-4">
        {% for department in departments %}
            {% set form = forms[department.city] %}
            <div role="tabpanel" class="tab-pane fade in" id="{{ department }}">
                <div class="card-block px-3 px-sm-0 my-2 my-sm-0">
                    {% if department.currentAdmissionPeriod and department.currentAdmissionPeriod.hasActiveAdmission() %}
                        <header class="text-center mb-5">
                            <h3>{{ department.city }}</h3>

                            <p>Søknadsfrist: <span class="deadline">
                            {{ department.currentAdmissionPeriod.endDate|date('d.m.Y') }}
                                    kl. {{ department.currentAdmissionPeriod.endDate|date('H:i') }}</span>
                            </p>
                        </header>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                {{ form_errors(form) }}
                            </div>
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="row">
                                    <div class="form-group col-12 col-sm-6">
                                        {{ form_row(form.user.firstName, { 'attr': {'tabindex': '1'}}) }}
                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        {{ form_row(form.user.lastName, { 'attr': {'tabindex': '2'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-sm-6">
                                        {{ form_row(form.user.email, { 'attr': {'tabindex': '3'}}) }}
                                    </div>

                                    <div class="form-group col-12 col-sm-6">
                                        {{ form_row(form.user.phone, { 'attr': {'tabindex': '4'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 offset-md-2">
                                <div class="row">
                                    <div class="form-group col-12 col-sm-4">
                                        <div>
                                            {{ form_row(form.user.gender, { 'attr': {'tabindex': '5'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-sm-4">
                                        {{ form_row(form.user.fieldOfStudy, { 'attr': {'tabindex': '6'}}) }}
                                    </div>
                                    <div class="form-group col-12 col-sm-4">
                                        <div>
                                            {{ form_row(form.yearOfStudy, { 'attr': {'tabindex': '7'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center mx-auto">
                                <button type="submit"
                                        tabindex="8"
                                        class="btn btn-lg btn-primary my-5 submit-application">
                                    Søk nå!
                                </button>
                                <p class="pt-2 mb-0">Har du vært assistent tidligere? <br>
                                    Da kan du søke på nytt <a href="{{ path('admission_existing_user') }}">her</a> (krever innlogging)</p>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% elseif department.currentAdmissionPeriod and date() < date(department.currentAdmissionPeriod.startDate) %}
                        <header class="application-header text-center mt-3">
                            <h3>{{ department.city }}</h3>
                            <p><i class="fa fa-exclamation-circle text-warning"></i> Opptaket starter: <span class="deadline">
                        {{ department.currentAdmissionPeriod.startDate|date('d.m.Y') }}
                                    kl. {{ department.currentAdmissionPeriod.startDate|date('H:i') }}</span>
                            </p>
                        </header>
                        <div class="row mt-4">
                            <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
                                <div class="form-group">
                                    <input type="email" class="form-control subscribe-input" placeholder="E-post" autocomplete="nope">
                                    <div class="invalid-feedback"></div>
                                    <br>
                                    <div class="form-check">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox" checked>
                                            <small>Send meg også påminnelse om neste infomøte.</small>
                                        </label>
                                    </div>
                                    <button class="btn btn-info btn-sm mt-3" onclick="subscribe({{ department.id }}, this)">Få påminnelse når opptaket starter</button>
                                </div>
                            </div>
                        </div>
                    {% elseif department.currentAdmissionPeriod and date(department.currentAdmissionPeriod.endDate)|date_modify("+14 days") > date() %}
                        <header class="application-header text-center mt-3">
                            <h3>{{ department.city }}</h3>
                        </header>
                        <p class="text-center">
                            <i class="fa fa-exclamation-circle text-warning"></i> Opptaket stengte <span class="deadline">
                        {{ department.currentAdmissionPeriod.endDate|date('d.m.Y') }}
                                kl. {{ department.currentAdmissionPeriod.endDate|date('H:i') }}</span>
                        </p>
                        <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 mt-4">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe-input" placeholder="E-post" autocomplete="nope">
                                <div class="invalid-feedback"></div>
                                <br>
                                <div class="form-check">
                                    <label class="form-check-label"><input class="form-check-input" type="checkbox" checked>
                                        <small>Send meg også påminnelse om neste infomøte.</small>
                                    </label>
                                </div>
                                <button class="btn btn-info btn-sm mt-3 btn-text-break" onclick="subscribe({{ department.id }}, this)">
                                    Få påminnelse når neste opptak starter
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <header class="application-header text-center mt-3">
                            <h3>{{ department.city }}</h3>
                        </header>
                        <p class="text-center">
                            <i class="fa fa-exclamation-circle text-warning"></i> Søker ikke etter nye assistenter akkurat nå
                        </p>
                        <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 mt-4">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe-input" placeholder="E-post" autocomplete="nope">
                                <div class="invalid-feedback"></div>
                                <br>
                                <div class="form-check">
                                    <label class="form-check-label"><input class="form-check-input" type="checkbox" checked>
                                        <small>Send meg også påminnelse om neste infomøte.</small>
                                    </label>
                                </div>
                                <button class="btn btn-info btn-sm mt-3" onclick="subscribe({{ department.id }}, this)">Få påminnelse når opptaket starter</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
