<div class="row">
    <div class="small-12 medium-12 large-12 columns">

                <h1>Kontakt Vektor ved {{ department.shortname }}</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-4 large-3 columns">

        {{ form_start(contactForm) }}
        {{ form_errors(contactForm) }}

        {{ form_row(contactForm.name) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.subject) }}
        {{ form_row(contactForm.captcha) }}

    </div>

    <div class="small-12 medium-8 large-5 columns text-center">

        {{ form_row(contactForm.body) }}
        {{ form_widget(contactForm.submit, {'attr': {'class': 'vektor-button'}}) }}

        {{ form_end(contactForm) }}

    </div>

    <div class="small-12 medium-12 large-4 columns">
        <strong>Kontaktinformasjon</strong>

        <p>

            Adresse: {{ department.address }} <br/>
            E-post: {{department.email}} <br/>

        </p>

    </div>
</div>


