{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet - Opptak
{% endblock %}

{# Form themes user to modify the templates of the various form components #}
{% form_theme form 'form/interview_layout.html.twig' %}
{% form_theme form.monday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.tuesday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.wednesday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.thursday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.friday 'form/radio_grid_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-6 medium-offset-3 columns">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <h3>Søk vektorassistent {{ department.shortName }} {{ semester.name }}</h3>
            <div class="row">
                <div class="small-12 columns">
                    <div>
                        {{ form_label(form.yearOfStudy) }}
                        {{ form_errors(form.yearOfStudy) }}
                        {{ form_widget(form.yearOfStudy) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label class="question-label">Hvilke dager passer for deg?</label>
                    {{ form_row(form.monday) }}
                    {{ form_row(form.tuesday) }}
                    {{ form_row(form.wednesday) }}
                    {{ form_row(form.thursday) }}
                    {{ form_row(form.friday) }}
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    {{ form_row(form.doublePosition) }}
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    {{ form_row(form.preferredGroup) }}
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    {{ form_row(form.substitute) }}
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    {{ form_row(form.english) }}
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                    {{ form_widget(form.save, {'attr': {'class': 'vektor-button-inverted'}}) }}
                </div>
                <br>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block customScripts %}

    <script>
        var $submitBtn = $('.vektor-button-inverted');
        var $applicationForm = $('form[name="application"]');
        $submitBtn.click(function(){
            if($applicationForm[0].checkValidity()){
                $submitBtn.attr("disabled", true);
                $submitBtn.html("Sender...");
                $applicationForm.submit();
            }
        });
    </script>

{% endblock %}
