{% extends 'base.html.twig' %}

{% block title %}
    {% for d in department %}
        Opptak {{ d.shortname }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
{% endblock %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {% for flashMessage in app.session.flashbag.get('contact-notice') %}
                <div class="contact-notice">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('admission-notice') %}
                <div class="admission-notice">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="admissioncontainer">
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">

                <h1 class="text-center"> Søk Vektorprogrammet ved {{ department.shortname }} </h1>
                <br>

                {% if semester is defined %}

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="small-12 medium-6 large-4 large-offset-2 columns">


                            <div>
                                {{ form_label(form.user.firstName) }}
                                {{ form_errors(form.user.firstName) }}
                                {{ form_widget(form.user.firstName, { 'attr': {'tabindex': '1'}}) }}
                            </div>

                            <div>
                                {{ form_label(form.user.email) }}
                                {{ form_errors(form.user.email) }}
                                {{ form_widget(form.user.email, { 'attr': {'tabindex': '3'}}) }}
                            </div>


                        </div>

                        <div class="small-12 medium-6 large-4  end columns">


                            <div>
                                {{ form_label(form.user.lastName) }}
                                {{ form_errors(form.user.lastName) }}
                                {{ form_widget(form.user.lastName, { 'attr': {'tabindex': '2'}}) }}
                            </div>

                            <div>
                                {{ form_label(form.user.phone) }}
                                {{ form_errors(form.user.phone) }}
                                {{ form_widget(form.user.phone, { 'attr': {'tabindex': '4'}}) }}
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 medium-4 large-1 columns large-offset-2">


                            <div>
                                {{ form_label(form.user.fieldOfStudy) }}
                                {{ form_errors(form.user.fieldOfStudy) }}
                                {{ form_widget(form.user.fieldOfStudy, { 'attr': {'tabindex': '5'}}) }}
                            </div>


                        </div>

                        <div class="small-6 medium-4 large-1  columns">


                            <div>
                                {{ form_label(form.yearOfStudy) }}
                                {{ form_errors(form.yearOfStudy) }}
                                {{ form_widget(form.yearOfStudy, { 'attr': {'tabindex': '6'}}) }}
                            </div>


                        </div>

                        <div class="small-6 medium-4 large-2  columns">


                            <div>
                                {{ form_label(form.user.gender) }}
                                {{ form_errors(form.user.gender) }}
                                {{ form_widget(form.user.gender, { 'attr': {'tabindex': '7'}}) }}
                            </div>


                        </div>


                        {# The form.captcha is only defined for unauthenticated users #}

                        {% if form.captchaAdmission is defined %}

                            <div class="small-6 medium-4 large-2 columns">

                                <div>
                                    {{ form_label(form.captchaAdmission) }}
                                    {{ form_errors(form.captchaAdmission) }}
                                    {{ form_widget(form.captchaAdmission) }}
                                </div>

                            </div>

                        {% endif %}
                        <div class="small-6 medium-6 large-2 end columns">

                            <h3> Søknadsfrist: </h3>

                            {{ semester.admissionEndDate|date('d.m.Y') }}
                            kl. {{ semester.admissionEndDate|date('H:i') }}
                            </br>

                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <br>
                            {{ form_widget(form.save, {'attr': {'class': 'vektor-button-inverted','tabindex': '8'} }) }}
                            <br><br>
                            <p>Gamle assistenter kan søke <a href="{{ path('admission_existing_user') }}">her</a></p>
                        </div>
                    </div>


                    {{ form_end(form) }}

                {% else %}

                    {% for d in department %}
                        <p> Avdelingen {{ d.shortname }} har ikke en aktiv søkeperiode. </p>
                    {% endfor %}

                {% endif %}


            </div>
        </div>

    </div>

    <br/>
    <br/>

    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            {% for d in department %}
                <div class="{{ element_editable() }}" id={{ 'admission' ~ d.shortname }}>
                    {{ get_content('admission' ~ d.shortname) | raw }}
                </div>
            {% endfor %}
        </div>

        <div class="small-12 medium-12 large-12 columns">

            <div class="row">
                <div class="small-12 medium-12 large-6 columns">

                    <h2> Vektorprogrammet </h2>

                    <p>

                        Vektorprogrammet er Norges største organisasjon som jobber for å øke
                        interessen for matematikk og realfag blant elever i grunnskolen.
                        Vi sender realfagssterke studenter til barne- og ungdomsskoler hvor de fungerer som lærerens
                        assistent.
                        Dermed vil det være flere tilstede elevene kan spørre flere om hjelp,
                        samtidig er studenten en rollemodell for elevene. På denne måten hjelper og inspirerer vi alle –
                        ikke bare de som allerede er interessert i å lære matematikk og realfag!
                        DU kan sørge for at elevene får raskere hjelp i matematikktimene og at alle elever får tilgang
                        til kvalifisert hjelp.

                    </p>
                </div>

                <div class="small-12 medium-12 large-6 columns">

                    {#<img src="{{ asset("img/temp/greybox2.png") }}"/>#}

                </div>

            </div>

            <div class="row">
                <div class="small-12 medium-12 large-6 columns">

                    <h2> Hva gjør en Vektorassistent? </h2>

                    <p>
                        Har du lyst til å prøve læreryrket og utgjøre en forskjell?
                        Da er Vektorprogrammet noe for deg! Som vektorassistent vil du være med å øke interessen
                        for matematikk i grunnskolen. To vektorassistenter blir sendt ut til samme skole en
                        gang per uke, i 4 eller 8 uker. Der hjelper dere til i matematikktimene,
                        enten under felles oppgaveregning i klassen eller som veileder i små undervisningsgrupper.
                        Oppholdet på skolen varer hele dagen, og du får selvfølgelig stor valgfrihet i hvilke dager
                        som passer deg. Alle vektorassistenter får også en attest. Vektorprogrammet ønsker å gi så mye
                        som mulig tilbake
                        til studentene og arrangerer derfor mange studiemotiverende tiltak.
                        Som vektorassistent får du vært med på opptaksfest, grillkveld, populærforedrag, spillkveld og
                        mye mer.
                        Dette er en erfaring det er verdt å få med seg!
                    </p>
                </div>

                <div class="small-12 medium-12 large-6 columns">

                    {#<img src="{{ asset("img/temp/greybox2.png") }}"/>#}

                </div>

            </div>

        </div>
    </div>

    <br/>
    <br/>

    {% render controller('AppBundle:Admission:contact', {'id' : department.id} ) %}

    <br/>
    <br/>
    <div class="row">
        <div class="small-12 columns">
            <h3>Siste vektornyheter fra {{ department.shortname }}:</h3>
        </div>
    </div>
    <div class="row">
        {% render controller('AppBundle:Article:showDepartmentNews', {'id' : department.id}) %}
    </div>
{% endblock %}
{% block customScripts %}

<script>
    var $submitBtn = $('.vektor-button-inverted');
    var $applicationForm = $('form[name="application"]');
    $submitBtn.click(function(){
        if($applicationForm[0].checkValidity()){
            $submitBtn.attr("disabled", true);
            $submitBtn.html("Sender...");
            $applicationForm.submit();
        }
    });
</script>

{% endblock %}