{% extends 'base.html.twig' %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="panel">

                <div class="row">
                    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">

                        <p>
                            Opprett bruker for {{ user.firstName }} {{ user.lastName }}
                        </p>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}


                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
