


{% extends 'base.html.twig' %}

{% block title %}
    {{ board.name }} - Vektorprogrammet
{% endblock %}

{% block facebookDescription %}
    {{ board.shortDescription }}
{% endblock %}



{% block body %}

    <div class="row">
        <div class="small-12 columns">
            <h1>{{ board.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-8 columns">
            <p class="board-short-description">{{ board.shortDescription }} <br> {{ board.email }}</p>
        </div>

    </div>
    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="large-7 columns board-description-column">
            {{ board.description|safe_html }}
        </div>
        <div class="large-5 columns">
            <h4>Medlemmer</h4>

            <table>
                {% for m in members %}

                    <tr>
                        <td width="100">
                            <img width="50" src="{{ asset(m.user.picturePath) }}"/>
                        </td>
                        <td>
                            {% if app.user %}
                                <span><a href='{{ path('specific_profile', { 'id': m.user.id }) }}'>{{ m.user }}</a></span>
                            {% else %}
                                <p> {{ m.user }}  </p>
                            {% endif %}
                        </td>
                        <td>
                            {% if m.position is not null %}
                                {{ m.position }}<br/>
                            {% endif %}
                        </td>
                        <td width="60">
                            <a href="mailto:{{ m.user.email }}">E-post</a><br/>
                        </td>

                    </tr>

                {% endfor %}
            </table>

        </div>

    </div>




{% endblock %}


