{% extends 'adminBase.html.twig' %}

{% block title %}
    {{ board_name }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset_with_version('js/csvGenerator.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <h1> {{ board_name }} </h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 columns">
                    <ul class="inline-list">
                        <li>
                            <div class="control-panel-item">
                                {% if is_granted_team_leader() %}
                                    <a class="button tiny" data-dropdown="superadminCreateUser" aria-controls="superadminCreateUser" aria-expanded="false">
                                        <i class="fa fa-user-plus"></i> Legg til nytt medlem
                                    </a>
                                    <ul id="superadminCreateUser" class="f-dropdown mini" data-dropdown-content tabindex="-1"
                                        aria-hidden="true"
                                        aria-autoclose="false" tabindex="-1">

                                        {% for d in get_active_departments() %}

                                            <li>
                                                <a href="{{ path('executive_board_add_user_to_board', { 'id': d.id }) }}">{{ d.shortName }}</a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </li>

                        <li>
                            <a href="{{ path('executive_board_update' )}}"
                               class="button tiny"><i class="fa fa-pencil"></i> Rediger info</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 columns">
                    <hr>
                    <h3>Aktive medlemmer &nbsp;
                        <button class="button tiny csv_download_button" data-table-id="activeMemberTable"><i class="fa fa-download"></i> Last ned CSV</button>
                    </h3>

                    <hr>
                    {%  include(':executive_board:member_table.html.twig') with {'members': active_members, 'table_id': 'activeMemberTable'} %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 columns">
                        <hr>
                        <h3>Tidligere medlemmer &nbsp;
                            <button class="button tiny csv_download_button" data-table-id="inactiveMemberTable"><i class="fa fa-download"></i> Last ned CSV</button>
                        </h3>
                        <hr>
                    {%  include(':executive_board:member_table.html.twig') with {'members': inactive_members, 'table_id': 'inactiveMemberTable'} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
