{% extends 'adminBase.html.twig' %}

{% block title %}
    {{ board.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> {{ board.name }} </h1>
            <hr>
                <div class="row">
                    <div class="small-12 medium-12 large-6 columns">
                        <ul class="inline-list">
                            <li>
                                <a href="{{ path('executive_board_add_user_to_board' )}}"
                                   class="button tiny">Legg til ny bruker</a>
                            </li>

                            <li>
                                <a href="{{ path('executive_board_update' )}}"
                                   class="button tiny">Rediger</a>
                            </li>
                        </ul>
                    </div>
                </div>

            <table width="100%" id="table">

                <thead>
                <tr>
                    <th> Fornavn</th>
                    <th> Etternavn</th>
                    <th> Stilling</th>
                    <th> Tlf</th>
                    <th> E-post</th>
                    <th> Linje</th>
                    <th> Avdeling</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for m in board.users %}
                    <tr>
                        <td><a href='{{ path('specific_profile', { 'id': m.user.id }) }}'>{{ m.user.firstName }}</a></td>
                        <td> {{ m.user.lastName }} </td>
                        <td> {{ m.position }}</td>
                        <td> {{ m.user.phone }} </td>
                        <td> {{ m.user.email }} </td>
                        <td> {{ m.user.fieldOfStudy }} </td>
                        <td> {{ m.user.department }} </td>
                        <td>
                            <form method="POST"
                                  onsubmit="return confirm('Vil du virkelig fjerne brukeren {{ m.user.firstName }} {{ m.user.lastName }}?')"
                                  action="{{ path('executive_board_remove_user_from_board_by_id', { id: m.id }) }}">
                                <button type="submit"
                                        class="button tiny alert">
                                    <i class="fa fa-trash"></i>
                                    Slett
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
