{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    {# Easy routing with FOSJsRouting bundle #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {# We need the deletetablerow.js file #}
    <script src="{{ asset('js/deleteablerow.js') }}"></script>

    <script>

        $(document).ready(function () {
            $('.delete').deleteablerow('teamadmin_delete_team_by_id', {
                confirmation: {
                    modal: $('#confirmModal'),
                    acceptButton: $('#modalAccept'),
                    cancelButton: $('#modalCancel')
                }
            });
        });

    </script>


{% endblock %}

{% block title %}
    Hovedstyret
{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Hovedstyret </h1>

            <hr>

            {% if is_granted_team_leader() %}
                <div class="row">
                    <div class="small-12 medium-12 large-6 columns">
                        <ul class="inline-list">

                            <li>
                                <a href="{{ path('executive_board_add_user_to_board', { 'id': board.id } )}}"
                                   class="button tiny">Legg til ny bruker</a>
                            </li>

                            <li>
                                <a href="{{ path('executive_board_update', { 'id': board.id } )}}"
                                   class="button tiny">Rediger</a>
                            </li>




                        </ul>
                    </div>
                </div>
            {% endif %}

            <table width="100%" id="table">

                <thead>
                <tr>
                    <th> Fornavn</th>
                    <th> Etternavn</th>
                    <th> Stilling</th>
                    <th> Tlf</th>
                    <th> E-post</th>
                    <th> Linje</th>
                    <th> Avdeling</th>

                    {% if is_granted_admin()  %}
                    <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for m in members %}
                    <tr>
                        <td><a href='{{ path('specific_profile', { 'id': m.id }) }}'>{{ m.user.firstName }}</a></td>
                        <td> {{ m.user.lastName }} </td>
                        <td> {{ m.position }}</td>
                        <td> {{ m.user.phone }} </td>
                        <td> {{ m.user.email }} </td>
                        <td> {{ m.user.fieldOfStudy }} </td>
                        <td> {{ m.user.department }} </td>

                        {% if is_granted_admin()  %}
                            <td>
                                <form method="POST"
                                      onsubmit="return confirm('Vil du virkelig fjerne brukeren {{ m.user.firstName }} {{ m.user.lastName }}?')"
                                      action="{{ path('executive_board_remove_user_from_board_by_id', { id: m.id }) }}">
                                    <button type="submit"
                                            class="button tiny alert">
                                        <i class="fa fa-trash"></i>
                                        Slett
                                    </button>
                                </form>
                            </td>
                        {% endif %}



                    </tr>
                {% endfor %}
                </tbody>


            </table>
        </div>
    </div>

    <div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete"
         aria-hidden="true" role="dialog">
        <h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
        <ul class="inline-list">
            <a id="modalAccept" href="#" class="button tiny">Slett</a>
            <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
        </ul>
    </div>

{% endblock %}
