<table class="table" id="{{ table_id }}">

    <thead>
    <tr>
        <th></th>
        <th>Navn</th>
        <th>Stilling</th>
        <th>Tlf</th>
        <th>E-post</th>
        <th>Linje</th>
        <th>Avdeling</th>
    </tr>
    </thead>
    <tbody>
    {% for m in members %}
        <tr>
            <td>
                {% if is_granted_team_leader() %}
                    <div class="dropdown">
                        <div class="clickable px-2" id="options-{{ m.id }}" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-secondary"></i>
                        </div>
                        <div class="dropdown-menu pt-0" aria-labelledby="options-{{ m.id }}">
                            <div class="dropdown-header mb-2"><strong>{{ m.user }}</strong></div>
                            <a href="{{ path('edit_executive_board_membership', { 'id': m.id }) }}"
                               class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Rediger
                            </a>
                            {% if is_granted_admin() %}
                                <form method="POST"
                                      onsubmit="return confirm('Vil du virkelig slette medlemskapet til {{ m.user }}?')"
                                      action="{{ path('executive_board_remove_user_from_board_by_id', { id: m.id }) }}">
                                    <button type="submit"
                                            class="dropdown-item">
                                        <i class="fa fa-trash text-danger"></i> Slett
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </td>
            <td><a href='{{ path('specific_profile', { 'id': m.user.id }) }}'>{{ m.user }}</a></td>
            <td> {{ m.positionName }}</td>
            <td> {{ m.user.phone }} </td>
            <td> {{ m.user.email }} </td>
            <td> {{ m.user.fieldOfStudy }} </td>
            <td> {{ m.user.department }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
