{% extends 'adminBase.html.twig' %}

{% block title %}
    Rediger Hovedstyret
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('executive_board_show') }}">Hovedstyret</a>
    </li>
    <li class="breadcrumb-item active">Rediger</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><i class="fa fa-diamond"></i> Rediger Hovedstyret</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}

            {{ form_row(form.shortDescription) }}

            {{ form_row(form.description) }}
            <br>
            {{ form_widget(form.preview, {'attr': {'class': 'btn btn-secondary', 'formtarget': '_blank'}}) }}
            <button class="btn btn-primary">Lagre</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
