{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            {# -------------------------------------------- #}


            $("#assistantSearch").keyup(function () {

                _this = this;

                $.each($("#assistantTable tbody").find("tr"), function () {

                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });

            });

            {# -------------------------------------------- #}


            $("#activeAssistantSearch").keyup(function () {

                _this = this;

                $.each($("#activeAssistantTable tbody").find("tr"), function () {

                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });

            });

            {# -------------------------------------------- #}


            $("#workSearch").keyup(function () {

                _this = this;

                $.each($("#workTable tbody").find("tr"), function () {

                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });

            });

        });

    </script>

{% endblock %}

{% block title %}
    Deltakerhistorie
{% endblock %}

{% block body %}
<p></p>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">

        <h1>Deltakerhistorie {{ semester.department }}</h1>

        <hr>


        {% if is_granted_team_leader() %}
        {% include "common/department_semester_dropdowns.html.twig" with {'path': 'participanthistory_show_by_semester', 'parameterName': 'id', 'currentSemester': semester} %}
        {% else %}
        <ul class="inline-list">
            {# Semester dropdown #}
            {% include "common/semester_dropdown.html.twig" with {
                'pathForSemester': 'participanthistory_show_by_semester',
                'semesterParameterName': 'id',
                'currentSemester': semester} %}
        </ul>
        {% endif %}

        <div class="row">

            <div class="small-12 medium-12 large-12 columns">
                <hr>
            </div>

            <div class="small-12 medium-12 large-8 columns">

                <h3> Assistent historie <span
                            style="float:right;font-size: 80%;">Antall: {{ assistantHistories|length }}</span></h3>

            </div>

            <div class="small-12 medium-12 large-4 columns">

                <input type="text" id="assistantSearch" placeholder="Søk..."/>

            </div>

        </div>


        <div class="row">
            <div class="small-12 medium-12 large-12 columns">

                <hr>

                <table width="100%" id="assistantTable">

                    <thead>

                    <tr>
                        <th> Navn</th>
                        <th> Skole</th>
                        <th> E-post</th>
                        <th> Semester</th>
                        <th> Avdeling</th>
                        <th> Bolk</th>
                        <th> Dag</th>
                        {% if is_granted_admin() or (is_granted_team_leader() and app.user.department == semester.department) %}
                            <th></th>
                            <th></th>
                        {% endif %}
                    </tr>

                    </thead>

                    <tbody>
                    {% for ah in assistantHistories %}
                        <tr>
                            <td>
                                <a href='{{ path('specific_profile', { 'id': ah.user.id }) }}'>{{ ah.user }}</a>
                            </td>
                            <td>

                                {% if ah.school is not null %}
                                    {{ ah.school.name }}
                                {% else %}
                                    Skolen er slettet.
                                {% endif %}

                            </td>
                            <td> {{ ah.user.email }}</td>
                            <td> {{ ah.semester.name }}</td>
                            <td> {{ ah.semester.department.shortname }}</td>
                            <td> {{ ah.bolk }}</td>
                            <td> {{ ah.day }}</td>
                            {% if is_granted_admin() or (is_granted_team_leader() and app.user.department == semester.department) %}
                                <td>
                                    <form
                                            action="{{ path('assistant_history_delete', {id: ah.id}) }}"
                                            method="POST"
                                            onsubmit="return confirm('Er du sikker på at du vil slette {{ ah.user }} fra {{ ah.school.name }} {{ ah.semester.name }}?')"
                                    >
                                        <button type="submit" class="button tiny alert"><i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a type="submit" class="button tiny"
                                       href="{{ path('assistant_history_edit',  {id: ah.id}) }}"><i
                                                class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>


        <div class="row">

            <div class="small-12 medium-12 large-12 columns">
                <hr>
            </div>

            <div class="small-12 medium-12 large-8 columns">

                <h3> Arbeidshistorie <span
                            style="float:right;font-size: 80%;">Antall: {{ workHistories|length }}</span></h3>

            </div>

            <div class="small-12 medium-12 large-4 columns">

                <input type="text" id="workSearch" placeholder="Søk..."/>

            </div>

        </div>

        <div class="row">
            <div class="small-12 medium-12 large-12 columns">

                <hr>

                <table width="100%" id="workTable">

                    <thead>

                    <tr>
                        <th> Navn</th>
                        <th> E-post</th>
                        <th> Team</th>
                        <th> Avdeling</th>
                        <th> Start</th>
                        <th> Slutt</th>
                    </tr>

                    </thead>

                    <tbody>
                    {% for wh in workHistories %}
                        <tr>
                            <td>
                                {% if wh.user is not null %}
                                    <a href='{{ path('specific_profile', { 'id': wh.user.id }) }}'>{{ wh.user.firstName }} {{ wh.user.lastName }}</a>
                                {% else %}
                                    Brukeren er slettet.
                                {% endif %}
                            </td>
                            <td>
                                {% if wh.user is not null %}
                                    {{ wh.user.email }}
                                {% else %}
                                    Brukeren er slettet.
                                {% endif %}
                            </td>
                            <td>
                                {{ wh.teamName }}
                            </td>
                            <td>
                                {% if wh.team is not null %}
                                    {{ wh.team.department.shortName }}
                                {% else %}
                                    Avdelingen er slettet.
                                {% endif %}
                            </td>
                            <td> {{ wh.startSemester.name }} </td>


                            <td> {{ wh.endSemester is not null ? wh.endSemester.name : '' }}</td>

                        </tr>

                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

{% endblock %}
