{% extends 'adminBase.html.twig' %}

{% block customScripts %}

	<script>
	
	$(document).ready(function() {
		
		{# -------------------------------------------- #}
		
		
		$("#assistantSearch").keyup(function(){
		
			_this = this;
			
			$.each($("#assistantTable tbody").find("tr"), function() {
			
				if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
				   $(this).hide();
				}
				else {
					 $(this).show();         
				}
			});
			
		});

		{# -------------------------------------------- #}


		$("#activeAssistantSearch").keyup(function(){

			_this = this;

			$.each($("#activeAssistantTable tbody").find("tr"), function() {

				if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
					$(this).hide();
				}
				else {
					$(this).show();
				}
			});

		});

		{# -------------------------------------------- #}
		
		
		$("#workSearch").keyup(function(){
		
			_this = this;
			
			$.each($("#workTable tbody").find("tr"), function() {
			
				if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1) {
				   $(this).hide();
				}
				else {
					 $(this).show();         
				}
			});
			
		}); 
		
	});

	</script>

{% endblock %}

{% block title %}
    Deltakerhistorie
{% endblock %}

{% block body %}
	<p></p>
	
	<div class="row">
        <div class="small-12 medium-12 large-12 columns">

			<h1>Deltakerhistorie {{ department }}</h1>

			<hr>


			{% if is_granted('ROLE_SUPER_ADMIN') %}





				<ul class="inline-list">

					{# Department dropdown #}
					<li>
						<a class="button tiny" data-dropdown="autoCloseExample" aria-controls="autoCloseExample" aria-expanded="false">{{ department }} <i class="fa fa-caret-down"></i></a>
						<ul id="autoCloseExample" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">

							{% for d in departments %}

								<li><a href="{{ path('participanthistory_show_by_department',
									{ 'id': d.id }) }}">{{ d.shortName }}</a></li>

							{% endfor %}

						</ul>
					</li>


					{# Semester dropdown #}
					<li>
						<a class="button tiny" data-dropdown="semesterDropDown" aria-controls="semesterDropDown" aria-expanded="false">{% if semester != NULL %}{{ semester }}{% else %}Semester{% endif %} <i class="fa fa-caret-down"></i></a>
						<ul id="semesterDropDown" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">

							{% for s in semesters %}

								<li> <a href="{{ path(app.request.attributes.get('_route'),
									app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ 'semester': s.id })) }}">{{ s.name }}</a> </li>

							{% endfor %}
						</ul>
					</li>
				</ul>
			{% else %}
					<ul class="inline-list">
						{# Semester dropdown #}
						<li>
							<a class="button tiny" data-dropdown="semesterDropDown" aria-controls="semesterDropDown" aria-expanded="false">{% if semester != NULL %}{{ semester.name }}{% else %}Semester{% endif %} <i class="fa fa-caret-down"></i></a>
							<ul id="semesterDropDown" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">

								{% for s in semesters %}
									<li> <a href="{{ path(app.request.attributes.get('_route'),
										app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ 'semester': s.id })) }}">{{ s.name }}</a> </li>
								{% endfor %}

							</ul>
						</li>
					</ul>
			{% endif %}

			<div class="row">

				<div class="small-12 medium-12 large-12 columns">
					<hr>
				</div>

				<div class="small-12 medium-12 large-8 columns">

					<h3> Assistent historie <span style="float:right;font-size: 80%;">Antall: {{ assistantHistories|length }}</span></h3>

				</div>

				<div class="small-12 medium-12 large-4 columns">

					<input type="text" id="assistantSearch" placeholder="Søk..." />

				</div>

			</div>

			
			<div class="row">		
				<div class="small-12 medium-12 large-12 columns">
					
					<hr>
					
					<table width="100%" id="assistantTable">
									
						<thead>
									
							<tr>
								<th> Navn</th>
								<th> Skole</th>
								<th> E-post</th>
								<th> Semester</th>
								<th> Avdeling</th>
								<th> Bolk</th>
								<th> Dag</th>
							</tr>
										
						</thead>
									
						<tbody>
							{% if sortBySemester != NULL %}
								{% for ah in assistantHistories %}
									{% if ah.semester.department == department and ah.semester.id == sortBySemester  %}
										<tr>
											<td> <a href='{{ path('specific_profile', { 'id': ah.user.id }) }}'>{{ ah.user.firstName }} {{ah.user.lastName }}</a></td>
											<td>

												{% if ah.school is not null %}
													{{ ah.school.name }}
												{% else %}
													Skolen er slettet.
												{% endif %}

											</td>
											<td> {{ ah.user.email }}</td>
											<td> {{ ah.semester.name }}</td>
											<td> {{ ah.semester.department.shortname }}</td>
											<td> {{ ah.bolk }}</td>
											<td> {{ ah.day }}</td>
										</tr>
									{% endif %}
								{% endfor %}
							{% else %}
								{% for ah in assistantHistories %}
									{% if ah.semester.department == department %}
										<tr>
											<td> <a href='{{ path('specific_profile', { 'id': ah.user.id }) }}'>{{ ah.user.firstName }} {{ah.user.lastName }}</a></td>
											<td>

											{% if ah.school is not null %}
												{{ ah.school.name }}
											{% else %}
												Skolen er slettet.
											{% endif %}

											</td>
											<td> {{ ah.user.email }}</td>
											<td> {{ ah.semester.name }}</td>
											<td> {{ ah.semester.department.shortname }}</td>
											<td> {{ ah.bolk }}</td>
											<td> {{ ah.day }}</td>
										</tr>
									{% endif %}
								{% endfor %}
							{% endif %}
						</tbody>
									
					</table>

				</div>
			</div>
				
				
			<div class="row">
			
				<div class="small-12 medium-12 large-12 columns">
					<hr>
				</div>
							
				<div class="small-12 medium-12 large-8 columns">

					<h3> Arbeidshistorie <span style="float:right;font-size: 80%;">Antall: {{ workHistories|length }}</span></h3>
									
				</div>
							
				<div class="small-12 medium-12 large-4 columns">
				
					<input type="text" id="workSearch" placeholder="Søk..." />
					
				</div>
					
			</div>
							
			<div class="row">
				<div class="small-12 medium-12 large-12 columns">
					
					<hr>
					
					<table width="100%" id="workTable">
								
						<thead>
									
							<tr>
								<th> Navn</th>
								<th> E-post</th>
								<th> Team </th>
								<th> Avdeling </th>
								<th> Start </th>
								<th> Slutt </th>
							</tr>
										
						</thead>
									
						<tbody>
							{% if sortBySemester != NULL %}
								{% for wh in workHistories %}
									{% if wh.team is not null and wh.team.department == department and wh.startSemester.id == sortBySemester %}
										<tr>
											<td>
												{% if wh.user is not null %}
													<a href='{{ path('specific_profile', { 'id': wh.user.id }) }}'>{{ wh.user.firstName }} {{wh.user.lastName }}</a>
												{% else %}
													Brukeren er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.user is not null %}
													{{ wh.user.email }}
												{% else %}
													Brukeren er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.team is not null %}
													{{ wh.team.name }}
												{% else %}
													Teamet er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.team is not null %}
													{{ wh.team.department.shortName }}
												{% else %}
													Avdelingen er slettet.
												{% endif %}
											</td>
											<td> {{ wh.startSemester.name }} </td>


											<td> {{ wh.endSemester.name }}</td>

										</tr>

									{%  endif %}
								{% endfor %}

							{% else %}
								{% for wh in workHistories %}
									{% if wh.team is not null and wh.team.department == department %}
										<tr>
											<td>
												{% if wh.user is not null %}
													<a href='{{ path('specific_profile', { 'id': wh.user.id }) }}'>{{ wh.user.firstName }} {{wh.user.lastName }}</a>
												{% else %}
													Brukeren er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.user is not null %}
													{{ wh.user.email }}
												{% else %}
													Brukeren er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.team is not null %}
													{{ wh.team.name }}
												{% else %}
													Teamet er slettet.
												{% endif %}
											</td>
											<td>
												{% if wh.team is not null %}
													{{ wh.team.department.shortName }}
												{% else %}
													Avdelingen er slettet.
												{% endif %}
											</td>
											<td> {{ wh.startSemester.name }} </td>


											<td> {{ wh.endSemester is null ? '-':wh.endSemester.name }}</td>

										</tr>

									{%  endif %}
								{% endfor %}
							{% endif %}
						</tbody>
								
					</table>
							
				</div>
			</div>
			
		</div>
	</div>
	
{% endblock %}