{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett bruker
{% endblock %}

{% form_theme form 'form/foundation_layout.html.twig' %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Opprett bruker til {{ department.shortName }} </h1>
            <hr>
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">

                        <div class="small-12 medium-12 large-6 columns">

                            <div>
                                {{ form_label(form.firstName) }}
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>

                            <div>
                                {{ form_label(form.lastName) }}
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>

                            <div>
                                {{ form_label(form.gender) }}
                                {{ form_widget(form.gender) }}
                                {{ form_errors(form.gender) }}
                            </div>

                            <div>
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                            </div>

                            <div>
                                <button type="submit" class="button">Opprett</button>
                            </div>

                        </div>

                        <div class="small-12 medium-12 large-6 columns">

                            <div>
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div>
                                {{ form_label(form.fieldOfStudy) }}
                                {{ form_widget(form.fieldOfStudy) }}
                                {{ form_errors(form.fieldOfStudy) }}
                            </div>

                            <div>
                                {{ form_label(form.role) }}
                                {{ form_widget(form.role) }}
                                {{ form_errors(form.role) }}
                            </div>

                        </div>

                    </div>

                    {{ form_end(form) }}

                    <br>
                    <p><span class="text-alert">Obs!</span> En epost vil bli sendt til brukeren med instruksjoner for å
                        fullføre registreringen (brukernavn og passord).</p>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
