{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett bruker
{% endblock %}

{% block body %}
    <h2> Opprett bruker til {{ department }} </h2>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">

                <div class="col-12 col-md-12 col-lg-6">

                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.gender) }}
                    {{ form_row(form.phone) }}

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Opprett</button>
                    </div>

                </div>

                <div class="col-12 col-md-12 col-lg-6">

                    {{ form_row(form.email) }}
                    {{ form_row(form.fieldOfStudy) }}

                </div>

            </div>

            {{ form_end(form) }}

            <br>
            <p><span class="text-alert">Obs!</span> En epost vil bli sendt til brukeren med instruksjoner for å
                fullføre registreringen (brukernavn og passord).</p>

        </div>
    </div>
{% endblock %}
