<div class="card parent-card mx-sm-4 my-sm-4 mx-0 my-2">
    <div class="card-block px-3 py-3">
        <h5 class="card-title mb-0 text-uppercase text-center">
            {{ parentCourse.date | date('d.m.y') }} klokken {{ parentCourse.date | date('H:i') }}
        </h5>
    </div>
    <hr class="my-0">
    <div class="card-block px-3 py-3">
        <p class="card-text"><strong>Foredragsholder:</strong> {{ parentCourse.speaker }} </p>
        <p class="card-text"><strong>Sted:</strong> {{ parentCourse.place }}, Trondheim</p>
        <!-- Hadde vært kult med lenke til MazeMap her -->
    </div>
    <div class="card-block px-3 pb-2">
        <!-- NÅ tilpasses cardet etter teksten inni! Dette må endres på!
        Ønsker samme front end som for /teams, med cards ved siden av hverandre etc!) -->
        <p class="card-text"><strong>Informasjon:</strong> {{ parentCourse.information }} </p>
    </div>
    <a href="{{ path('parent_course_external_show', { id: parentCourse.id }) }}" class="application-link m-0">
        <div class="card-block px-2 py-2 card-footer text-center">
        <i class="fas fa-check"></i><span> Les mer</span>
        </div>
    </a>
</div>
