{% extends 'adminBase.html.twig' %}

{% block title %}
    Nytt foreldrekurs
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{{ path('parent_course_admin_show') }}">Alle foreldrekurs</a></li>
    <li class="breadcrumb-item active">Nytt foreldrekurs</li>
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-xl-10 col-xxl-8 col-xxxl-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-comment-o"></i> Foreldrekurs </div>
                <div class="card-body">
                    {{ form_row(form.speaker) }}
                    {{ form_row(form.place) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.information) }}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            <div class="hide">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    {% include 'common/datetime_picker.html.twig' with { inputIds: [form.date.vars.id] } %}

    <script src="{{ asset_with_version('js/question_repeater.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', QuestionManager.onReady);
    </script>
{% endblock %}