{% extends 'adminBase.html.twig' %}

{% set header = department is defined ? 'Avdeling - ' ~ department : 'Opprett avdeling' %}

{% block title %}
    {{ header }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('departmentadmin_show') }}">Avdelinger</a>
    </li>
    <li class="breadcrumb-item active">{{ header }}</li>
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header"><i class="fa fa-industry"></i> {{ header }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
