{% extends 'adminBase.html.twig' %}

{% block customScripts %}

    {# Easy routing with FOSJsRouting bundle #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {# We need the deletetablerow.js file #}
    <script src="{{ asset('js/deleteablerow.js') }}"></script>

    <script>

        $(document).ready(function () {
            $('.delete').deleteablerow('departmentadmin_delete_department_by_id', {
                confirmation: {
                    modal: $('#confirmModal'),
                    acceptButton: $('#modalAccept'),
                    cancelButton: $('#modalCancel')
                }
            });
        });

    </script>

{% endblock %}

{% block title %}
    Avdeling
{% endblock %}
	
{% block body %}
    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Avdeling </h1>
            <hr>

            <div class="row">
                {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                    <div class="small-12 medium-12 large-6 columns">
                        <ul class="inline-list">
                            <li><a href="{{ path('departmentadmin_create_department') }}" class="button tiny">Opprett
                                    avdeling</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>

            <hr>

            <table width="100%" id="table">
                <thead>
                <tr>
                    <th> Navn</th>
                    <th> Forkortet navn</th>
                    <th colspan="3"> E-post</th>
                </tr>
                </thead>

                <tbody>
                {% for d in get_departments() %}
                    <tr>
                        <td width="40%"><a
                                    href="{{ path('admission_show_specific_department', { 'id': d.id} ) }}">  {{ d.name }} </a>
                        </td>
                        <td width="20%"> {{ d.shortname }} </td>
                        <td width="20%"> {{ d.email }} </td>

                        {# Only SUPER_ADMIN should be able to edit teams #}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}

                            <td><a href="{{ path('departmentadmin_update', { 'id': d.id }) }}" class="button tiny">Rediger</a>
                            </td>

                        {% endif %}

                        {# Only HIGHEST_ADMIN should be able to delete teams #}
                        {% if is_granted('ROLE_HIGHEST_ADMIN') %}
                            <td><a href="#" id="{{ d.id }}" class="button tiny alert delete"><i
                                            class="fa fa-trash-o"></i> Slett</a></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="confirmModal" class="reveal-modal small" data-reveal aria-labelledby="confirmModalDelete"
         aria-hidden="true" role="dialog">
        <h2 id="modalMessage">Vil du virkelig slette elementet?</h2>
        <ul class="inline-list">
            <a id="modalAccept" href="#" class="button tiny">Slett</a>
            <a id="modalCancel" href="#" class="button tiny">Avbryt</a>
        </ul>
    </div>

{% endblock %}
