{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/slick/slick-theme.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/slick/slick.min.js') }}"></script>
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
    <script>
        $(document).ready(function(){
            $('.news-carousel').slick({
                arrows: false,
                dots: true,
                autoplay: true,
                autoplaySpeed: 5000,
                responsive: [
                    {
                        breakpoint: 640,
                        settings: {
                            arrows: false,
                            dots: true
                        }
                    }
                ]
            });

            $('.news-carousel').on('beforeChange', function(event, slick, currentSlide, nextSlide){
                var text = $('#news-carousel-text-'+nextSlide);
                text.show().siblings(text.prop('tagName')).hide();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <p></p>

    <div class="row">
        {% render controller('AppBundle:Article:showCarousel') %}
    </div>
	
	<br/>
	<br/>
	
	<div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="row">
                <div class="small-12 medium-4 large-4 columns  text-center">
                    <div class="home-icon-container">
                        <a href="{{ path('students') }}"><i class="fa fa-calculator fa-5x" id="fa-calculator"></i></a>
                        <div class="{{ element_editable() }}" id="vektor_for_studenter">
                            {{ get_content('vektor_for_studenter') | raw }}
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns text-center">
                    <div class="home-icon-container">
                        <a href="{{ path('businesses') }}"><i class="fa fa-briefcase fa-5x" id="fa-briefcase"></i></a>
                        <div class="{{ element_editable() }}" id="vektor_for_bedrifter">
                            {{ get_content('vektor_for_bedrifter') | raw }}
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns  text-center">
                    <div class="home-icon-container">
                        <a href="{{ path('schools') }}"><i class="fa fa-paperclip fa-5x" id="fa-paperclip"></i></a>
                        <div class="{{ element_editable() }}" id="vektor_for_laerere">
                            {{ get_content('vektor_for_laerere') | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-12 columns text-center">
                    <h1 class="banner-heading">
                    <div class="{{ element_editable() }}" id="banner_one">
                            {{ get_content('banner_one') | raw }}
                    </div>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <div class="{{ element_editable() }}" id="infobox_one">
                            {{ get_content('infobox_one') | raw }}
                    </div>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <div class="{{ element_editable() }}" id="infobox_two">
                        {{ get_content('infobox_two') | raw }}
                    </div>
                    <a href="{{ path('about') }} " class="vektor-button tiny">Les mer om vektorprogrammet</a>
                </div>
            </div>
			<br/>
			<br/>

            {% block sponsor_logos %}
                <div class="row">
                    {% include("sponsors/sponsors.html.twig") %}
                </div>
            {% endblock %}

		</div>
	</div>
{% endblock %}