{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'home/admission_banner.html.twig' %}
        <section class="row hero">
            <div class="container">
                <div class="row hero-section">
                    <div class="col-12 col-md-6">
                        <h1 class="d-md-none mobile">Vektorprogrammet</h1>
                        <img class="hero-image" src="{{ asset_with_version('images/blackboard.png') }}">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="hero-content">
                            <h1 class="d-none d-md-block">Vektorprogrammet</h1>
                            {% include 'statictext/static_content.html.twig' with {'id': 'home-tagline'} %}
                            <a href="{{ path('assistants') }}">
                                <button class="btn btn-success cta-link">
                                    Les mer og bli assistent
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        {% if news %}
            <div class="row news">
                <div class="col-12">
                    <div id="newsCarousel" class="carousel slide" data-ride="carousel">
                        <h2 class="text-center text-dark-blue">Nyheter</h2>
                        <div class="carousel-inner">
                            {% for article in news %}
                                <div class="carousel-item{{ loop.first ? ' active' : '' }}">
                                    <img class="d-block w-100" src="{{ asset(article.imageLarge | imagine_filter('article_large')) }}"
                                         alt="First slide">
                                    <div class="carousel-caption">
                                        <div class="content text-dark-blue">
                                            <a href="{{ path('article_show', {'slug': article.slug}) }}">
                                                <h4>{{ article.title|safe_html }}</h4>
                                            </a>
                                            <p>{{ article.article|striptags|split(' ')|slice(0,40)|join(' ')|safe_html }}... <a class="medium-bold"
                                                       href="{{ path('article_show', {'slug': article.slug}) }}">LES MER <i
                                                            class="fa fa-chevron-right"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if news|length > 1 %}
                                <ol class="carousel-indicators">
                                    {% for article in news %}
                                        <li data-target="#newsCarousel"
                                            data-slide-to="{{ loop.index0 }}"
                                            {% if loop.first %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}

        <section class="members-info">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="counter">
                        <span class="text-bold count">{{ assistantCount }}</span><br> Assistenter
                    </p>
                    <p>Over <span class="text-bold">{{ assistantCount }}</span> studenter har hatt et verv som
                        vektorassistent i Vektorprogrammet.</p>
                    <p><a href="{{ path('assistants') }}">Les mer om assistenter <i class="fa fa-chevron-right"></i></a>
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="counter">
                        <span class="text-bold count">{{ teamMemberCount }}</span><br> I team
                    </p>
                    <p>Over <span class="text-bold">{{ teamMemberCount }}</span> studenter har hatt et verv i et
                        Vektorprogrammets mange team.</p>
                    <p><a href="{{ path('team') }}">Les mer om verv i team <i class="fa fa-chevron-right"></i></a></p>
                </div>
                <div class="col-12 col-md-6 offset-md-3" id="admissionChart">
                    <p class="counter">Kjønnsfordeling</p>
                    <center><p>Av tidligere assistenter</p></center>
                </div>
            </div>
        </section>

        <section class="sponsors">
            <hr>
            {{ include('sponsors/sponsors.html.twig') }}
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    {% include 'home/chart_script.html.twig' %}
    <script>
      $('.carousel').carousel({
        interval: 10000,
      });
    </script>
    {% if closestDepartment.activeAdmission %}
        <script>
          function zeroPad(num, size) {
            return (Math.pow(10, size) + num).toString().substring(1);
          }

          function updateCountDown() {
            var admissionTimeStamp = {{ closestDepartment.currentAdmissionPeriod.endDate.timestamp }} *
            1000;
            var currentTimeStamp = new Date();

            var millisUntilAdmission = Math.max(admissionTimeStamp - currentTimeStamp, 0);

            $('#cd-days').html(zeroPad(Math.floor(moment.duration(millisUntilAdmission).asDays()), 2));
            $('#cd-hours').html(zeroPad(moment.duration(millisUntilAdmission).hours(), 2));
            $('#cd-minutes').html(zeroPad(moment.duration(millisUntilAdmission).minutes(), 2));
            $('#cd-seconds').html(zeroPad(moment.duration(millisUntilAdmission).seconds(), 2));
          }

          updateCountDown();
          setInterval(updateCountDown, 1000);
        </script>
    {% endif %}
{% endblock %}
