<table width="100%" id="activeReceiptsTable">

    <thead>

    <tr>
        <th> Navn</th>
        <th> Sum</th>
        <th> Dato</th>
        <th> Kontonummer</th>
        <th> Kvittering</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>

    </thead>

    <tbody>
    {% for receipt in receipts%}
        <tr>
            <td><a href="{{ path('receipts_show_individual', {'receipt': receipt.id}) }}"> {{ receipt.user.getFullName }} </a></td>
            <td> {{ receipt.sum|number_format(2, ',', '.') }},- </td>
            <td> {{ receipt.submitDate|date('Y-m-d') }}</td>
            <td> {{ receipt.user.accountNumber }}</td>
            <td>
                <a href="#" data-reveal-id="receipt-{{ receipt.id }}">Vis kvittering</a>

                <div id="receipt-{{ receipt.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <h2 id="modalTitle">Kvittering</h2>
                    <img src="{{ receipt.picturePath }}">
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </td>
            <td><a href="" class="button tiny">Marker som behandlet</a></td>
            <td><a href="" class="button tiny">Rediger</a><td>
            <td><a href="" class="button tiny alert delete">Slett</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>
