<table width="100%" id="activeReceiptsTable">

    <thead>

    <tr>
        <th> Navn</th>
        <th> Email</th>
        <th> Sum</th>
        <th> Kontonummer</th>
    </tr>

    </thead>

    <tbody>
    {% for user in users%}
        <tr>
            <td><a href="{{ path('receipts_show_individual', {'user': user.id}) }}"> {{ user.fullName }} </a></td>

            <td> {{ user.email }}</td>
            <td> {{ (active ? user.totalActiveReceiptSum : user.totalInactiveReceiptSum)|number_format(2, ',', '.') }},- </td>
            <td> {{ user.accountNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
