<table width="100%" id="activeReceiptsTable">
    <thead>

    <tr>
        <th> Id</th>
        <th> Utleggsdato</th>
        <th> Beskrivelse</th>
        <th> Sum</th>
        <th> Kvittering</th>
        <th> Status {% if is_granted_team_leader() %}(klikk for å endre){% endif %}</th>
        <th colspan="2"></th>
    </tr>

    </thead>

    <tbody>
    {% for receipt in receipts %}
        <tr>
            <td> {{ receipt.visualId }}</td>
            <td> {{ receipt.receiptDate|date('d.m.Y') }}</td>
            <td> {{ receipt.description }} </td>
            <td> {{ receipt.sum|number_format(2, ',', ' ') }} kr</td>
            <td>
                <a href="#" data-reveal-id="receipt-{{ receipt.id }}">Vis kvittering</a>

                <div id="receipt-{{ receipt.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle"
                     aria-hidden="true" role="dialog">
                    <h2 id="modalTitle">Kvittering</h2>
                    <img src="{{ receipt.picturePath }}">
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </td>

                <td>
                    {% if is_granted_team_leader() %}
                        <a href="" data-reveal-id="status-{{ receipt.id }}">
                    {% endif %}
                        {% if receipt.status == 'pending' %}
                            <span class="text-warning">Venter behandling...</span>
                        {% elseif receipt.status == 'refunded' %}
                            <span class="text-success">Refundert</span>
                        {% elseif receipt.status == 'rejected' %}
                            <span class="text-alert">Refusjon avvist</span>
                        {% endif %}
                    {% if is_granted_team_leader() %}
                        </a>
                    {% endif %}

                    {% if is_granted_team_leader() %}
                        <div id="status-{{ receipt.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle"
                             aria-hidden="true" role="dialog">
                            <h2>Endre status</h2>
                            <p>ID: {{ receipt.visualId }}</p>
                            <form method="POST" action="{{ path('receipt_edit_status', {receipt: receipt.id}) }}">
                                <select name="status" id="status">
                                    <option value="pending"{% if receipt.status == 'pending' %} selected{% endif %}>
                                        Venter behandling
                                    </option>
                                    <option value="refunded"{% if receipt.status == 'refunded' %} selected{% endif %}>
                                        Refundert
                                    </option>
                                    <option value="rejected"{% if receipt.status == 'rejected' %} selected{% endif %}>
                                        Refusjon avvist
                                    </option>
                                </select>
                                <p>Hvis utlegget endrer status til
                                    <span class="text-success">Refundert</span>
                                     eller
                                    <span class="text-alert">Refusjon avvist</span>
                                     vil {{ receipt.user }} få en epostvarsling.
                                </p>
                                <button type="submit" class="tiny success button">Lagre</button>
                            </form>
                            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        </div>
                    {% endif %}
                </td>
            {% if is_granted_team_leader() %}
                <td><a href="{{ path('receipt_admin_edit', { 'receipt': receipt.id }) }}" class="button tiny">
                        <i class="fa fa-pencil"></i>
                        Rediger
                    </a></td>
                <td>{% include 'receipt/delete_receipt_button.html.twig' %}</td>
            {% else %}
                <td colspan="2"></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>


</table>
