{% extends 'adminBase.html.twig' %}

{% block title %}Utlegg{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Utlegg</li>
{% endblock %}


{% block body %}
    <h2 class="text-center my-5">Utlegg</h2>

    <div class="row">
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-clock bg-info p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-info">
                            {% set days = avg_refund_time_in_hours // 24 %}
                            {% set hours = avg_refund_time_in_hours - days*24 %}
                            {% if days > 0 %}{{ days }} {{ days == 1 ? 'dag' : 'dager' }}{% endif %}
                            {{ hours }} {{ hours == 1 ? 'time' : 'timer' }}
                        </div>
                        <div class="text-muted text-uppercase font-weight-bold small">Gj.snittlig behandlingstid</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-dollar bg-success p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-success">{{ total_payout|number_format(2, ',', ' ') }} kr</div>
                        <div class="text-muted text-uppercase font-weight-bold small">Utbetalt
                            i {{ "now"|date("Y") }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-dollar bg-warning p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-warning">{{ pending_statistics.totalAmount|number_format(2, ',', ' ') }}
                            kr
                        </div>
                        <div class="text-muted text-uppercase font-weight-bold small">Sum ubehandlet</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-dollar bg-danger p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-danger">{{ rejected_statistics.totalAmount|number_format(2, ',', ' ') }}
                            kr
                        </div>
                        <div class="text-muted text-uppercase font-weight-bold small">Sum avvist</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i> Utlegg</div>
        <div class="table-responsive" style="padding-left:2px">
            <table class="table">
                <thead>
                <tr>
                    <th> Navn</th>
                    <th> Email</th>
                    <th> Kontonummer</th>
                    <th> Sum ubehandlet</th>
                    <th></th>
                </tr>

                </thead>

                <tbody>
                {% for user in users_with_receipts %}
                    <tr>
                        <td class="{{ user.hasPendingReceipts ? 'has-pending-receipts' : '' }}"><a
                                    href="{{ path('receipts_show_individual', {'user': user.id}) }}"> {{ user.fullName }} </a>
                        </td>

                        <td> {{ user.email }}</td>
                        <td> {{ user.accountNumber }}</td>
                        <td> {{ user.totalPendingReceiptSum|number_format(2, ',', ' ') }} kr</td>
                        <td>
                            {% if user.hasPendingReceipts %}
                                <div class="number-of-pending-receipts-indicator has-tip" data-tooltip
                                     aria-haspopup="true"
                                     title="{{ user.numberOfPendingReceipts }} {{ user.numberOfPendingReceipts == 1 ? 'ubehandlet' : 'ubehandlede' }} utlegg">
                                    {{ user.numberOfPendingReceipts }}</div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>
{% endblock %}
