{% extends 'adminBase.html.twig' %}
{% block title %}Utlegg{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 columns">
            <a href="{{ path('receipts_show') }}">
                <i class="fa fa-chevron-left"></i> Alle utlegg
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <h1>Utlegg for <a href="{{ path('specific_profile', {'id': user.id}) }}">{{ user }}</a></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            <ul class="clean-list">
                <li><b>Kontonummer:</b> {{ user.accountNumber }}</li>
                <li><b>Email:</b> <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
                <li><b>Sum ubehandlet:</b> {{ user.totalPendingReceiptSum|number_format(2, ',', ' ') }} kr</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 columns">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if receipts is not empty %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 columns">
                <hr>
            </div>

            <div class="col-6 col-md-6 col-lg-6 columns">
                <h3> Utlegg </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 columns">

                <br>

                {% include 'receipt_admin/receipts_table_individual.html.twig' with { 'receipts': receipts } %}
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>
{% endblock %}
