{% extends 'base.html.twig' %}

{% block title %}
	Medlemmer
{% endblock %}


{% block body %}

	<div class="row">
        <div class="small-12 medium-12 large-12 columns">
			
				<div class="row">
					<div class="small-12 medium-12 large-12 columns">
						<h1>Assistenter {{ department.shortName }}, {{ semester.name }}</h1>
					</div>
				</div>

				<div class="row">
					<div class="small-12 medium-12 large-12 columns">
					{% for group, schools in groups %}
						<hr>
						<div class="row"><div class="small-12 columns">
						<h3>{{ group }}</h3>
						{% for school, days in schools %}
							<div class="row"><div class="small-11 small-centered columns">
							<h5>{{ school }}</h5>
							<div class="small-12 columns">
							{% for day, users in days %}

								<table width="100%" id="table">
									<thead>
									<tr>
										<th> Dag</th>
										<th> Navn</th>
										<th> Tlf </th>
										<th> E-post </th>
									</tr>
									</thead>


									<tbody id="users">
									{% for user in users %}
										{% if user.fieldOfStudy is not null %}
										<tr class={{ user.fieldOfStudy.department.id }}>
											<td>{{ day }}</td>
											<td>
												<a href='{{ path('specific_profile', { 'id': user.id }) }}'>{{ user.firstName }} {{ user.lastName }}</a>
											</td>
											<td> {{ user.phone }} </td>
											<td> {{ user.email }} </td>
										</tr>
										{% endif %}
									{% endfor %}{#Users#}
									</tbody>
								</table>
							{% endfor %}{#Days#}
							</div></div></div>
						{% endfor %}{#Schools#}
						</div></div>
					{% endfor %}{#Groups#}
					</div>
				</div>
				
		</div>
	</div>
	
{% endblock %}