
<h3>Hei {{ name }}!</h3>

{{ content|safe_html }}


<i>Hvis du ikke ønsker flere nyhetsbrev kan du klikke <a href="{{ app.request.getSchemeAndHttpHost() ~ path('unsubscribe_newsletter', {'unsubscribeCode':unsubscribeCode})}}">her</a> for å melde deg av.</i>
<p>Hilsen Vektorprogrammet, {{ department }}</p>



<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('images/vektor.png') }}">
