{% extends 'adminBase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Sendte brev for {{ newsletter.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <table>
                <tr>
                    <th>Emne</th>
                    <th>Dato, tid</th>
                    <th>Antall mottakere</th>
                </tr>
                {% for letter in newsletter.letters %}
                    <tr>
                        <td><a href="{{ path('newsletter_show_letter_content', {'id':letter.id})}}">{{ letter.title }}</a></td>
                        <td>{{ letter.timestamp|date('d.m.Y, H:i') }}</td>
                        <td>{{ letter.recipientCount }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
