{% if newsletter is not null %}

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2 columns">
            <div class="admission-well text-dark-grey">
                <p>Du kan melde deg på <b>{{ newsletter.name }}</b> her:</p>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                <button>Registrer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% else %}
    <br>
{% endif %}
