<!DOCTYPE html>
<html class="nojs" lang="no">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spørreundersøkelse Vektorprogrammet</title>

    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2"/>

    {# Used by Foundation for backwards compability, and is supposed to be in the header #}
    <script src="{{ asset('js/vendor/modernizr.js') }}"></script>

    <style>
        body{
            background-color: #e8eef7;
        }
        .content {
            text-align: center;
        }
        .flex-wrapper{
            display: flex;
            justify-content: center;
        }
        .flash-notice{
            text-align: center;
            width: 80%;
            margin: 0px auto;
            padding-top: 20px;
            padding-bottom: 5px;
            background-color: #62df7c;
            border: 1px solid #696969;
            border-radius: 4px;
            margin-bottom: 50px;
        }

        .flash-error{
            text-align: center;
            width: 80%;
            margin: 0px auto;
            padding-top: 20px;
            padding-bottom: 5px;
            background-color: #df5248;
            border: 1px solid #696969;
            border-radius: 4px;
            margin-bottom: 50px;
        }
    </style>

</head>

<body>

<div class="formSurvey">
    <br>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            <h4>{{ flashMessage }}</h4>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            <h4>{{ flashMessage }}</h4>
        </div>
    {% endfor %}

    <br/>
    <div class="content">
        <div class="row">
            <div class="small-12 columns">
                <img src="{{ asset('images/vektor.png') }}" alt="Vektor logo">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h2>{{ newsletter.name }}</h2>

                <h5>Avdeling: {{ newsletter.department.shortName }}</h5>
            </div>
        </div>
        <div class="row">

            <div class="flex-wrapper">
                <div class="small-12 medium-8 large-6 columns">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    <button>Registrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

</div>


{# jQuery and Foundation #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
    setTimeout(function () {
        $(".flash-notice").fadeOut(1000);

    }, 3000);
    setTimeout(function () {
        $(".flash-error").fadeOut(1000);
    }, 6000);

</script>
</body>
</html>
