{% extends 'base.html.twig' %}

{% block title %}
    Tilbakestill passord
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header mb-4">
            <h1>Tilbakestill passord</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-5 offset-md-3 col-lg-4 offset-lg-4">

                {% for flashMessage in app.session.flashbag.get('errorMessage') %}
                    <div class="alert alert-warning">{{ flashMessage|safe_html }}</div>
                {% endfor %}

                {% if message is defined %}
                    <p>{{ message }}</p>
                {% endif %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-4">Tilbakestill passord</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
