<footer class="admin-footer">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <h6><b>Brukere</b></h6>
            <ul>
                <li><a href="{{ path('useradmin_show') }}">Brukere</a></li>
                <li><a href="{{ path('participanthistory_show') }}">Deltakerhistorikk</a></li>
                <li><a href="{{ path('teamadmin_show') }}">Team</a></li>
                {% if is_granted_team_leader() %}
                <li><a href="{{ path('executive_board_show') }}">Hovedstyret</a></li>
                {% endif %}
                <li><a href="{{ path('generate_mail_lists') }}">Epostlister</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h6><b>Opptak & Undersøkelse</b></h6>
            <ul>
                <li><a href="{{ path('admissionadmin_show') }}">Opptak</a></li>
                <li><a href="{{ path('semester_show') }}">Opptaksperiode</a></li>
                <li>
                    <a href="{{ path('statistics_application_show') }}">Opptaksstatistikk</a>
                </li>
                <li><a href="{{ path('substitute_show') }}">Vikarer</a></li>
                {% if is_granted_team_leader() %}
                    <li><a href="{{ path('interview_schema') }}">Intervjuskjema</a></li>
                {% endif %}
                <li><a href="{{ path('surveys') }}">Undersøkelser</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h6><b>Artikkel</b></h6>
            <ul>
                <li><a href="{{ path('articleadmin_show') }}">Artikler</a></li>
                <li><a href="{{ path('articleadmin_create') }}">Ny artikkel</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h6><b>Diverse</b></h6>
            <ul>
                <li><a href="{{ path('departmentadmin_show') }}">Avdeling</a></li>
                {% if is_granted_team_leader() %}
                    <li><a href="{{ path('show_field_of_studies') }}">Linjer</a></li>
                {% endif %}
                <li><a href="{{ path('schooladmin_show') }}">Skole</a></li>
                <li><a href="{{ path('newsletter_show_all') }}">Nyhetsbrev</a></li>
                <li><a href="{{ path('sponsors_show') }}">Sponsorer</a></li>
                {% if is_granted_team_leader() %}
                    <li><a href="{{ path('certificate_show') }}">Attest</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</footer>
