<div class="sidebar">
        <nav class="sidebar-nav ps ps--active-y">
            <ul class="nav">
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle text-center mt-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="img-avatar profile-photo" src="{{ asset(app.user.picturePath | imagine_filter('profile_img_tiny')) }}" alt="{{ app.user }}">
                        <div class="mt-2">{{ app.user }}</div>
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('my_page') }}">
                                <i class="fa fa-file nav-icon"></i> Min side</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">
                                <i class="fa fa-user nav-icon"></i> Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('receipt_create') }}">
                                <i class="fa fa-usd nav-icon"></i> Mine utlegg</a>
                        </li>
                        {% if app.user.isActiveAssistant() %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('my_partners') }}">
                                    <i class="fa fa-users nav-icon"></i> Mine vektorpartnere</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">
                                <i class="fa fa-lock nav-icon"></i> Logg ut</a>
                        </li>
                    </ul>
                    <hr class="my-1">
                    {#<div class="dropdown-menu dropdown-menu-right p-0">#}
                        {#<div class="dropdown-header text-center">#}
                            {#<strong>Min konto</strong>#}
                        {#</div>#}
                        {#{% include 'base/dropdown_item_link.html.twig' with {route: 'my_page', name: 'Min side', icon: 'file'} %}#}
                        {#{% include 'base/dropdown_item_link.html.twig' with {route: 'profile', name: 'Profil', icon: 'user'} %}#}
                        {#{% include 'base/dropdown_item_link.html.twig' with {route: 'receipt_create', name: 'Mine utlegg', icon: 'usd'} %}#}
                        {#{% if app.user.isActiveAssistant() %}#}
                            {#{% include 'base/dropdown_item_link.html.twig' with {route: 'my_partners', name: 'Mine vektorpartnere', icon: 'users'} %}#}
                        {#{% endif %}#}
                        {#{% include 'base/dropdown_item_link.html.twig' with {route: 'logout', name: 'Logg ut', icon: 'lock', class: 'text-danger'} %}#}
                    {#</div>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('control_panel') }}">
                        <i class="fa fa-tachometer nav-icon icon-speedometer"></i> Kontrollpanel
                        <span class="badge badge-primary">NEW</span>
                    </a>
                </li>
                <li class="nav-title">Opptak</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('semester_show') }}">
                        <i class="fa fa-clock-o nav-icon icon-speedometer"></i> Opptaksperioder
                    </a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="fa fa-users nav-icon"></i> Søkere</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('applications_show_new') }}">
                                <i class="fa fa-users nav-icon"></i> Nye søkere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('applications_show_existing') }}">
                                <i class="fa fa-users nav-icon"></i> Tidligere assistenter</a>
                        </li>
                    </ul>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="fa fa-comments nav-icon"></i> Intervju</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('applications_show_assigned') }}">
                                <i class="fa fa-comments nav-icon"></i> Intervjufordeling</a>
                            <a class="nav-link" href="{{ path('applications_show_interviewed') }}">
                                <i class="fa fa-comments nav-icon"></i> Intervjuer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('interview_schema') }}">
                                <i class="fa fa-comments nav-icon"></i> Intervjuskjema</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('stand') }}">
                        <i class="fa fa-bullhorn nav-icon icon-speedometer"></i> Stand
                    </a>
                </li>
                <li class="nav-title">Assistenter</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('participanthistory_show') }}">
                        <i class="fa fa-history nav-icon icon-drop"></i> Deltakerhistorikk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('substitute_show') }}">
                        <i class="fa fa-user-secret nav-icon icon-drop"></i> Vikarer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('school_allocation') }}">
                        <i class="fa fa-calendar nav-icon icon-drop"></i> Timeplan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('schooladmin_show') }}">
                        <i class="fa fa-school nav-icon icon-drop"></i> Skoler</a>
                </li>
                <li class="nav-title">Brukere</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('useradmin_show') }}">
                        <i class="fa fa-user nav-icon icon-drop"></i> Brukere</a>
                </li>
                <li class="nav-title">Team</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('teamadmin_show') }}">
                        <i class="fa fa-smile-o nav-icon icon-pencil"></i> Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('executive_board_show') }}">
                        <i class="fa fa-diamond nav-icon icon-pencil"></i> Hovedstyret</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admissionadmin_team_interest') }}">
                        <i class="fa fa-star nav-icon icon-pencil"></i> Teaminteresse</a>
                </li>
                <li class="nav-title">Økonomi</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sponsors_show') }}">
                        <i class="fa fa-money nav-icon icon-pencil"></i> Sponsorer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('receipts_show') }}">
                        <i class="fa fa-usd nav-icon icon-pencil"></i> Utlegg</a>
                </li>
                <li class="nav-item">
                    <div class="p-4">

                        {% include 'base/logo_link.html.twig' %}
                            {#<img class="img-fluid" src="{{ asset_with_version('images/vektor.png') }}">#}
                        <a href="{{ path('home') }}">
                            <p class="text-center my-2 text-secondary"><i class="fa fa-chevron-left"></i> Tilbake til forsiden</p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
