{% extends "base.html.twig" %}

{% block header %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/survey.css') }}">
{% endblock %}

{% block body %}

    <div class="container surveypage mt-5">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('home') }}">
                    <img src="{{ asset_with_version('images/vektor-logo.svg') }}" alt="Vektor logo">
                </a>
                <div class="card mt-4">
                    <div class="card-body">
                        {{ content | safe_html }}
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ path('home') }}">
        <button class="btn">Til hovedside</button>
        </a>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

