<p> Hei {{ firstname }}!</p>

<p> Takk for innsatsen din som Vektorassistent!  {{ school | capitalize}} er en av satningsskolene våre, derfor hadde jeg satt stor pris på om du kunne svare på <a href="{{ route }}"> denne </a> undersøkelsen for å fortelle hvordan du syntes {day}er der var.</p>

<p><a href="{{ route }}">{{ route }}</a></p>

<p>Med vennlig hilsen, <br>
    {{ fromName }}</p>
