{% extends 'adminBase.html.twig' %}

{% block title %}
    Ny Spørreundersøkelse
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/admin/survey_form.css') }}">
{% endblock %}

{% block breadcrumb %}
    {% if survey.id %}
        <li class="breadcrumb-item">
            <a href="{{ path('surveys', {'id': survey.semester.id}) }}">Undersøkelser</a>
        </li>
        <li class="breadcrumb-item active">{{ survey.name }}</li>
    {% else %}
        <li class="breadcrumb-item">
            <a href="{{ path('surveys') }}">Undersøkelser</a>
        </li>
        <li class="breadcrumb-item active">Ny undersøkelse</li>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset_with_version('js/question_repeater.js') }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', QuestionManager.onReady);
    </script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-xl-10 col-xxl-8 col-xxxl-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-comment-o"></i> Spørreundersøkelse</div>
                <div class="card-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.semester ) }}

                    {% if has_access_to('survey_admin') %}
                        {{ form_row(form.department ) }}
                    {%  endif %}

                    {{ form_row(form.confidential) }}
                    {{ form_row(form.finishPageContent ) }}
                    {{ form_row(form.targetAudience) }}
                    {{ form_row(form.showCustomPopUpMessage ) }}
                    {{ form_row(form.surveyPopUpMessage ) }}

                </div>
            </div>

            {% include 'questions/repeatable_question.html.twig' with {'questions': form.surveyQuestions} %}

            <div class="card">
                <div class="card-body">
                    <p>
                        <a href="#" id="addQuestionButton" class="button tiny">
                            <i class="fa fa-plus"></i> Nytt Spørsmål
                        </a>
                    </p>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            <div class="hide">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
