{% extends 'adminBase.html.twig' %}

{% block title %}
    Skjemaer for spørreundersøkelser
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Undersøkelser</li>
{% endblock %}

{% block breadcrumb_menu %}
    <div class="btn-group">
        {% include 'common/department_semester_dropdowns.html.twig' with {
            'path': 'surveys',
            'departmentParameterName': 'department',
            'semesterParameterName': 'semester',
            'currentDepartment': department,
            'currentSemester': semester,
        } %}
        <a href="{{ path('survey_create') }}" class="btn btn-outline-success text-success">
            <i class="fa fa-plus"></i> Ny undersøkelse
        </a>
    </div>
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i>
            Undersøkelser {{ department }} {{ semester }}</div>
        <div class="card-body">

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Tittel</th>
                    <th>Antall svar</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for survey in surveys if ((not survey.confidential) or is_granted_team_leader()) %}
                    <tr>
                        <td>
                            <div class="dropdown">
                                <div class="clickable px-2" id="options-{{ loop.index }}" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-secondary"></i>
                                </div>
                                <div class="dropdown-menu pt-0" aria-labelledby="options-{{ loop.index }}">
                                    <div class="dropdown-header mb-2"><strong>{{ survey.name }}</strong></div>
                                    <a href="{{ path('survey_edit', {'id': survey.id }) }}"
                                       class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Rediger
                                    </a>
                                    {% if is_granted_team_leader() %}
                                        <a href="{{ path('survey_copy', {'id': survey.id }) }}" class="dropdown-item">
                                            <i class="fa fa-copy text-primary"></i> Kopier
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('survey_show_admin', {'id': survey.id }) }}" class="dropdown-item">
                                        <i class="fa fa-file-signature text-primary"></i> Admin-utfylling
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>{{ survey.name }}</td>
                        <td>{{ survey.getTotalAnswered }}</td>
                        <td>
                            <a href="{{ path('survey_show', {'id': survey.id }) }}">
                                <i class="fa fa-comment-o"></i> Vis undersøkelse
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('survey_results', {'id': survey.id }) }}">
                                <i class="fa fa-bar-chart"></i> Vis resultater
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Ingen spørreundersøkelser</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
