{% extends "base.html.twig" %}


{#<!DOCTYPE html>
<html class="nojs" lang="no">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Spørreundersøkelse Vektorprogrammet</title>

    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{{ asset_with_version('css/pages/survey.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset_with_version('favicon.ico') }}?v=2"/>

    #}{# Used by Foundation for backwards compability, and is supposed to be in the header #}{#

</head>#}
{% block header %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/survey.css') }}">
{% endblock %}


{% block body %}
    {% form_theme form 'form/interview_layout.html.twig' %}
    <div class="container mt-5 surveypage">
        <img src="{{ asset_with_version('images/vektor-logo.svg') }}" alt="Vektor logo">

        <div class="card mt-4 mb-5">
            <div class="card-body p-4">
                <br/>

                <div class="row">
                    <div class="col-12">
                        <h1>{{ form.vars.data.survey.name }}</h1>
                        <h5>{{ form.vars.data.survey.semester }}</h5>
                    </div>
                </div>

                {{ form_start(form) }} {#This is everything that is needed to show a form/survey#}
                {{ form_errors(form) }}
                {% set QuestionNumber = 1 %}

                {% if surveyTargetAudience == 0 or (surveyTargetAudience == 2 and not userIdentified)%}
                    <div class="row mt-4">
                        <div class="col-12">
                            <label class="form-control-label">Hvilken skole går du på?</label>
                            {{ form_widget(form.school) }}
                            <br/>

                        </div>
                    </div>
                {% endif %}
                {% for surveyAnswer in form.surveyAnswers %}
                    <div class="row mt-2">
                        <div class="col-12">
                            {% if surveyAnswer.vars.value.surveyQuestion.type == 'check' %}
                                {{ form_row(surveyAnswer.answerArray) }}
                            {% else %}
                                {{ form_row(surveyAnswer.answer) }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {{ form_row(form._token) }}
                <div id="error" style="display: none">Noen obligatoriske spørsmål mangler svar</div>

                <button class="btn">Send inn</button>

                <div id="sending" style="display: none">
                    <i class="fa fa-paper-plane fa-2x"></i>

                    <p>Sender svar...</p>
                </div>
            </div>
        </div>
    </div>


    <script>
        var btn = document.getElementById("surveyTaken_save");
        var sending = document.getElementById("sending");
        var form = document.getElementsByName("surveyTaken")[0];
        btn.addEventListener("click", function (e) {
            if (form.checkValidity()) {
                btn.style.display = "none";
                sending.style.display = "block";
            } else {
                e.preventDefault();
                $('#error').show();
                setTimeout(function () {
                    $('#error').fadeOut(300);
                }, 3000)
            }
        })
    </script>

    <script>
        setTimeout(function () {
            $(".flash-notice").fadeOut(1000);

        }, 3000);
        setTimeout(function () {
            $(".flash-error").fadeOut(1000);
        }, 6000);

    </script>
{% endblock %}


{% block footer %}
{% endblock %}
