<!DOCTYPE html>
<html class="nojs" lang="no">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spørreundersøkelse Vektorprogrammet</title>

        <link rel="stylesheet" rel="stylesheet" type="text/css" href="{{ asset('css/survey.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />

        {# Used by Foundation for backwards compability, and is supposed to be in the header #}
        <script src="{{ asset('bundles/app/js/vendor/modernizr.js') }}"></script>

    </head>

	<body>

    <div class="formSurvey">

        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
        {% endfor %}

        <img src="{{ asset('images/vektor.png') }}" alt="Vektor logo">
        <br/>
        <h1>{{ form.vars.data.name }}</h1>

        {{ form_start(form) }} {#This is everything that is needed to show a form/survey#}
        {{ form_errors(form) }}
        {% set counter = 0 %}
        {% set QustionNumber = 1 %}
        <h3>Velg skole</h3>
        {{ form_widget(form.school) }}
        <br/>
        {% for surveyAnswer in form.surveyAnswers %}
            {% if counter >= oldAns %}
                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ QustionNumber }}. {{ form_row(surveyAnswer.answer) }}
                        {% set QustionNumber = QustionNumber +1 %}
                    </div>
                </div>
            {% endif %}
            {% set counter = counter +1 %}
        {% endfor %}

        {{ form_row(form._token) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn'}})}}
    </div>



    {# jQuery and Foundation #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/foundation.min.js') }}"></script>
    <script>
        $(document).foundation();
        </script>
	</body>
</html>
