{% block field_help %}
    {% if help|default %}
        <p class="question-help">{{ help }}</p>
    {% endif %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form, label|default(null), {'label_attr': {'class': valid ? 'question-label': 'question-label error'}}) }}
            {{ block('field_help') }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
