<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="no"> <![endif]-->
<html class="no-js" lang="no">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        body {
            background: #fff;
            cursor: auto;
            font-family: Lato, Helvetica, Roboto, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            position: relative
        }

        table {
            background: #fff;
            border: 1px solid #ddd;
            margin-bottom: 1.25rem;
            table-layout: auto
        }

        table tr td, table tr th {
            font-size: .875rem;
            padding: .5625rem .625rem;
            text-align: left
        }

        h1, p {
            margin: 0;
            padding: 0
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1.25rem;
            text-rendering: optimizeLegibility;
            line-height: 1.6
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Lato, Helvetica, Roboto, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: .5rem;
            margin-top: .2rem;
            text-rendering: optimizeLegibility
        }

        @media print {
            * {
                background: transparent !important;
                color: #000 !important;
                box-shadow: none !important;
                text-shadow: none !important
            }

            @page {
                margin: .34in
            }
        }
        .container {
            padding-left: 55px;
            padding-right: 55px;
            height: 100%;
            padding-top: 55px;
        }

        .bottom {
            position:absolute;
            bottom: 50px;
            left: 0;
        }
        .padded {
            padding: 0 85px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>

        <div class="top">

            <div class="row" style="margin-bottom: 50px">
                <div class="col-12" style="text-align: center;">
                    <h1 style="font-size: 25px;">Attest - Vektorprogrammet</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p style="font-weight: bold; margin-bottom: 15px;">{{ user }} har vært deltagende i Vektorprogrammet
                        ved {{ user.fieldOfStudy.department.shortName }} som vektorassistent.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-1">
                    {% if assistantHistory is not empty %}
                        <p>I sitt arbeid for det frivillighetsbaserte Vektorprogrammet har {{ user }} deltatt
                            som assistent i undervisningen ved en ungdomsskole.
                            Arbeidsoppgavene varierer fra undervisning i mindre grupper til oppgaveløsning i klasserommet.
                            For assistenten innebærer dette å forplikte seg til
                            å delta i matematikkundervisningen på skolen følgende dager på følgende skoler:
                        </p>
                        <br>
                        <h3 style="margin-top: 20px; margin-bottom: 5px; font-size: 20px;">Assistentoversikt</h3>
                        <table style="width:60%;">
                            <tr>
                                <th style="width:120px;padding:8px;">Skole</th>
                                <th style="width:100px;padding:8px;">Semester</th>
                                <th style="text-align: center; width:100px;padding:8px;">Antall Dager</th>
                            </tr>
                            {% for as in assistantHistory %}
                                {% if as.semester is not null and as.school is not null %}
                                    <tr>
                                        <td style="padding:5px 8px;">{{ as.getSchool.getName }}</td>
                                        <td style="padding:5px 8px;">{{ as.getSemester.name }}</td>
                                        <td style="text-align: center;padding:5px 8px;">{{ as.workdays }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>Semesteret og/eller skolen har blitt slettet.</td>
                                        <td>Semesteret og/eller skolen har blitt slettet.</td>
                                    </tr>
                                {% endif %}

                            {% endfor %}
                        </table>

                    {% endif %}
                </div>
            </div>
            <br>
            <br>
        </div>

        <div>
            <div>
                <div class="col-6" style="width: 35%; float:left; vertical-align: baseline; display: inline-block">
                    <p style="font-weight: bold; margin-top:15px; margin-bottom: 15px;">På vegne av Vektorprogrammet.</p>
                    <img src="{{ base_dir ~ "/../" ~ signature.signaturePath }}"
                         style="max-height: 75px; max-width: 100%; margin-bottom: 10px; border-bottom:1px solid gray"
                         alt="Signatur ble ikke funnet. Prøv å last ned attesten på nytt eller oppdater signaturen.">
                    <p>
                        <span style="font-weight: bold">{{ app.user }}</span>,
                        <br>
                        {{ signature.description }} <br>
                        <!--{{ 'now'|date ('d/m-y') }}, {{ department.city }} <br/>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="padded">
        <hr>
            <div style="font-size: 11px;">

                <img src="{{ base_dir ~ asset('images/vektor-logo.svg') }}" style="float: right; height: 70px;"
                     alt="Logo ble ikke funnet. Prøv å laste ned attesten på nytt.">
                <p>
                Vektorprogrammet <br/>
                Høgskoleringen 5,
                7491 Trondheim <br/>
                Org. nr.: 998 744 814 <br/>
                    </p>


            </div>
        </div>
    </div>
</div>
</body>


</html>
