{% extends 'adminBase.html.twig' %}

{% block customScripts %}

    <script src="{{ asset_with_version('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset_with_version('js/stupidtable.js') }}"></script>
    <script src="{{ asset_with_version('js/deleteablerow.js') }}"></script>

    <script>

        /**
         * This object organizes the javascript used by this twig.
         *
         * The onReady function is called when the document is ready.
         */
        var Substitute = {

            // The html table containing the substitute assistants
            subTable: $("#substitute-table"),

            onReady: function () {
                // Add sort functionality to the table containing the substitute assistants
                Substitute.subTable.stupidtable();
                // Add arrows after sorting the table
                Substitute.subTable.on("aftertablesort", Substitute.addSortArrows);
            },

            addSortArrows: function (event, data) {
                console.log("addSortArrows");
                var th = $(this).find("th");
                th.find(".arrow").remove();
                var dir = $.fn.stupidtable.dir;

                var arrow = data.direction === dir.ASC ? "asc" : "desc";
                th.eq(data.column).append('<span class="arrow"> <i class="fa fa-sort-' + arrow + '"></i></span>');
            }

        };

        $(document).ready(Substitute.onReady);
    </script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Last ned attest</h1>

            <hr>

            <div class="row">
                <div class="small-6 medium-6 large-6 columns">
                    <ul class="inline-list">
                        {% include "common/semester_dropdown.html.twig" with {
                        'pathForSemester': 'certificate_download',
                        'semesterParameterName': 'id',
                        'currentSemester': currentSemester} %}
                    </ul>
                </div>
            </div>

            <table width="100%" id="substitute-table">
                <thead>
                <tr>
                    <!--Navn	e-post	Skole	Semester	Avdeling-->
                    <th data-sort="string">Navn</th>
                    <th data-sort="string">E-post</th>
                    <th data-sort="string">Skole</th>
                    <th data-sort="string">Linje</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for a in assistants %}
                <tr id="{{ a.id }}">
                    <td>{{ a.user }}</td>
                    <td>{{ a.user.email }}</td>
                    <td>{{ a.school }}</td>
                    <td>{{ a.user.fieldOfStudy }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a href="{{ path('profile_certificate', { 'id': a.user.id }) }}" class="button tiny">
                                <i class="fa fa-download"></i> Last ned
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

