{% extends 'adminBase.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Last opp signatur</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-8">
                    <label>Beskrivelse (Feks. Leder, Vektorprogrammet)
                        {{ form_row(form.description) }}</label>
                </div>
            </div>
            {#<label for="form_signature_path">Age</label>#}
            <div class="row">
                <div class="col-2">
                    <div class="hide">
                        {{ form_row(form.signature_path) }}
                    </div>
                    <button type="button" class="btn btn-secondary" id="choose_picture">
                        Velg bilde
                    </button>
                </div>
                <div class="col-4">
                    <div class="{{ signature.signaturePath is not null ? '' : 'hide' }}">
                        <img src="{{ asset_with_version(signature.signaturePath) }}" height="60px" id="signature_picture">
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary">Lagre</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        var uploadButton = $('#choose_picture');
        uploadButton.click(function () {
            var realUploadButton = $('#create_signature_signature_path');
            realUploadButton.click();
        })
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#signature_picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#create_signature_signature_path").change(function () {
            $('#signature_picture').parent().removeClass('hide');
            readURL(this);
        });


    </script>

    <script>
        setTimeout(function () {
            $('.alert-box').fadeOut(800);
        }, 1500)
    </script>



{% endblock %}
