{% extends 'adminBase.html.twig' %}

{% block title %}
    Rediger opptak {{ semesterName }} – {{ department }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.min.css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admission_period_admin_show', {'id': department.id }) }}">Opptaksperioder</a>
    </li>
    <li class="breadcrumb-item active">{{ department }}</li>
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="row">

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-industry"></i> Rediger opptaksperiode {{ semesterName }}
                    – {{ department }}</div>
                <div class="card-body">
                    <h3>Opptak start / slutt</h3>
                    {{ form_row(form.admissionStartDate) }}
                    {{ form_row(form.admissionEndDate) }}
                    <button type="submit" class="btn btn-primary mt-4">Lagre</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-info-circle"></i> Infomøte (valgfri)</div>
                <div class="card-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.showOnPage) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.date) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.room) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.infoMeeting.link) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.16/jquery.datetimepicker.full.min.js"></script>
    <script>
        const options = {
            format: 'd.m.Y H:i',
            lang: 'no',
            step: 1,
        };

        jQuery('#{{ form.admissionStartDate.vars.id }}').datetimepicker(options);
        jQuery('#{{ form.admissionEndDate.vars.id }}').datetimepicker(options);
        jQuery('#{{ form.infoMeeting.date.vars.id }}').datetimepicker(Object.assign(options, {step: 15}));
    </script>
{% endblock %}
