{% extends 'adminBase.html.twig' %}

{% block title %}
    Opptaksperioder
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Opptaksperioder
    </li>
{% endblock %}

{% block breadcrumb_menu %}

    {% if is_granted_team_leader() %}
        <div class="btn-group">
            {% include 'common/department_dropdown.html.twig' with {
                'pathForDepartment': 'admission_period_admin_show_by_department',
                'departmentParameterName': 'id',
                'currentDepartment': department,
                'linkToSemester': false,
            } %}

            <a class="btn text-success btn-sm" href="{{ path('admission_period_create', { 'id': department.id }) }}">
                <i class="fa fa-plus"></i> Opptaksperiode
            </a>
        </div>
    {% endif %}
{% endblock %}



{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Opptaksperioder {{ department }}
                </div>
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <tr>
                            {% if is_granted_team_leader() %}
                                <th></th>
                            {% endif %}
                            <th> Navn</th>
                            <th> Opptak start</th>
                            <th> Opptak slutt</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for a in admissionPeriods %}
                            <tr class="text-nowrap">
                                {% if is_granted_team_leader() %}
                                    <td class="table-menu">
                                        <div class="dropdown">
                                            <div class="clickable" id="options-{{ a.id }}" data-toggle="dropdown"
                                                 aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-secondary"></i>
                                            </div>
                                            <div class="dropdown-menu pt-0" aria-labelledby="options-{{ a.id }}">
                                                <div class="dropdown-header mb-2"><strong>{{ a }}</strong></div>
                                                <a class="dropdown-item"
                                                   href="{{ path('admission_period_update', {'id': a.id}) }}"><i
                                                            class="fa fa-pencil text-primary"></i> Rediger</a>
                                                {% if is_granted_admin() %}
                                                    <form method="POST"
                                                          action="{{ path('admission_period_delete', {'id': a.id}) }}"
                                                          onsubmit="return confirm('Er du sikker på at du vil slette {{ a }}?')">
                                                        <button class="dropdown-item">
                                                            <i class="fa fa-trash text-danger"></i> Slett
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                                <td>{{ a }}</td>
                                <td> {{ a.startDate|date('d. M Y') }}
                                    kl. {{ a.startDate|date('H:i:s') }}</td>
                                <td> {{ a.endDate|date('d. M Y') }}
                                    kl. {{ a.endDate|date('H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
