{% extends 'base_new.html.twig' %}

{% block title %}Nyheter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/news.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header mb-5">
            <h1>Nyheter</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-9 col-lg-9">
                {% if pagination|first %}
                    <div class="row">
                        <div class="article-box col-12">
                            <a href="{{ path('article_show', { 'id': pagination|first.id }) }}">
                                <img src="{{ asset_with_version(pagination|first.imageLarge) }}"/>
                            </a>
                            <h4><a href="{{ path('article_show', { 'id': pagination|first.id }) }}">
                                    {{ pagination|first.title|safe_html }}</a></h4>
                        </div>
                    </div>
                    {% set columns = ['col-md-7 col-lg-7', 'col-md-5 col-lg-5'] %}
                    {% for row in pagination[1:]|batch(2) %}
                        <div class="row">
                            {% for column in row %}
                                {% set images = [column.imageMedium, column.imageSmall] %}
                                <div class="article-box col-12 {{ cycle(columns, loop.parent.loop.index0+loop.index0) }}">
                                    <a href="{{ path('article_show', { 'id': column.id }) }}">
                                        <img src="{{ asset_with_version(cycle(images, loop.parent.loop.index0+loop.index0)) }}">
                                    </a>
                                    <h5><a href="{{ path('article_show', { 'id': column.id }) }}">
                                            {{ column.title|safe_html }}</a></h5>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Ingen artikler tilgjengelig</p>
                {% endif %}
                <div class="row text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-12">
                        {% include('article/department_filter.html.twig') %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="{{ element_editable() }} vektor-box" id="vektor_i_media">
                            {{ get_content('vektor_i_media') | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
