{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block facebookImage %}{{ article.imageSmall|replace({" ": "%20"}) }}{% endblock %}
{% block facebookDescription %}{{ article.article|safe_html|replace({"<p>": "", "</p>": "", "<strong>": "", "</strong>": ""})|slice(0,255) }}...{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/article.css') }}">
{% endblock %}

{% block body %}
    {% if isDraft is defined and isDraft %}
        <div class="admission-notice">
            <div data-alert class="alert alert-warning text-center">
                <strong>Dette er en kladd</strong><br>
                Kun brukere med tilgang til kontrollpanelet kan se denne artikkelen
            </div>
        </div>
    {% endif %}

    <div class="article container">
        <div class="segment mt-4">
        <article>

            <img src="{{ asset(article.imageLarge | imagine_filter('article_large')) }}" style="width:100%;"/>

            <h1 class="article-title mb-2 mt-5">{{ article.title|safe_html }}</h1>

            <p class="article-by vektor-blue-text mb-4"><strong>Skrevet
                    av:</strong> {{ article.author.firstName }} {{ article.author.lastName }}.
                Publisert: {{ article.created|date("d.m.y — G:i") }}</p>

            <div class="article-body">
            {{ article.article|safe_html }}
            </div>
            {# Render the controller for the sidebar showing other articles #}
            {% render controller('AppBundle:Article:showOther', { 'excludeId': article.id }) %}

        </article>
        </div>
    </div>

{% endblock %}
