{% extends 'base_new.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block facebookImage %}{{ article.imageSmall|replace({" ": "%20"}) }}{% endblock %}
{% block facebookDescription %}{{ article.article|safe_html|replace({"<p>": "", "</p>": "", "<strong>": "", "</strong>": ""})|slice(0,255) }}...{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/article.css') }}">
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('article-notice') %}
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <div data-alert class="alert-box success radius">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="segment mt-4">
    <article>

        <img src="{{ asset_with_version(article.imageLarge) }}" style="width:100%;"/>

        <p class="article-department">Vektornyheter for
            {% for department in article.departments %}
            {{ department.shortName }}{% if not loop.last %}, {% endif %}{% else %}alle{% endfor %}:</p>

        <h1>{{ article.title|safe_html }}</h1>

        <p class="vektor-blue-text"><strong>Skrevet
                av:</strong> {{ article.author.firstName }} {{ article.author.lastName }}.
            Publisert: {{ article.created|date("d.m.y — G:i") }}</p>

        <div class="article-body ml-md-4">
        {{ article.article|safe_html }}
        </div>
        {# Render the controller for the sidebar showing other articles #}
        {% render controller('AppBundle:Article:showOther', { 'excludeId': article.id }) %}

    </article>
    </div>

{% endblock %}
