{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    <script src="{{ asset_with_version('js/stupidtable.js') }}"></script>
    <script>
        var Substitute = {
            // The html table containing the substitute assistants
            subTable: $("#substitute-table"),

            onReady: function () {
                // Add sort functionality to the table containing the substitute assistants
                Substitute.subTable.stupidtable();

                // Add arrows after sorting the table
                Substitute.subTable.on("aftertablesort", Substitute.addSortArrows);
            },

            addSortArrows: function (event, data) {
                var th = $(this).find("th");
                th.find(".arrow").remove();
                var dir = $.fn.stupidtable.dir;

                var arrow = data.direction === dir.ASC ? "asc" : "desc";
                th.eq(data.column).append('<span class="arrow"> <i class="fa fa-sort-' + arrow + '"></i></span>');
            }
        };
        $(document).ready(Substitute.onReady);
    </script>

{% endblock %}

{% block title %}
    Vikar
{% endblock %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Vikarer</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {# Semester dropdown #}
            {% include 'common/department_semester_dropdowns.html.twig' with {
            'path': 'substitute_show_by_semester',
            'parameterName': 'semester',
            'currentSemester': semester
            } %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <hr>
            <table width="100%" id="substitute-table">
                <thead>

                <tr>
                    <th data-sort="string" class="clickable"> Fornavn</th>
                    <th data-sort="string" class="clickable"> Etternavn</th>
                    <th data-sort="int" class="clickable"> Tlf</th>
                    <th data-sort="string" class="clickable"> E-post</th>
                    <th data-sort="string" class="clickable"> Linje</th>

                    <th data-sort="int" class="clickable"> År</th>
                    <th data-sort="string" class="clickable"> Engelsk</th>
                    <th><span data-sort="string" class="has-tip" title="Mandag"> M</span></th>
                    <th><span data-sort="string" class="has-tip" title="Tirsdag"> T</span></th>
                    <th><span data-sort="string" class="has-tip" title="Onsdag"> O</span></th>
                    <th><span data-sort="string" class="has-tip" title="Torsdag"> T</span></th>
                    <th><span data-sort="string" class="has-tip" title="Fredag"> F</span></th>
                    <th><span data-sort="string" class="has-tip" title="Pulje"> Pulje</span></th>
                    <th><span data-sort="string" class="has-tip" title="Poeng"> Poeng</span></th>
                    <th><span data-sort="string" class="has-tip" title="Passende"> Passende</span></th>
                    {% if is_granted_team_leader() %}
                        <th colspan="2"></th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                    {% for sub in substitutes %}
                        <tr>
                            <td>{{ sub.user.firstName }}</td>
                            <td>{{ sub.user.lastName }}</td>
                            <td>{{ sub.user.phone }}</td>
                            <td>{{ sub.user.email }}</td>
                            <td>{{ sub.user.fieldOfStudy }}</td>
                            <td>{{ sub.yearOfStudy }}</td>
                            <td>{{ sub.english ? "Ja" : "Nei"}}</td>
                            <td>{{ sub.monday }}</td>
                            <td>{{ sub.tuesday }}</td>
                            <td>{{ sub.wednesday }}</td>
                            <td>{{ sub.thursday }}</td>
                            <td>{{ sub.friday }}</td>
                            <td>{{ sub.preferredGroup }}</td>
                            {% if sub.interview is not null %}
                                <td>{{ sub.interview.interviewScore.getSum() }}</td>
                                {% else %}
                                    <td colspan="1"></td>
                            {% endif %}
                            {% if sub.interview is not null %}
                                <td>{{ sub.interview.interviewScore.suitableAssistant }}</td>
                            {% else %}
                                <td colspan="1"></td>
                            {% endif %}

                            {% if is_granted_team_leader() %}
                                <td>
                                    <form method="POST"
                                          action="{{ path('substitute_modify', { id: sub.id }) }}">
                                        <button type="submit"
                                                class="button tiny">
                                            <i class="fa"></i>
                                            Rediger
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST"
                                          onsubmit="return confirm('Vil du virkelig fjerne vikarstillingen til {{ sub.user.firstName }} {{ sub.user.lastName }}?')"
                                          action="{{ path('substitute_delete', { id: sub.id }) }}">
                                        <button type="submit"
                                                class="button tiny alert">
                                            <i class="fa fa-trash"></i>
                                            Slett
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
{% endblock %}
