{% extends 'adminBase.html.twig' %}

{% block javascripts %}

    <script src="{{ asset_with_version('js/stupidtable.js') }}"></script>
    <script>
        var Substitute = {
            // The html table containing the substitute assistants
            subTable: $("#substitute-table"),

            onReady: function () {
                // Add sort functionality to the table containing the substitute assistants
                Substitute.subTable.stupidtable();

                // Add arrows after sorting the table
                Substitute.subTable.on("aftertablesort", Substitute.addSortArrows);
            },

            addSortArrows: function (event, data) {
                var th = $(this).find("th");
                th.find(".arrow").remove();
                var dir = $.fn.stupidtable.dir;

                var arrow = data.direction === dir.ASC ? "asc" : "desc";
                th.eq(data.column).append('<span class="arrow"> <i class="fa fa-sort-' + arrow + '"></i></span>');
            }
        };
        $(document).ready(Substitute.onReady);
    </script>

{% endblock %}

{% block title %}
    Vikar
{% endblock %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Vikarer</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {# Semester dropdown #}
            {% include 'common/department_semester_dropdowns.html.twig' with {
            'path': 'substitute_show_by_semester',
            'parameterName': 'semester',
            'currentSemester': semester
            } %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <hr>
            <h3>Vikarerstillinger</h3>
            <p>Dette er en oversikt over alle vikarstillingene {{ semester }}</p>

            <table width="100%" id="substitute-table">
                <thead>

                <tr>
                    <th data-sort="string"> Navn</th>
                    <th data-sort="int"> Tlf</th>
                    <th data-sort="string"> E-post</th>
                    <th data-sort="string">Man</th>
                    <th data-sort="string">Tir</th>
                    <th data-sort="string">Ons</th>
                    <th data-sort="string">Tor</th>
                    <th data-sort="string">Fre</th>
                    {% if is_granted_team_leader() %}
                        <th colspan="2"></th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                    {% for sub in substitutes %}
                        <tr>
                            <td>
                                <a href="{{ path("specific_profile", {id: sub.user.id}) }}">
                                    <i class="fa fa-user"></i>&nbsp
                                    {{ sub.user.firstName }} {{ sub.user.lastName }}
                                </a>
                            </td>
                            <td>
                                <a href="tel:{{ sub.user.phone }}">
                                    <i class="fa fa-phone"></i>&nbsp
                                    {{ sub.user.phone }}
                                </a>
                            </td>
                            <td>
                                <a href="mailto:{{ sub.user.email }}">
                                    <i class="fa fa-envelope"></i>&nbsp
                                    {{ sub.user.email }}
                                </a>
                            </td>
                            <td><i class="fa text-larger {{ sub.monday ? "fa-check-circle text-success" : "fa-times text-alert" }}"></i></td>
                            <td><i class="fa text-larger {{ sub.tuesday ? "fa-check-circle text-success" : "fa-times text-alert" }}"></i></td>
                            <td><i class="fa text-larger {{ sub.wednesday ? "fa-check-circle text-success" : "fa-times text-alert" }}"></i></td>
                            <td><i class="fa text-larger {{ sub.thursday ? "fa-check-circle text-success" : "fa-times text-alert" }}"></i></td>
                            <td><i class="fa text-larger {{ sub.friday ? "fa-check-circle text-success" : "fa-times text-alert" }}"></i></td>
                            {% if is_granted_team_leader() %}
                                <td>
                                    <form method="POST"
                                          action="{{ path('substitute_modify', { id: sub.id }) }}">
                                        <button type="submit"
                                                class="button tiny">
                                            <i class="fa fa-pencil-square-o"></i>
                                            Rediger
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST"
                                          onsubmit="return confirm('Vil du virkelig fjerne vikarstillingen til {{ sub.user.firstName }} {{ sub.user.lastName }}?')"
                                          action="{{ path('substitute_delete', { id: sub.id }) }}">
                                        <button type="submit"
                                                class="button tiny alert">
                                            <i class="fa fa-trash"></i>
                                            Slett
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
{% endblock %}
