{% extends 'adminBase.html.twig' %}

{% block customScripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js/stupidtable.js') }}"></script>
    <script src="{{ asset('js/deleteablerow.js') }}"></script>

    <script>

        /**
         * This object organizes the javascript used by this twig.
         *
         * The onReady function is called when the document is ready.
         */
        var Substitute = {

            // The html table containing the substitute assistants
            subTable: $("#substitute-table"),

            onReady: function () {
                // Add sort functionality to the table containing the substitute assistants
                Substitute.subTable.stupidtable();

                // Add arrows after sorting the table
                Substitute.subTable.on("aftertablesort", Substitute.addSortArrows);

                // Bind delete application functionality to each substitute delete button
                Substitute.subTable.find(".delete").deleteablerow('substitute_delete', {
                });
            },

            addSortArrows: function (event, data) {
                var th = $(this).find("th");
                th.find(".arrow").remove();
                var dir = $.fn.stupidtable.dir;

                var arrow = data.direction === dir.ASC ? "asc" : "desc";
                th.eq(data.column).append('<span class="arrow"> <i class="fa fa-sort-' + arrow + '"></i></span>');
            }

        };

        $(document).ready(Substitute.onReady);
    </script>

{% endblock %}

{% block title %}
    Vikar
{% endblock %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Vikarer</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <ul class="inline-list">
            {% include 'common/department_dropdown.html.twig' with {'pathForDepartment': 'substitute_show_by_department', 'departmentParameterName': 'department', 'currentDepartment': department} %}

            <li>
                <a class="button tiny" data-dropdown="semesterDropDown" aria-controls="semesterDropDown"
                   aria-expanded="false">{% if semester != NULL %}{{ semester }}{% else %}Semester{% endif %} <i
                            class="fa fa-caret-down"></i></a>
                <ul id="semesterDropDown" class="f-dropdown" data-dropdown-content tabindex="-1"
                    aria-hidden="true" aria-autoclose="false" tabindex="-1">

                    {% for s in semesters %}

                        <li><a href="{{ path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ 'semester': s.id })) }}">{{ s.name }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
            </ul>
        </div>
    </div>














{% endblock %}
