{% if step == 3 and data.totalInterviewsCount != 0 %}
    <p><a href="{{ path('applications_show_interviewed') }}">Intervjuet {{ data.interviewedAssistantsCount }}/{{ data.totalInterviewsCount }}</a></p>
{% elseif step > 3 %}
    <p><a href="{{ path('applications_show_interviewed') }}">{{ data.totalInterviewsCount }} intervjuer</a></p>
{% endif %}
<p><a href="{{ path('admissionadmin_show') }}">Fordel intervjuer</a></p>

<p><a href="{{ path('applications_show_assigned') }}">Utfør intervju</a></p>

<p><a href="{{ path('applications_show_interviewed') }}">Utførte intervjuer</a></p>
