{% extends 'base_new.html.twig' %}

{% block title %}
    Styre og team
{% endblock %}

{% block javascripts %}
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
    <script>
      /* Team overview tabs */

      // Make first tab active
      $('#team-overview-tabs a:first').tab('show');

      // Make tab change when selector value changes
      $('#team-overview-selector').on('change', function (e) {
        var department = $(this).val();
        if(department != null)
        {
            $('#team-overview-tabs a[aria-controls="' + department + '"]').tab('show');
        }
        else
        {
            $('#team-overview-tabs a[aria-controls="Hovedstyret"]').tab('show');
        }
      });

      // Make selector value change when tab changes
      $('#team-overview-tabs a').on('click', function (e) {
        var department = $(this).attr('aria-controls');
          var department = $(this).val();
          if(department != null)
          {
              $('#team-overview-selector').val(department);
          }
          else
          {
              $('#team-overview-selector').val(department);
          }
      });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/team.css') }}">
{% endblock %}

{% block body %}
    <div class="team-page row">
        <div class="container">
            <header class="page-cover row">
                <div class=" col-md-6">

                    <h1>Styre og team</h1>
                    <p>Vektorprogrammet er en stor organisasjon med assistenter i 5 norske byer.
                        Vi trenger derfor mange frivillige bak kulissene som kan få hjulene til å gå rundt.
                        Uten vektorprogrammets {{ numberOfTeams }} team hadde dette aldri gått ann!
                    </p>
                    <p>
                        Kunne du tenkt deg et team-verv hos oss?
                        <br>
                        <span class="font-weight-bold">Les mer om de ulike teamene nedenfor!</span>
                    </p>
                </div>
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid d-none d-md-block"
                         src="{{ asset_with_version('images/departments_map.png') }}" alt="Kart med avdelinger">
                </div>
            </header>
            <div>
                <h2 class="text-center">Våre team</h2>
                <section class="row my-5">
                    <div class="col-12">
                        <div class="team-overview card py-2 py-sm-4">
                            <!-- Tabs (visible on large screens) -->
                            <div class="card-block pt-4 pb-1 pb-sm-4 d-none d-sm-inline-flex">
                                <ul id="team-overview-tabs" class="nav nav-tabs justify-content-center w-100">
                                    {% for department in departments %}
                                        <li role="presentation" class="nav-item"><a class="nav-link"
                                                                                    href="#{{ department }}"
                                                                                    data-toggle="tab"
                                                                                    aria-controls="{{ department }}">{{ department.city }}</a>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a class="nav-link"
                                           href="#Hovedstyret"
                                           data-toggle="tab"
                                           aria-controls="Hovedstyret">Hovedstyret</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Dropdown (visible on mobile) -->
                            <div class="card-block px-3 px-sm-0 my-2 my-sm-0">
                                <select class="form-control d-block d-sm-none" id="team-overview-selector">
                                    {% for department in departments %}
                                        <option value="{{ department }}">{{ department.city }}</option>
                                    {% endfor %}
                                    <option value="Hovedstyret">Hovedstyret</option>
                                    <!--TODO: Legge til Hovedstyret på dropdownen -->
                                </select>
                            </div>

                            <!-- Panes -->
                            <div class="card-block tab-content px-3 px-sm-0">
                                {% for department in departments %}
                                    <div role="tabpanel" class="tab-pane fade in" id="{{ department }}">
                                        <div class="team-cards-container">
                                            {% for team in department.teams %}
                                                {% include 'team/team_card.html.twig' %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div role="tabpanel" class="tab-pane fade in" id = "Hovedstyret">
                                    <div class="row mx-3 mt-3 mb-3">
                                        <div class="col-md-7" >
                                            <h2>Hovedstyret</h2>
                                            <p>Hovedstyret er det nasjonale styret i vektorprogrammet.
                                                De er et overordnet organ med ansvar for drifting av hele organisasjonen.</p>
                                            <p class="team-email mb-0">
                                                <i class="big-icon m-0 mr-2 text-devil icon-envelope"></i>
                                                <a href="mailto:{{ board.email }}">{{ board.email }}</a>
                                            </p>
                                            <p class="m-0">
                                                <i class="big-icon m-0 mr-2 text-devil icon-users"></i>
                                                <span class="text-devil member-count"> {{ board.activeWorkHistories | length }} medlemmer</span>
                                            </p>
                                            <a href="{{ path('executive_board_page') }}" class="btn btn-primary d-none d-sm-inline-block mt-3">Les
                                                mer om hovedstyret</a>
                                        </div>


                                        <div class="col-md-5" style="align-content: center">
                                            <img class="img-fluid my-2" src="{{ asset_with_version('images/HS_square.jpg') }}"
                                                 alt="Hoverstyret" style="align-self: center">
                                            <!-- Push button under image on mobile -->
                                            <a href="{{ path('executive_board_page') }}" class="btn btn-primary d-block d-sm-none">Les mer
                                                om hovedstyret</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
