{% extends 'base_new.html.twig' %}

{% block title %}
    Styre og team
{% endblock %}

{% block javascripts %}
    {% include "statictext/js_loader_for_static_texts.html.twig" %}
    <script>
    /* Team overview tabs */

        // Make first tab active
        $('#team_overview_tabs a:first').tab("show");

        // Make tab change when selector value changes
        $('#team_overview_selector').on('change', function (e) {
            let department = $(this).val();
            $('#team_overview_tabs a[aria-controls="'+department+'"]').tab('show');
        });

        // Make selector value change when tab changes
        $('#team_overview_tabs a').on('click', function (e) {
            let department = $(this).attr('aria-controls');
            $('#team_overview_selector').val(department);
        });

    /* --------- */

    /* Shorten team emails */
    let teamEmails = $('.team-email');
    const maxEmailLength = 33;
    teamEmails.each(function(i, teamEmail) {
        var email = $(this).text();
        if($(this).text().length > maxEmailLength){
            $(this).text($(this).text().substring(0,maxEmailLength - 4) + '...'); // Shorten
            /* Tooltip */
            $(this).attr('title', email);
            $(this).attr('data-placement', 'bottom');
            $(this).tooltip();
        }
    });
    </script>
{% endblock %}

{% block body %}
    <div class="team-page container">
        <header class="page-cover row">
            <div class=" col-md-6">

                <h1>Styre og team</h1>
                <p>Vektorprogrammet er en stor organisasjon med assistenter i 5 norske byer.
                    Vi trenger derfor mange frivillige bak kulissene som kan f책 hjulene til 책 g책 rundt.
                    Uten vektorprogrammets {{ numberOfTeams }} team hadde dette aldri g책tt ann!
                </p>
                <p>
                    Kunne du tenkt deg et team-verv hos oss?
                    <br>
                    <span class="font-weight-bold">Les mer om de ulike teamene nedenfor!</span>
                </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <img class="img-fluid" src="{{ asset_with_version('images/departments_map.png') }}" alt="Kart med avdelinger">
            </div>
        </header>
        <div>
            <section class="row segment team-overview">
                <h3 class="text-center" >Oversikt</h3>

                <!-- Tabs (visible on large screens) -->
                <ul id="team_overview_tabs" class="nav nav-tabs justify-content-center d-none d-sm-inline-flex">
                    {% for department in departments %}
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#{{ department }}" data-toggle="tab" aria-controls="{{ department }}">{{ department }}</a></li>
                    {% endfor %}
                </ul>

                <!-- Dropdown (visible on mobile) -->
                <select class="form-control d-block d-sm-none" id="team_overview_selector">
                    {% for department in departments %}
                        <option value="{{ department }}">{{ department }}</option>
                    {% endfor %}
                </select>

                <!-- Panes -->
                <div class="tab-content">
                    {% for department in departments %}
                        <div role="tabpanel" class="tab-pane fade in" id="{{ department }}">
                            <div class="team-cards-container">
                                {% for team in department.teams %}
                                    {% include 'team/team_card.html.twig'%}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section class="row my-5">
                <div class="col-md-6">
                    <h2>Hovedstyret</h2>
                    <p>Hovedstyret er det nasjonale styret i vektorprogrammet. De er et overordnet organ med ansvar for drifting av hele organisasjonen.</p>
                    <a href="{{ path('executive_board_page') }}" class="btn btn-primary">Les mer om hovedstyret</a>
                </div>

                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="{{ asset_with_version('images/HS_square.jpg') }}" alt="Hoverstyret">
                </div>
            </section>
        </div>
    </div>
{% endblock %}
