{% extends 'adminBase.html.twig'%}
{% block body %}
    <div class="row">
        <div class="small-12 columns">
            <h3>Søknad til {{ application.team.name }} fra {{ application.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <table>
                <tr>
                    <td>
                        Navn
                    </td>
                    <td>
                        {{ application.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Epost
                    </td>
                    <td>
                        {{ application.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Søknadstekst
                    </td>
                    <td>
                        {{ application.applicationText }}
                    </td>
                </tr>
            </table>

        </div>
    </div>


{% endblock %}