{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="small-12 colums">
            <h1>Søk {{ team.name }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="small-8 columns">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.yearOfStudy) }}
                {{ form_row(form.fieldOfStudy) }}
                {{ form_row(form.motivationText) }}
                {{ form_row(form.biography) }}
                <button>Send</button>
                <br>
                <br>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
