{% extends 'base_new.html.twig' %}

{% block title %}
    {{ team.name }} - Vektorprogrammet
{% endblock %}

{% block facebookDescription %}
    {{ team.shortDescription }}
{% endblock %}

{% block body %}
    <div class="individual-team-page container">
        <header class="page-header row content">
            <div class="col-md-12">
                <h1>{{ team.name }}</h1>
                <p>{{ team.shortDescription }}</p>
            </div>
        </header>
        <section class="team-members">
            {% for activeWorkHistory in team.activeWorkHistories %}
                {% set teamMember = activeWorkHistory.user %}
                <div class="team-member mx-2 my-2 mx-md-4 my-md-3">
                    <a href="{{ path('specific_profile', { 'id': teamMember.id }) }}"><img class="img-fluid rounded-circle mb-4" src="{{ asset_with_version(teamMember.picturePath) }}" alt="{{ teamMember }}"></a>
                    <h5 class="m-0"><a href="{{ path('specific_profile', { 'id': teamMember.id }) }}">{{ teamMember }}</a></h5>
                    <p class="position m-0">{{ activeWorkHistory.position }}</p>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
