{% extends 'adminBase.html.twig' %}
{% block title %}Kontrollpanel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/admin/home.css') }}">
{% endblock %}

{% block default_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Forsiden</a>
    </li>
    <li class="breadcrumb-item active">
        Kontrollpanel
    </li>
{% endblock %}


{% block body %}
    <div class="control-panel">
        <h2 class="text-center my-3">Kontrollpanel</h2>
        <div class="sbs my-5">
            {{ render(controller('AppBundle:ControlPanel:showSBS')) }}
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Brukere</h3>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('useradmin_show') }}">
                        <i class="fa fa-users fa-3x"></i>

                        <p>Brukere</p>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('participanthistory_show') }}">
                        <i class="fa fa-history fa-3x"></i>

                        <p>Deltakerhistorikk</p>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('teamadmin_show') }}">
                        <i class="fa fa-smile-o fa-3x"></i>

                        <p>Team</p>
                    </a>
                </div>
            </div>
            {% if is_granted_team_leader() %}
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('executive_board_show') }}">
                        <i class="fa fa-diamond fa-3x"></i>

                        <p>Hovedstyret</p>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                  <a href="{{ path('generate_mail_lists') }}">
		    <i class="fa fa-list fa-3x"></i>
                        <p>Epostliste</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>


        <div class="row">
            <div class="col-12">
                <h3>Opptak</h3>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('admissionadmin_show') }}">
                        <i class="fa fa-upload fa-3x"></i>

                        <p>Opptak</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('admission_period_admin_show') }}">
                        <i class="fa fa-clock-o fa-3x"></i>

                        <p>Opptaksperiode</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('statistics_application_show') }}">
                        <i class="fa fa-bar-chart fa-3x"></i>

                        <p>Opptaksstatistikk</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('substitute_show') }}">
                        <i class="fa fa-user-secret fa-3x"></i>

                        <p>Vikarer</p>
                    </a>
                </div>
            </div>

            {% if is_granted_team_leader() %}
                <div class="col-4 col-md-3 col-lg-2">
                    <div class="control-panel-item">
                        <a href="{{ path('interview_schema') }}">
                            <i class="fa fa-comments fa-3x"></i>

                            <p>Intervjuskjemaer</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('stand') }}">
                        <i class="fa fa-bullhorn fa-3x"></i>

                        <p>Stand</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">

                </div>
            </div>

            <hr/>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Artikkel</h3>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('articleadmin_show') }}">
                        <i class="fa fa-sticky-note fa-3x"></i>

                        <p>Artikler</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('articleadmin_create') }}">
                        <i class="fa fa-plus-square fa-3x"></i>

                        <p>Ny artikkel</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Diverse</h3>
            </div>

            <div class="col-4 col-md-3 col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('departmentadmin_show') }}">
                        <i class="fa fa-industry fa-3x"></i>

                        <p>Avdeling</p>
                    </a>
                </div>
            </div>

            {% if is_granted_team_leader() %}
                <div class="col-4 col-md-3 col-lg-2">
                    <div class="control-panel-item">
                        <a href="{{ path('show_field_of_studies') }}">
                            <i class="fa fa-bars fa-3x"></i>

                            <p>Linjer</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('schooladmin_show') }}">
                        <i class="fa fa-school fa-3x"></i>

                        <p>Skole</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('surveys') }}">
                        <i class="fa fa-comment fa-3x"></i>

                        <p>Undersøkelser</p>
                    </a>
                </div>
            </div>

            {% if is_granted_team_leader() %}
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('admissionadmin_team_interest') }}">
                        <i class="fa fa-star fa-3x"></i>

                        <p>Teaminteresse</p>
                    </a>
                </div>
            </div>
            {% endif %}

        </div>
        <br>
        <div class="row">

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('sponsors_show') }}">
                        <i class="fa fa-money fa-3x"></i>

                        <p>Sponsorer</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('receipts_show') }}">
                        <i class="fa fa-usd fa-3x"></i>

                        <p>Utlegg</p>
                    </a>
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('certificate_show') }}">
                        <i class="fa fa-sticky-note-o fa-3x"></i>

                        <p>Attest</p>
                    </a>
                </div>
            </div>
            {% if is_granted_team_leader() %}
                <div class="col-4 col-md-3 col-lg-2">
                    <div class="control-panel-item">
                        <a href="{{ path('school_allocation') }}">
                            <i class="fa fa-calendar fa-3x"></i>

                            <p>Timeplan</p>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="col-4 col-md-3 col-lg-2">
                <div class="control-panel-item">
                    <a href="{{ path('todo_list') }}">
                        <i class="fa fa-clipboard-list fa-3x"></i>

                        <p>Sjekkliste</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}
