{% extends 'adminBase.html.twig' %}

{% block title %}
Changelog-objekter
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Changelog-objekter</li>
{% endblock %}

{% block breadcrumb_menu %}
    <a href="{{ path('changelog_create') }}" class="btn btn-outline-success text-success">
        <i class="fa fa-plus"></i> Lag nytt objekt
    </a>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-list-ul"></i> Changelog-objekter ({{ changeLogItems|length }}) </div>
                <div class="table-responsive">
                    <table class="table" id="article-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Tittel</th>
                            <th>Beskrivelse</th>
                            <th>Dato</th>
                            <th>Github-link</th>
                        </tr>
                        </thead>
                        {% for item in changeLogItems %}
                            <tr id="{{ item.id }}">
                                <td class="table-menu">
                                    <div class="dropdown">
                                        <div class="clickable px-2" id="options-{{ item.id }}" data-toggle="dropdown"
                                             aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-secondary"></i>
                                        </div>
                                        <div class="dropdown-menu pt-0" aria-labelledby="options-{{ item.id }}">
                                            <div class="dropdown-header mb-2"><strong>Changelog-objekt {{ item.id }}</strong></div>
                                            <a href="{{ path('changelogitem_edit', { 'id': item.id }) }}"
                                               class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Rediger
                                            </a>
                                            <form method="POST"
                                                  onsubmit="return confirm('Vil du virkelig slette objektet {{ item.title }}?')"
                                                  action="{{ path('changelogitem_delete', { id: item.id }) }}">
                                                <button type="submit"
                                                        class="dropdown-item">
                                                    <i class="fa fa-trash text-danger"></i> Slett
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ item.title | safe_html }}
                                </td>
                                <td>
                                    {{ item.description | safe_html }}
                                </td>
                                <td>
                                    {{ item.date | date("d.m.y") }}
                                </td>
                                <td>
                                    <a href="{{ item.githublink }}">{{ item.githublink | trim('https://') | split("/")[0]}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
