{% extends 'adminBase.html.twig' %}

{% block title %}
    Intervju
{% endblock %}

{# Form themes user to modify the templates of the various form components #}
{% form_theme form 'form/interview_layout.html.twig' %}
{% form_theme form.applicationPractical.days 'form/components/radio_grid_layout.html.twig' %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        {% if not application.interview.cancelled and not application.interview.interviewed %}
                            <form action="{{ path('interview_cancel', {'id' : application.interview.id}) }}" method="POST">
                                <button class="button alert tiny radius float-right" type="submit">Kansellér intervju</button>
                            </form>
                        {% endif %}
                        <h1>Intervju</h1>
                        <h3>Kandidat</h3>
                        <table width="100%">
                            <thead>
                            <tr>
                                <th> Fornavn</th>
                                <th> Etternavn</th>
                                <th> Tlf</th>
                                <th> E-post</th>
                                <th> Linje</th>
                                <th> År</th>
                                <th> Tidligere deltagelse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% set u = application.user %}
                                <td> {{ u.firstName }} </td>
                                <td> {{ u.lastName }} </td>
                                <td> {{ u.phone }} </td>
                                <td> {{ u.email }} </td>
                                <td> {{ u.fieldOfStudy }} </td>
                                <td> {{ application.yearOfStudy }} </td>

                                {% if u.assistantHistories|length %}
                                    <td> Ja</td>
                                {% else %}
                                    <td> Nei</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        <h3>Intervjuet av</h3>
                        <p>{{ application.interview.interviewer }}</p>
                    </div>
                </div>
                {{ form_start(form) }}
                {{ form_errors(form) }}


                <h3>Praktisk informasjon</h3>
                <div class="row">
                    <div class="small-12 columns">
                        <h4>Introduksjon</h4>
                        <ul>
                            <li>En ungdomsskoledag varer fra kl 08.00 til 14.45. I tillegg kommer reisetid</li>
                            <li>Det kan hende at du ikke har noe å gjøre deler av dagen pga timeplanen. Derfor er det
                                lurt å ta med bøker hvis det blir pauser
                            </li>
                            <li>Informere om at vi har to bolker. Spørre om de har en reise eller lignende planlagt NÅ
                                som gjør at de ikke kan en av de
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label class="question-label">{{ form.applicationPractical.days.vars.label }}</label>
                        <ul class="radio-grid">
                            {{ form_widget(form.applicationPractical.days) }}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.applicationPractical.doublePosition) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{form_label(form.applicationPractical.preferredGroup, null, {'label_attr': {'class': 'question-label'}})}}
                        <span class="question-help">Dette kan være f.eks reise, studietur, lab, annet obligatorisk opplegg eller liknende.</span>
                        {{form_errors(form.applicationPractical.preferredGroup)}}
                        {{form_widget(form.applicationPractical.preferredGroup)}}

                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.applicationPractical.english) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.heardAboutFrom) }}
                    </div>
                </div>

                <h3>Intervjuspørsmål
                    <small>{{ application.interview.interviewSchema.name }}</small>
                </h3>
                {% for interviewAnswer in form.interview.interviewAnswers %}
                    <div class="row">
                        <div class="small-12 medium-12 large-9 columns">
                            {{ form_row(interviewAnswer.answer) }}
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.applicationPractical.teamInterest) }}
                    </div>
                </div>

                <h3>Evaluering</h3>
                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interview.interviewScore.explanatoryPower) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interview.interviewScore.roleModel) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interview.interviewScore.suitability) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-4 columns end">
                        {{ form_row(form.interview.interviewScore.suitableAssistant) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        {% if not application.interview.interviewed %}
                            {{ form_widget(form.save, {'attr': {'class': 'button tiny'}}) }}
                            {{ form_widget(form.saveAndSend, {'attr': {'class': 'button tiny success'}}) }}
                            <div class="row">
                                <div class="medium-6 columns">
                                    <br>
                                    <span class="text-alert">Obs!</span> Ved å trykke på 'Lagre og send kvittering' vil et sammendrag med praktisk informasjon (ikke
                                    intervjuspørsmål eller evaluering)
                                    fra dette intervjuet vil bli sendt på e-post til {{ u.firstName }}.
                                </div>
                            </div>
                        {% else %}
                            <button type="submit" class="button tiny">Oppdater</button>
                            {{ form_widget(form.save, {'attr': {'class': 'button tiny hide'}}) }}
                            {{ form_widget(form.saveAndSend, {'attr': {'class': 'button tiny success hide'}}) }}
                            <div class="row">
                                <div class="medium-6 columns">
                                    <br>
                                    <span class="text-alert">Obs!</span> Kvittering vil <b>ikke</b> bli sendt.
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
