{% extends 'adminBase.html.twig' %}

{% block title %}
    Intervju
{% endblock %}

{# Form themes user to modify the templates of the various form components #}
{% form_theme form 'form/interview_layout.html.twig' %}
{% form_theme form.interviewPractical.monday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.interviewPractical.tuesday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.interviewPractical.wednesday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.interviewPractical.thursday 'form/radio_grid_layout.html.twig' %}
{% form_theme form.interviewPractical.friday 'form/radio_grid_layout.html.twig' %}


{% block body %}
    <p></p>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        <h1>Intervju</h1>
                        <h3>Kandidat</h3>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th> Fornavn</th>
                                    <th> Etternavn</th>
                                    <th> Tlf </th>
                                    <th> E-post </th>
                                    <th> Linje </th>
                                    <th> År </th>
                                    <th> Tidligere deltagelse </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% set a = interview.application %}
                                    <td> {{ a.firstName }} </td>
                                    <td> {{ a.lastName }} </td>
                                    <td> {{ a.phone }} </td>
                                    <td> {{ a.email }} </td>
                                    <td> {{ a.statistic.fieldOfStudy }} </td>
                                    <td> {{ a.statistic.yearOfStudy }} </td>

                                    {% if a.statistic.previousParticipation == 1 %}
                                        <td> Ja </td>
                                    {% else %}
                                        <td> Nei </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        <h3>Intervjuet av</h3>
                        <p>{{ interview.interviewer.firstName }} {{ interview.interviewer.lastName }}</p>
                    </div>
                </div>
                {{ form_start(form) }}
                {{ form_errors(form) }}


                <h3>Praktisk informasjon</h3>
                <div class="row">
                    <div class="small-12 columns">
                        <h4>Introduksjon</h4>
                        <ul>
                            <li>En ungdomsskoledag varer fra kl 08.00 til 14.00. I tillegg kommer reisetid</li>
                            <li>Det kan hende at du ikke har noe å gjøre deler av dagen pga timeplanen. Derfor er det lurt å ta med bøker hvis det blir pauser</li>
                            <li>Informere om at vi har to bolker. Spørre om de har en reise eller lignende planlagt NÅ som gjør at de ikke kan en av de</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label class="question-label">Hvilke dager passer for deg?</label>
                        {{ form_row(form.interviewPractical.monday) }}
                        {{ form_row(form.interviewPractical.tuesday) }}
                        {{ form_row(form.interviewPractical.wednesday) }}
                        {{ form_row(form.interviewPractical.thursday) }}
                        {{ form_row(form.interviewPractical.friday) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.interviewPractical.doublePosition) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.interviewPractical.preferredGroup) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.interviewPractical.english) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.interviewPractical.heardAboutFrom) }}
                    </div>
                </div>

                <h3>Intervjuspørsmål <small>{{ interview.interviewSchema.name }}</small></h3>
                {% for interviewAnswer in form.interviewAnswers %}
                    <div class="row">
                        <div class="small-12 medium-12 large-9 columns">
                            {{ form_row(interviewAnswer.answer) }}
                        </div>
                    </div>
                {% endfor %}

                <h3>Evaluering</h3>
                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interviewScore.explanatoryPower) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interviewScore.roleModel) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-4 columns">
                        {{ form_row(form.interviewScore.suitability) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-9 columns">
                        {{ form_row(form.interviewScore.suitableAssistant) }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        {{ form_widget(form.save, {'attr': {'class': 'button tiny'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block customScripts %}
<script>
    var form = $('form[name*="interview"]');
    form.noValidate = true;
    form.on('submit', function(event) { // listen for form submitting
        if (!event.target.checkValidity()) {
            event.preventDefault(); // dismiss the default functionality
            alert('Alle feltene må fylles ut før intervjuet kan lagres'); // error message
        }
    }, false);
</script>
{% endblock %}