{{ message }}
<br/>
Tidspunkt: {{ datetime|date("d.m.y - G:i") }}.
<br/><br/>
<p>For å akseptere eller kansellere intervjuet, gå inn på følgende link: <p/>
<a href="http://www.vektorprogrammet.no/intervju/{{ responseCode }}">Vektorprogrammet.no/intervju/{{ responseCode }}</a>
<br/>
Mvh.
<br/>
{{ fromName }}
<br/>
{{ fromMail }}
<br/>
{{ fromPhone }}
