{% set user = application.user %}
<p>Takk for at du deltok på intervju med Vektorprogrammet!</p>

<p>Status på søknaden din kan du se på "Min side": <a href="{{ url('my_page') }}">{{ url('my_page') }}</a></p>

<p>Her er et sammendrag av informasjonen vi har notert oss, vennligst ta kontakt hvis noe er feil:</p>

<p>Navn: {{ user.firstName }} {{ user.lastName }}<br>
    E-post: {{ user.email }}<br>
    Telefon: {{ user.phone }}<br>
    Linje: {{ user.fieldOfStudy.name }} ({{ user.fieldOfStudy.shortName }})<br>
    År: {{ application.yearOfStudy }}<br>
    Kjønn: {{ user.gender == 1 ? 'Dame' : 'Mann' }}</p>

<p>Dager som passer
    Mandag: {{ application.monday ? "Bra" : "Ikke" }}<br>
    Tirsdag: {{ application.tuesday ? "Bra" : "Ikke" }}<br>
    Onsdag: {{ application.wednesday ? "Bra" : "Ikke" }}<br>
    Torsdag: {{ application.thursday ? "Bra" : "Ikke" }}<br>
    Fredag: {{ application.friday ? "Bra" : "Ikke" }}</p>

<p>
    Dobbel stilling: {{ application.doublePosition ? 'Ja' : 'Nei' }}
    {% if application.preferredGroup %}
        <br>
        Ønsket bolk: {{ application.preferredGroup }}
    {% endif %}
</p>

<p>Ønsket undervisningsspråk: {{ application.language }}</p>

<p>
    Mvh.<br>
    {{ interviewer }}<br>
    {{ interviewer.email }}<br>
    vektorprogrammet.no
</p>
