{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        {% if interview.isPending %}
            <div class="row">
                <div class="col-12 text-center">
                {% include 'interview/interview_invitation_header.html.twig' %}

                <h3 class="mt-5">Hei {{ interview.user }}!</h3>
                <p class="mb-0">Du har blitt innkalt til intervju med Vektorprogrammet.</p>
                <p>For å akseptere tidspunktet, vennligst trykk på:</p>

                <form method="POST"
                      action="{{ path('interview_accept_by_response', {responseCode:interview.responseCode}) }}">
                    <button class="btn btn-lg btn-success my-3">Godta</button>
                </form>

                <p class="mt-5">
                    <small class="text-bold">Hvis det ikke passer, eller hvis du ønsker å kansellere intervjuet, trykk
                        på:
                    </small>
                </p>

                <div class="d-flex justify-content-center">
                    <form method="POST"
                          action="{{ path('interview_request_new_time_by_response', {responseCode:interview.responseCode}) }}">
                        <button class="btn btn-link btn-sm">Be om ny tid</button>
                    </form>
                    <form method="POST"
                          action="{{ path('interview_cancel_by_response', {responseCode:interview.responseCode}) }}"
                          onsubmit="return confirm('Er du sikker på at du vil kansellere intervjuet?');">
                        <button class="btn btn-sm btn-link ml-3 text-danger">Kanseller</button>
                    </form>
                </div>
            </div>
            </div>
        {% else %}
            <header class="row page-header my-5">
                <div class="col-12 text-center">
                    <h1 class="mb-0">Status vektorsøknad {{ interview.application.semester.name|lower }}</h1>
                    <img class="profile-photo rounded-circle mt-4 mb-3"
                         src="{{ asset(interview.user.picturePath | imagine_filter('profile_img_small')) }}">
                    <p class="fs-16 mb-0">Søknad for</p>
                    <p class="mt-0 text-bold">{{ interview.user }}</p>
                </div>
            </header>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3 mb-4">
                    {% include 'my_page/applications.html.twig' with {application: interview.application} %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block footer %}
{% endblock %}
