{% extends 'adminBase.html.twig' %}

{% block title %}
    Sett opp intervju
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('applications_show_assigned', {'department': application.department.id, 'semester': application.semester.id}) }}">Intervjufordeling</a>
    </li>
    <li class="breadcrumb-item active">{{ application.user }}</li>
{% endblock %}


{% block body %}
    {% set u = interview.user %}
    <div class="row my-5">

        <div class="col-12 text-center">
            <h2>Intervjuoppsett for {{ application.user }}</h2>
            <p class="m-0">
                Status: <span style="color: {{ interview.getInterviewStatusAsColor }}">
                    {{ interview.interviewStatusAsString }}
                </span>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3 col-xxxl-4 offset-xxxl-4">
            {% include 'interview/schedule_status_card.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-user-o"></i> Kandidat</div>
                <div class="card-body">
                    {% include 'interview/interviewee_table.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-users"></i> Intervjuere</div>
                <div class="card-body d-flex justify-content-center">
                    <div class="d-flex flex-row">
                        <div class="interviewer">
                            <h5 class="text-center">Intervjuer</h5>
                            <p class="text-center">{{ interview.interviewer.firstName }} {{ interview.interviewer.lastName }}</p>

                            <a href="{{ path('interview_admin_assign_co_interviewer', {'id': interview.id, 'from': 'schedule'}) }}">
                            <img class="scheduler-photo profile-photo bordered rounded-circle "
                                 src="{{ asset(interview.interviewer.picturePath | imagine_filter('profile_img')) }}">
                            </a>
                        </div>
                        <div class="mx-3"></div>
                        <div class="interviewer">
                            <h5 class="text-center">Medintervjuer</h5>
                            {% if interview.cointerviewer %}
                                <p class="text-center">{{ interview.coInterviewer.firstName }} {{ interview.coInterviewer.lastName }}
                                <a href="{{ path('interview_admin_assign_co_interviewer', {'id': interview.id, 'from': 'schedule'}) }}">(endre)</a>
                                <a href="{{ path('interview_admin_assign_co_interviewer', {'id': interview.id, 'from': 'schedule'}) }}">
                                    <div class="no-co-interviewer img-blur-container">
                                        <img class="scheduler-photo profile-photo bordered rounded-circle "
                                             src="{{ asset(interview.coInterviewer.picturePath | imagine_filter('profile_img')) }}">
                                        <div class="profile-photo-overlay">Velg intervjuer</div>
                                    </div>
                                </a>

                            {% else %}
                                <p class="text-center text-faded font-italic">Ingen</p>
                                    <a href="{{ path('interview_admin_assign_co_interviewer', {'id': interview.id, 'from': 'schedule'}) }}">
                                <div class="no-co-interviewer img-blur-container rounded-circle bordered">
                                        <img class="scheduler-photo profile-photo-blur"
                                             src="{{ asset(interview.interviewer.picturePath | imagine_filter('profile_img')) }}">
                                        <div class="profile-photo-overlay">Velg intervjuer</div>
                                </div>
                                    </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-clock-o"></i> Tid og sted</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.datetime) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.room) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.campus) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            <label>Link til kart <a href="https://use.mazemap.com/" target="_blank" rel="noopener">(MazeMap)</a></label>
                            {{ form_row(form.mapLink) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-envelope-open-o"></i> Melding</div>
                <div class="card-body">
                    <div class="row hide">
                        <div class="col-12 col-md-4">
                            {{ form_row(form.from) }}
                        </div>
                        <div class="col-12 col-md-4 end">
                            {{ form_row(form.to) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.message) }}
                            <p class="m-0 text-center"><i class="fa fa-info-circle"></i> Tid og sted blir
                                automatisk lagt til i meldingen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    {{ form_widget(form.preview, {'attr': {'class': 'btn btn-outline-secondary ignore-auto-disable', 'formtarget': '_blank'}}) }}
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#statusModal">
                        Endre status
                    </button>
                    <div class="float-right">
                        {{ form_widget(form.saveAndSend, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{{ path('interview_edit_status', {id: interview.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="statusModalLabel">Endre status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select class="form-control" name="status" id="status">
                            {% set s = interview.interviewStatusAsString %}
                            <option value="4" {% if s == 'Ikke satt opp' %}selected{% endif %}>Ikke satt opp</option>
                            <option value="0" {% if s == 'Ingen svar' %}selected{% endif %}>Ingen svar</option>
                            <option value="1" {% if s == 'Akseptert' %}selected{% endif %}>Akseptert</option>
                            <option value="2" {% if s == 'Ny tid ønskes' %}selected{% endif %}>Ny tid ønskes</option>
                            <option value="3" {% if s == 'Kansellert' %}selected{% endif %}>Kansellert</option>
                        </select>
                        <p class="my-3"><span class="text-danger text-bold">Obs!</span> Dette vil laste inn siden på
                            nytt. Alle felter vil bli tilbakestilt.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary">Lagre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'common/datetime_picker.html.twig' with {
        inputIds: [form.datetime.vars.id]
    } %}
{% endblock %}
