{% extends 'adminBase.html.twig' %}

{% block title %}
    {{ isCreate ? 'Nytt intervjuskjema' : 'Endre intervjuskjema - ' ~ schema.name }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/admin/survey_form.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset_with_version('js/question_repeater.js') }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', QuestionManager.onReady);
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('interview_schema') }}">Intervjuskjema</a>
    </li>
    <li class="breadcrumb-item active">{{ isCreate ? 'Nytt intervjuskjema' : schema.name }}</li>
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-xl-10 col-xxl-8 col-xxxl-6">
            <div class="card">
                <div class="card-header"><i class="fa fa-comments-o"></i> Intervjuskjema</div>

                <div class="card-body">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            {% include 'questions/repeatable_question.html.twig' with {'questions': form.interviewQuestions} %}

            <div class="card">
                <div class="card-body">
                    <p>
                        <a href="#" id="addQuestionButton" class="button tiny">
                            <i class="fa fa-plus"></i> Nytt Spørsmål
                        </a>
                    </p>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            <div class="hide">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
