{% extends 'adminBase.html.twig' %}

{% block title %}
    Intervju: {{ interview.user.firstName }} {{ interview.user.lastName }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('applications_show_interviewed', {'department': application.department.id, 'semester': application.semester.id}) }}">Intervjuer</a>
    </li>
    <li class="breadcrumb-item active">{{ application.user }}</li>
{% endblock %}

{% block breadcrumb_menu %}
    <a href="{{ path('interview_conduct', { 'id': application.id }) }}"
       class="btn btn-outline-secondary">Rediger intervju</a>
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header">
            <span><i class="fa fa-comments-o"></i> Intervju - {{ application.user }} <small>{{ interview.conducted|date("d.m.y - G:i") }}</small></span>
        </div>
        <div class="table-responsive">
            {% include 'interview/interviewee_table.html.twig' %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Praktisk informasjon
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <label class="question-label">Er det noen dager som IKKE passer for deg?</label>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Mandag</th>
                            <th>Tirsdag</th>
                            <th>Onsdag</th>
                            <th>Torsdag</th>
                            <th>Fredag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ application.monday ? "Bra" : "Ikke" }}</td>
                            <td>{{ application.tuesday ? "Bra" : "Ikke" }}</td>
                            <td>{{ application.wednesday ? "Bra" : "Ikke" }}</td>
                            <td>{{ application.thursday ? "Bra" : "Ikke" }}</td>
                            <td>{{ application.friday ? "Bra" : "Ikke" }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-9">
                    <label class="question-label">
                        Kunne du tenke deg enkel eller dobbel stilling?
                    </label>
                    <p>{{ application.doublePosition ? '8 uker':'4 uker' }}</p>
                </div>
            </div>

            <div class="row doublePositionRow">
                <div class="col-12 col-lg-9">
                    <label class="question-label">
                        Er det noen tidspunkt i løpet av semesteret du ikke kan delta på?
                    </label>
                    <p>
                        {% if application.preferredGroup == "Bolk 2" %}
                            Kan ikke i bolk 1
                        {% elseif application.preferredGroup == "Bolk 1" %}
                            Kan ikke i bolk 2
                        {% else %}
                            Kan hele semesteret
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-9">
                    <label class="question-label">Vil du undervise på norsk skole eller internasjonal skole?</label>
                    <p>
                        {{ application.language }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-9">
                    <label class="question-label">Hvor hørte du om Vektorprogrammet?</label>
                    <p>
                        {{ application.heardAboutFrom|join(', ') }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                    <label class="question-label">Legg til personen i teaminteresse-listen?</label>
                    <p>
                        {{ application.teamInterest ? 'Ja' : 'Nei' }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                    <label class="question-label">Hvilke team er du eventuelt interessert i?</label>
                    <p>
                        {% if application.potentialTeams|length %}
                            {{ application.potentialTeams|join(', ') }}
                        {% else %}
                            Ingen valgt
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    </div>

    {% if interview.application.specialNeeds %}
    <div class="card" id="special">
        <div class="card-header"><i class="fa fa-align-justify"></i> Spesielle behov</div>
        <div class="card-body">
            <label class="question-label">
                <i class="fa fa-exclamation-triangle text-warning"></i>
                Spesielle behov</label>
            <p class="m-0">{{ interview.application.specialNeeds }}</p>
        </div>
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i> Intervjuspørsmål <small>{{ application.interview.interviewSchema.name }}</small></div>
        <div class="card-body">
            {% for interviewAnswer in interview.interviewAnswers %}
                <label class="question-label">{{ interviewAnswer.interviewQuestion.question }}</label>
                <p>
                    {{ interviewAnswer }}
                </p>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i> Evaluering</div>
        <div class="card-body">
            <table class="table table-bordered w-auto">
                <tr>
                    <th>Forklaringsevne</th>
                    <td>{{ interview.interviewScore.explanatoryPower }}</td>
                </tr>
                <tr>
                    <th><span class="has-tip"
                              title="Forbilde for ungdomsskoleelever">Forbilde</span></th>
                    <td>{{ interview.interviewScore.roleModel }}</td>
                </tr>
                <tr>
                    <th>Egnethet</th>
                    <td>{{ interview.interviewScore.suitability }}</td>
                </tr>
                <tr>
                    <th>Sum</th>
                    <td><strong>{{ interview.interviewScore.sum }}</strong></td>
                </tr>
            </table>
            <div class="row">
                <div class="col-12 col-lg-9">
                    <label class="question-label">Passer studenten som assistent?</label>
                    <p class="m-0">{{ interview.interviewScore.suitableAssistant }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
