{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/assistants.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid assistants">
        <div class="content">
            <header class="row page-header mb-0">
                <div class="col-12">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistants-header'} %}
                </div>
            </header>
        </div>

        {% if departmentsWithActiveAdmission is not empty %}
            <div class="content text-center call-to-action jumbotron">
                <i class="fa fa-info-circle alert-icon text-dark-blue"></i>
                {% if department_in_url and specific_department in departmentsWithActiveAdmission %}
                    <p class="text-dark-blue">
                        Avdeling
                        <span class="active-admission-departments">
                            {{ specific_department }}
                        </span>
                        har opptak nå!
                    </p>
                {% else %}
                    <p class="text-dark-blue">
                        Disse avdelingene har opptak nå:
                        <br class="d-md-none">
                        <span class="active-admission-departments">
                            {{ departmentsWithActiveAdmission|join(', ') }}
                        </span>
                    </p>
                {% endif %}
                <button class="btn btn-md btn-success" onclick="scrollToElement('application')">
                    Scroll ned for å søke! <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        {% else %}
            <br>
        {% endif %}

        <section class="container assistant-perks">
            <div class="row">
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/graduation.svg') }}" alt="CV">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistants-role-model'} %}
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/calendar.svg') }}" alt="CV">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistants-social'} %}
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/certificate.svg') }}" alt="CV">
                    {% include 'statictext/static_content.html.twig' with {'id': 'assistants-cv'} %}
                </div>
            </div>
        </section>

        <div class="content">

            <section>
                {% include 'statictext/static_content.html.twig' with {'id': 'assistants-teacher'} %}
                <img src="{{ asset_with_version('images/teacher.png') }}" class="teacher-img">
                {% include 'statictext/static_content.html.twig' with {'id': 'assistants-teacher-2'} %}

            </section>
            <section>
                {% include 'statictext/static_content.html.twig' with {'id': 'assistants-tasks'} %}
            </section>

            <section>
                <h2>Hvordan blir jeg Vektorassistent?</h2>
                <div class="row requirements">
                    <div class="col-xs-12 col-md-6">
                        {% include 'statictext/static_content.html.twig' with {'id': 'assistants-admission-requirements'} %}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% include 'statictext/static_content.html.twig' with {'id': 'assistants-admission-process'} %}
                    </div>

                </div>
            </section>

            <section id="application">
                <h2>Søk nå!</h2>
                {% include 'admission/application_form.html.twig' %}
                {% include 'common/flash.html.twig' %}
            </section>

            <p class="medium-bold text-center">Har du noen spørsmål? Sjekk ut
                <a href="/omvektor#FAQ">ofte stilte spørsmål og svar</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if scroll_to_admission_form %}
        <script>
            $('document').ready(function() {
                window.location.hash = 'application';
            });
        </script>
    {% endif %}
    <script>
        $(document).ready(function() {
            /* Contact tabs */
            changeDepartment({{ specific_department.id }});

            // Make tab and department form field change when selector value changes
            $('#department-box-selector').on('change', function () {
                changeDepartment($(this).val());
            });

            // Make selector value and department form field change when tab changes
            $('#department-box-tabs a').on('click', function() {
                changeDepartment($(this).attr('aria-controls'));
            });
        });

        function changeDepartment(id) {
            $("#department-box-tabs a[aria-controls='"+id+"']").tab("show");
            $('#department-box-selector').val(id);
        }
    </script>
    {% if pixelId %}
        <script>
            (function addEventListeners() {
                var submitsApplicationBtns = document.querySelectorAll('.submit-application');
                for (var i = 0; i < submitsApplicationBtns.length; i++) {
                    var submitsApplicationBtn = submitsApplicationBtns[i];
                    submitsApplicationBtn.addEventListener('click', function() {
                        fbq('track', 'CompleteRegistration', {value:  40.00, currency:'NOK'})
                    });
                }
            })();
        </script>
    {% endif  %}

    <script>
      (function addEventListeners() {
          var inputs = document.querySelectorAll('.subscribe-input');
          for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            input.addEventListener('focus', clearErrors);
            input.addEventListener('blur', validate);
            input.addEventListener('keyup', enterSubmit);
          }
        })();

        function clearErrors() {
          var input = this.parentNode.querySelector('input[type=\'email\']');
          if (!input) {
            return;
          }
          input.classList.remove('is-invalid');
        }


        function validate(target) {
          if (target.target) {
            target = target.target;
          }
          if (!target.parentNode) {
            alert("Noe gikk galt");
            return false;
          }
          var input = target.parentNode.querySelector('input[type=\'email\']');
          var error = target.parentNode.querySelector('.invalid-feedback');
          if (!input || !error) {
            alert("Noe gikk galt");
            return false;
          }
          var email = input.value;
          if (!email) {
            setError(input, 'E-post må fylles ut');
            return false;
          }

          return true;
        }

        function enterSubmit(e) {
          if (e.keyCode === 13) {
            e.target.parentNode.querySelector('button').click();
          }
        }

        function subscribe(department, target) {
          if (!validate(target)) {
            return;
          }
          var email = target.parentNode.querySelector('input[type=\'email\']').value;
          var infoMeeting = target.parentNode.querySelector('input[type=\'checkbox\']').checked;
          $.ajax({
            type: "POST",
            url: "{{ path('admission_subscribe') }}",
            data: {
                department: department,
                email: email,
                infoMeeting: infoMeeting
            },
            success: function () {
                setComplete(target)
            },
            error: function(err) {
              if (err.responseText.indexOf("Dette er ikke en gyldig e-postadresse") !== -1) {
                setError(target, 'Dette er ikke en gyldig e-postadresse');
              } else {
                setError(target, 'Det har skjedd en feil under registrering av e-postadressen. Vennligst prøv igjen.')
              }
            },
            dataType: "json"
          });
        }
        function setComplete(element) {
          $(element).parent('.form-group').html("<div class='text-center'>" +
            "<i class='fa fa-3x fa-check text-success'></i>" +
            "<p>Vi sender deg en melding når opptaket starter!</p>" +
            "</div>")
            {% if pixelId %}
                fbq('track', 'Lead', {value: 30.00, currency: 'NOK'});
            {% endif %}

        }
        function setError(element, message) {
          var input = element.parentNode.querySelector('input');
          var error = element.parentNode.querySelector('.invalid-feedback');
          if (!input || !error) {
            alert("Noe gikk galt");
            return false;
          }

          input.classList.add('is-invalid');
          error.innerHTML = message;
        }
        function scrollToElement(elementId) {
            let selector = '#' + elementId;
            $('html, body').animate({ scrollTop:  $(selector).offset().top - 50 }, 'slow');

        }
    </script>
{% endblock %}
