{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/assistants.css') }}">
{% endblock %}


{% block body %}
    <div class="row assistants">
        <header class="page-header">
            <h1>Assistenter</h1>
            <p class="header-text">Vektorassistent er et frivillig verv der du reiser til en ungdomsskole én dag i uka
                for å hjelpe til som
                <span class="medium-bold">lærerassistent i matematikk</span>. En stilling som vektorassistent varer i 4
                eller 8 uker, og du kan selv
                velge hvilken ukedag som passer best for deg. </p>
        </header>
        <div class="container">
            <div class="row">
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/certificate.svg') }}" alt="CV">
                    <h4>Fint å ha på CVen</h4>
                    <p>Erfaring som arbeidsgivere setter pris på. Alle assistenter får en attest.</p>
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/calendar.svg') }}" alt="CV">
                    <h4>Sosiale arrangementer</h4>
                    <p>Alle assistenter blir invitert til arrangementer som fester, populærforedrag, bowling, grilling i
                        parken,
                        gokart og paintball.</p>
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/graduation.svg') }}" alt="CV">
                    <h4>Vær et forbilde</h4>
                    <p>Her kommer en liten tekst om at vektorassistenter er superhelter i matteundervisningen.</p>
                </div>
            </div>
        </div>

        <div class="small container">

            <section>
                <h2>Lærerassistent i matematikk</h2>
                <p>Vektorprogrammet er en studentorganisasjon som sender realfagssterke studenter til grunnskolen for å
                    hjelpe elevene med matematikk i skoletiden. Vi ser etter deg som lengter etter en mulighet til å
                    lære
                    bort kunnskapene du sitter med og ønsker å ta del i et sterkt sosialt fellesskap. Etter å ha vært
                    vektorassistent kommer du til å sitte igjen med mange gode erfaringer og nye venner på tvert av
                    trinn og
                    linje.
                </p>
                <img src="{{ asset_with_version('images/teacher.svg') }}" class="teacher-img">
                <p>I tillegg vil du få muligheten til å delta på mange sosiale arrangementer, alt fra fest og
                    grilling til spillkveld. Samtidig arrangerer vi populærforedrag som er til for å øke motivasjonen
                    din
                    for videre studier. Vi har hatt besøk av blant annet Andreas Wahl, Jo Røislien, Knut Jørgen Røed
                    Ødegaard og James Grime.
                </p>

            </section>
            <section>
                <h2>Arbeidsoppgaver</h2>
                <p>
                    Her trenger vi en tekst som forklarer hva en assistent gjør ute på skolen (får en gruppe elever på
                    grupperom,
                    hjelpe til med oppgaveløsing i klasserom osv.) Husk å få med at man samarbeider med en lærer og at
                    man
                    alltid blir sendt ut sammen med en annen vektorassistent. Også noen ord om hvor mye barn og lærere
                    setter
                    pris på vektorassistenter (motivasjon, bedre hjelp til oppgaveløsing, de sterke elevene får
                    spennende og
                    utfordrende oppgaver osv.)</p>
            </section>

            <section>
                <h2>Hvordan blir jeg Vektorassistent?</h2>
                <div class="row requirements">
                    <div class="col-xs-12 col-md-6">
                        <h5>Opptakskrav</h5>
                        <ul>
                            <li>Du studerer på høgskole/universitet</li>
                            <li>Du har hatt R1/S2 på videregående</li>
                            <li>Du har tid til å dra til en ungdomsskole <br>èn dag i uka (kl. 8-14)</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h5>Opptaksprosessen</h5>
                        <ol>
                            <li>Vektorprogrammet tar opp nye assistenter i starten av hvert semester</li>
                            <li>Send inn søknad fra skjemaet lengre ned på denne siden</li>
                            <li>Møt opp på intervju slik at vi kan bli bedre kjent med deg</li>
                            <li>Dra på et gratis pedagogikkurs arrangert av Vektorprogrammet</li>
                            <li>Få tildelt en ungdomsskole som du og din vektorpartner skal dra til</li>
                        </ol>
                    </div>

                </div>
            </section>

            <section id="application">
                {% include 'admission/application_form.html.twig' %}
            </section>
        </div>
    </div>
{% endblock %}

