{% extends 'base.html.twig' %}

{% block title %}
    Styret og Team
{% endblock %}
	
	
{% block body %}

    <p></p>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1> Styret og Team </h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3 class="no-bottom-margin"></h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
              <table>
                        <tr>
                            <td><h3><a href="{{ path('executive_board_page') }}">{{ board.name }}</a></h3></td>
                            <td><span class="team-short-description">{{ board.shortDescription }}</span></td>
                            <td></td>
                        </tr>
                </table>
            <table>

                {% for department in departments %}
                    <tr>
                        <th colspan="3">
                            <h3>{{ department.shortName }}</h3>
                        </th>
                    </tr>
                    {% for team in department.teams %}
                        <tr>
                            <td><h6><a href="{{ path('team_page', {'id': team.id}) }}">{{ team.name }}</a></h6></td>
                            <td><span class="team-short-description">{{ team.shortDescription }}</span></td>
                            {% if team.acceptApplication %}
                                <td> <a href="{{ path('team_application',{id:team.id}) }}" class="button tiny"> Søk</a></td>
                            {% else %}
                                <td>Opptak stengt</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}
