{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/about.css') }}">
{% endblock %}

{% block body %}
    <div class="about">
        <section class="content-centered page-intro">
            <h1>Om Vektorprogrammet</h1>
            <p>Vektorprogrammet arbeider for å øke interessen for matematikk og realfag blant elever i
                grunnskolen. Vi
                er en nasjonal studentorganisasjon som sender studenter med utmerket realfagskompetanse til
                skoler for å
                hjelpe elevene i matematikktimene. Disse studentene har også gode pedagogiske evner og er gode
                rollemodeller – de er Norges realfagshelter.</p>
        </section>

        <section class="row content-centered">
            <div class="col-xs-6">
                <h2>Motivere elever</h2>
                <p>Vektorprogrammet ønsker å øke matematikkforståelsen blant elever i grunnskolen. Forståelse gir
                    mestringsfølelse som fører til videre motivasjon. Siden matematikk er grunnlaget for alle
                    realfag er målet at dette også skal føre til motivasjon og videre utforskning av realfagene.</p>
            </div>
            <div class="col-xs-6">
                <img src="{{ asset_with_version('images/teacher.svg') }}" alt="Motivere elever">
            </div>
        </section>

        <section class="row content-centered">
                <div class="col-xs-6">
                    <img src="{{ asset_with_version('images/teacher.svg') }}" alt="Motivere studenter">
                </div>
                <div class="col-xs-6">
                    <h2>Motivere studenter</h2>
                    <p>Vi har som mål at alle studentene skal sitte igjen mer motivert for videre studier etter å ha
                        vært vektorassistent. Av erfaring vet vi at muligheten til å formidle egen kunnskap og se at
                        deres arbeid gir elevene mestringsfølelse er en sterk motivasjonsfaktor. Videre arrangerer vi
                        både sosiale og faglige arrangementer for å forsterke denne motivasjonen.</p>
                </div>
        </section>

        <section class="teacher-preview content-centered">
                    <h2>En forsmak til læreryrket</h2>
                    <p>Siden studentene er tilstede i undervisningen får de en introduksjon til læreryrket. Mange som
                        studerer
                        realfag vurderer en fremtid som lærer, og får gjennom oss muligheten til å få reell
                        erfaring.</p>
                    <img src="http://placehold.it/900x335" alt="En forsmak til læreryrket">
        </section>

        <section class="content-centered contact-links">
            <ul>
                <li>Kontakt:</li>
                {% for department in get_departments() %}
                    <li><a href="mailto:{{ department.email }}" smooth-scroll>{{ department.city }}</a></li>
                {% endfor %}
            </ul>
        </section>

        {#<section class="contact-us vektor-reminder-form mdl-shadow--4dp" id="contact-us">
            <h3>Kontaktskjema</h3>
            <form action="">
                <div class="mdl-grid">
                    <mdl-cell class="mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="name">
                            <label class="mdl-textfield__label" for="name">Navn...</label>
                        </div>
                    </mdl-cell>
                    <mdl-cell class="mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="email">
                            <label class="mdl-textfield__label" for="email">E-post...</label>
                        </div>
                    </mdl-cell>
                    <mdl-cell class="mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" id="message" rows="10"></textarea>
                            <label class="mdl-textfield__label" for="email">Melding...</label>
                        </div>
                    </mdl-cell>
                    <mdl-cell class="mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                            <input class="mdl-textfield__input" value="{{ get_departments()[0].city }}" type="text"
                                   id="department" readonly tabIndex="-1"/>
                            <label class="mdl-textfield__label" for="department">Til avdeling</label>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="department">
                                {% for department in get_departments() %}
                                    <li class="mdl-menu__item">{{ department.city }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </mdl-cell>
                </div>
                <br>
                <br>
                <br>
                <button type="button"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    FÅ PÅMINNELSE
                </button>
            </form>
        </section>#}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var links = document.querySelectorAll('.contact-links a');
        var form = document.querySelector('#contact-us form');

        for (var i = 0; i < links.length; i++) {
          var link = links[i];
          link.addEventListener('click', function (event) {
            var department = event.target.innerHTML;
            form.querySelector('#department').value = department;
          });
        }
    </script>
{% endblock %}

